<ul class="list-group">

      <li class="list-group-item">
          <h3><%= link_to('Category', categories_path)  %><h3>
      </li>

      <li class="list-group-item">
          <h3><%= link_to('Products', products_path)  %><h3>
      </li>

      <li class="list-group-item">
          <h3><%= link_to('Users', users_path)  %><h3>
      </li>

      <li class="list-group-item">
          <h3><%= link_to('Addresses', addresses_path)  %><h3>
      </li>

      <li class="list-group-item">
          <h3><%= link_to('Orders', orders_path)  %><h3>
      </li>

</ul>