
<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>Number: <%= credit_card.card_number %></p>
<p>Expiration: <%="#{credit_card.exp_month}-#{credit_card.exp_year}"%></p>
<p>CCV: <%= credit_card.ccv %></p>
<%= link_to "Delete Credit Card", admin_credit_card_path(credit_card), :method => :delete, :data => { confirm: "Are you sure?" } %>
<hr>