<!-- table used for both admin addresses index and user's addresses -->

<div class="panel panel-default">

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Orders</th>
        <th>Created</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>

    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.id %></td>
        <td>
        <% if address.user %>
          <%= link_to "#{address.user.first_name} #{address.user.last_name}", admin_user_path(address.user)%>
        <% end %>
        </td>
        <td><%= address.street_address %></td>
        <td><%= address.city.name%></td>
        <td><%= address.state.name%></td>
        <td><%= num_orders(address) if address.user %></td>
        <td><%= address.created_at.strftime("%Y-%m-%d") %></td>
        <% if address.user %>
            <td><%= link_to "show", admin_user_address_path(address.user, address) %></td>
            <td><%= link_to "edit", edit_admin_user_address_path(address.user, address) %></td>
            <td><%= link_to "delete", admin_user_address_path(address.user, address), method: :delete, data: { confirm: "Are you sure you want to delete?" } %></td>
        <% end %>
      </tr>

    <% end %>

    </tbody>
  </table>

</div>




