<%= form_for [:admin, @user, @address] do |f| %>

  <%= f.label :first_name, 'First Name' %>
  <%= f.text_field :first_name %>
  </br>
  <%= f.label :last_name, 'Last Name' %>
  <%= f.text_field :last_name %>
  </br>
  <%= f.label :email, 'Email' %>
  <%= f.text_field :email %>
  </br>
  <%= f.label :billing_id, 'Default Billing Address' %>
  <% if @user.addresses.empty? %>
    <%= f.text_field :billing_address %>
  <% else %>
    <%= f.collection_select(:billing_id, @user.addresses, :id, :street_address) %>
  <% end %>
  </br>
  <%= f.label :shipping_id, 'Default Shipping Address' %>
  <% if @user.addresses.empty? %>
    <%= f.text_field :shipping_address %>
  <% else %>
    <%= f.collection_select(:shipping_id, @user.addresses, :id, :street_address) %>
  <% end %>
  </br>
  <%= f.submit %>
  <a class='btn btn-primary btn-block' role='button' href=<%= admin_user_path, method: :delete %> >Delete User</a>

<% end %>