<div class = "col-xs-8 panel panel-default">

<%= form_for [:admin, @address] do |f| %>

  <%= f.label "Owner ID: "%>  <span class="badge"><%= params[:user_id] %></span><br />
  <strong>Owner Name: </strong><%= link_to "#{User.find(params[:user_id]).full_name} (click to view)", admin_user_path(params[:user_id]), class: "test" %>

  <div class="form-group">
    <%= f.label "Street" %>
    <%= field_with_errors(@address, :street_address) %>
    <%= f.text_field :street_address, class: "form-control" %>
  </div>


  <%= f.fields_for :city do |city_fields| %>
  <div class="form-group">
    <%= city_fields.label "City" %>
    <%= field_with_errors(city_fields.object, :name) %>
    <%= city_fields.text_field :name, class: "form-control" %>
  </div>
<% end %>

  <div class="form-group">
    <%= f.label "State" %>
    <%= f.select :state_id, State.all.collect {|c| [c.name, c.id] }, {}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :zip_code %>
    <%= field_with_errors(@address, :zip_code) %>
    <%= f.text_field :zip_code, class: "form-control"  %>
  </div>

  <%= f.hidden_field :user_id, :value => params[:user_id] %>

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-primary btn-lg btn-block" %>
  </div>


<% end %>
