
<%= form_for [:admin, @address], url: admin_user_address_path(@address.user_id, @address.id), html: { method: :patch } do |f| %>
  <ul>
    <% @address.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>

  <div class="row">
    <div class="col-xs-2">
      <p><%= f.label "Owner ID:", strong: true%></p>
    </div>
    <div class="col-xs-10">
      <p><%= f.label "#{@address.user_id}", strong: true%></p>
    </div>  
  </div>

  <div class="row">
    <div class="col-xs-2">
      <p><%= f.label "Owner Name:", strong: true%></p>
    </div>
    <div class="col-xs-10">
      <p><%=link_to "#{@address_info['fname']} #{@address_info['lname']} (click to view)", 
            admin_user_path(@address.user.id)%></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <p><%= f.label 'Address: ', strong: true%></p>
    </div>
    <div class="col-xs-10">
      <p><%= f.text_field :street_address, class: "form-control"%></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <p><%= f.label 'Category: ', strong: true%></p>
    </div>
    <div class="col-xs-10">
      <p><%= f.collection_select :city_id, City.all, :id, :name, class: "form-control"%></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <p><%= f.label 'State: ', strong: true%></p>
    </div>
    <div class="col-xs-10">
      <p><%= f.collection_select :state_id, State.all, :id, :name, class: "form-control"%></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <p><%= f.label 'Zip Code: ', strong: true%></p>
    </div>
    <div class="col-xs-10">
      <p><%= f.text_field :zip_code, class: "form-control"%></p>

    <br>
      <%= f.submit class: "btn btn-block btn-success"%>
      <br>
    </div>
  </div>
<%end%>
