<%= form_for [:admin, address], html: {class: "address-form"} do |f| %>
<div class="row">
  <div class="col-sm-3">
    <%= f.label :user_id, "Owner ID: " %>
  </div>
  <%= f.number_field :user_id, value: user['id'], disabled: true, required: true %><br>
  <%= f.hidden_field :user_id, value: user['id']  %>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= f.label :full_name, "Owner Name: " %>
  </div>
  <%= display_form_errors(address, :name) %>
  <%= f.text_field :full_name, value: user['first_name'] + " " + user['last_name'], disabled: true %><br>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= f.label :street_address, "Street: " %>
  </div>
  <%= display_form_errors(address, :street_address) %>
  <%= f.text_field :street_address %><br>
</div>
  <%= f.fields_for :city_attributes do |c| %>
    <div class="row">
      <div class="col-sm-3">
        <%= c.label :name, "City: "%>
      </div>
      <%= display_form_errors(address.city, :name) %>
      <%= c.text_field :name %><br>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-3">
      <%= f.label :state_id, "State: "%>
    </div>
    <%= display_form_errors(address, :state_id) %>
    <%= f.select :state_id, State.all.map { |s| [s.name, s.id] } %><br>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <%= f.label :zip_code, "Zip Code: " %>
    </div>
    <%= display_form_errors(address, :zip_code) %>
    <%= f.number_field :zip_code %>
  </div>
  <div class="center">
    <%= f.submit "#{address.persisted? ? "Update" : "Create New"}",  class: "btn-lg btn-primary align-center", id: "submit-btn"%>
    <% if address.persisted? %>
      <br>
      <br>
      <%= link_to "Delete Address", admin_address_path(@address), method: 'delete', data: { confirm: "Are you sure you want to delete this address" }, class: "underline links" %>
    <% end %>
  </div>
<% end %>
