<h1 class="text-center">Edit <%= @address.user.first_name %> <%= @address.user.last_name %>'s Address</h1>

<div class="well">

  <h5><strong>Owner ID:</strong> <%= @address.user.id %></h5>
  <h5><strong>Owner Name:</strong>
    <%= link_to "#{@address.user.first_name} #{@address.user.last_name} (click to view)", admin_user_path(@address.user)  %>
  </h5>

  <%= form_for [:admin, :user, @address], {url: {action: :update}} do |f| %>

    <div class="form-group">
      <%= f.label :street_address %>
      <%= field_with_errors(@address, :street_address) %>
      <%= f.text_field :street_address, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :secondary_address %>
      <%= field_with_errors(@address, :secondary_address) %>
      <%= f.text_field :secondary_address, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :city %>
      <%= field_with_errors(@address, :city) %>

      <%= f.text_field :city, value: @address.city.name, class: "form-control" %>
    </div>    

    <div class="form-group">
      <%= f.label :state %>
      <%= field_with_errors(@address, :state) %>
      <%= f.select :state, all_states, {}, {class: "form-control"} %>
    </div>    

    <div class="form-group">
      <%= f.label :zip_code %>
      <%= field_with_errors(@address, :zip_code) %>
      <%= f.text_field :zip_code, class: "form-control" %>
    </div>  

    <%= f.hidden_field :user_id, value: @address.user.id %>
        

    <%= f.submit "Save", class: "btn btn-primary btn-lg btn-block" %>
    <br />
    <div class="text-center">
      <%= link_to "Delete Address", admin_user_address_path(@address.user, @address), method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
    </div>


  <% end %>

</div> <!-- well -->