<%= form_for [:admin, @address] do |f| %>
  <div class="row">
  <%= f.label :user_id, "Owner ID: ", class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= @address.persisted? ? @address.user_id : "N/A" %><br>
    </div>
  </div>
  <div class="row">
  <%= f.label :owner_name, "Owner name: ", class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= specify_user_full_name(@address, :user_id) %><br>
    </div>
  </div>
  <div class="row">
    <%= f.label :street_address, "Street Address: ", class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= display_form_errors(@address, :street_address) %>
      <%= f.text_field :street_address, class: "form-control", autofocus: true  %><br>
    </div>
  </div>
  <div class="row">
    <%= f.label :city_id, "City:", class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= display_form_errors(@address, :city_id) %>
      <%= f.text_field :city_id, class: "form-control", autofocus: true %>
    </div>
  </div>
  <div class="row">
    <%= f.label :state_id, "State:", class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= display_form_errors(@address, :state_id) %>
      <%= f.select :state_id, State.all.map {|c| [c.name, c.id]} %>
    </div>
  </div>
  <div class="row">
    <%= f.label :zip_code, "Zip Code: ", class: "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <%= display_form_errors(@address, :zip_code) %>
      <%= f.text_field :zip_code, class: "form-control",autofocus: true  %><br>
    </div>
  </div>

<% end %>
