<h2><%= @address.user.full_name %>'s Address</h2>

<h4>Owner ID: <%= @address.user.id %></h4>
<h4>Owner Name: <%= link_to "#{@address.user.full_name} (click to view user)", admin_user_path(@address.user) %></h4>

<h4>Street: <%= @address.street_address %></h4>
<h4>City: <%= @address.city.name %></h4>
<h4>State: <%= @address.state.name %></h4>
<h4>Zip: <%= @address.zip_code %></h4>

<%= link_to "Edit Address", edit_admin_user_address_path(@address.user, @address) %>
<%= link_to "Delete Address", admin_user_address_path(@address.user, @address), method: :delete  %>
