<div class="right">
  <%= link_to 'Edit', edit_admin_user_address_path(@user, @address), class: "btn btn-sm btn-primary" %>
</div> <!-- right -->

<h1><%= @user.first_name %>'s Address Details</h1>

<p>
  <%= @user.name %> (<%= link_to 'See Profile', admin_user_path(@user)%>)<br>
  <%= display_address(@address) %>
</p>

<div class="right">
  <%= link_to 'Delete', admin_user_address_path(@user, @address), method: :delete, data: {confirm: "Are you sure?"}, class: button_classes('danger') %>
</div> <!-- right -->
