<table>
  <tr>
    <th>Item</th>
    <th>User</th>
    <th>Quantity</th>
  </tr>
  <tr>
    <td>Highest Single Order Value</td>
    <td><%= @highest_single_order.first_name %> <%= @highest_single_order.last_name %></td>
    <td><%= @highest_single_order.top_order.round(2) %></td>
  </tr>
  <tr>
    <td>Highest Lifetime Order Value</td>
    <td><%= @highest_lifetime.first_name %> <%= @highest_lifetime.last_name %></td>
    <td><%= @highest_lifetime.consumerism.round(2) %></td>
  </tr>
  <tr>
    <td>Highest Average Order Value</td>
    <td><%= @highest_avg_order.first_name %> <%= @highest_avg_order.last_name %></td>
    <td><%= @highest_avg_order.avg_val.round(2) %></td>
  </tr>
  <tr>
    <td>Most Orders Placed</td>
    <td><%= @most_orders.first_name %> <%= @most_orders.last_name %></td>
    <td><%= @most_orders.placed_orders %></td>
  </tr>
</table>