  <h3><%= quote%></h3>
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>orders</td>
                <td><%= orders_num%></td>
            </tr>
            <tr>
                <td>revenue</td>
                <td><%= revenue_num%></td>
            </tr>
            <tr>
                <td>average</td>
                <td><%= avg_num%></td>
            </tr>
            <tr>
                <td>largest</td>
                <td><%= largest_num%></td>
            </tr>
        </tbody>
    </table>