<div class= "col-md-5 col-sm-5">
<h2>Overall Platform</h2>
<h3>Last 7 Days</h3>
<table class="table table-striped">
  <tr>
    <td>New Users</td>
    <td><%= @user_seven %></td>
  </tr>
  <tr>
    <td>Orders</td>
    <td><%= @order_seven %></td>
  </tr>
  <tr>
    <td>Products</td>
    <td><%= @product_seven %></td>
  </tr>
  <tr>
    <td>Revenue</td>
    <td><%= @revenue_seven %></td>
  </tr>
</table>

<h3>Last 30 Days</h3>
<table class="table table-striped">
  <tr>
    <td>New Users</td>
    <td><%= @user_thirty %></td>
  </tr>
  <tr>
    <td>Orders</td>
    <td><%= @order_thirty %></td>
  </tr>
  <tr>
    <td>Products</td>
    <td><%= @product_thirty %></td>
  </tr>
  <tr>
    <td>Revenue</td>
    <td><%= @revenue_thirty %></td>
  </tr>
</table>

<h3>Total</h3>
<table class="table table-striped">
  <tr>
    <td>New Users</td>
    <td><%= @user_total %></td>
  </tr>
  <tr>
    <td>Orders</td>
    <td><%= @order_total %></td>
  </tr>
  <tr>
    <td>Products</td>
    <td><%= @product_total %></td>
  </tr>
  <tr>
    <td>Revenue</td>
    <td><%= @revenue_total %></td>
  </tr>
</table>
</div>
