<div class="jumbotron">
  <div class="container">
  <h1>Viking Store Analytics Dashboard</h1>

    <div class="row">
      <div class="col-xs-6">
        <section>
          <div class="heading">
            <h2>1.Overall Platform</h2>
          </div>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Last 7 Days</caption>
                <tr>
                  <th>Item</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>New Users</td>
                  <td><%= @user_stats[:sevendays] %></td>
                </tr>
                <tr>
                  <td>Orders</td>
                  <td><%= @order_stats[:sevendays_count] %> </td>
                </tr>
                <tr>
                  <td>New Products</td>
                  <td><%= @product_stats[:sevendays] %></td>
                </tr>
                <tr>
                  <td>Revenue</td>
                  <td><%= @rev_stats[:sevendays] %></td>
                </tr>
              </tbody>
            </table>
          </article>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Last 30 Days</caption>
                <tr>
                  <th>Item</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>New Users</td>
                  <td><%= @user_stats[:thirtydays] %></td>
                </tr>
                <tr>
                  <td>Orders</td>
                  <td><%= @order_stats[:thirtydays_count] %> </td>
                </tr>
                <tr>
                  <td>New Products</td>
                  <td><%= @product_stats[:thirtydays] %></td>
                </tr>
                <tr>
                  <td>Revenue</td>
                  <td><%= @rev_stats[:thirtydays] %></td>
                </tr>
              </tbody>
            </table>
          </article>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Total</caption>
                <tr>
                  <th>Item</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>New Users</td>
                  <td><%= @user_stats[:total] %></td>
                </tr>
                <tr>
                  <td>Orders</td>
                  <td><%= @order_stats[:total_count] %> </td>
                </tr>
                <tr>
                  <td>New Products</td>
                  <td><%= @product_stats[:total] %></td>
                </tr>
                <tr>
                  <td>Revenue</td>
                  <td><%= @rev_stats[:total] %></td>
                </tr>
              </tbody>
            </table>
          </article>
        </section>
      </div>

      <div class="col-xs-6">
        <section>
          <div class="fat-heading">
            <h2>2. User Demographics and Behavior</h2>
          </div>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Top 3 States Users Live In (billing)</caption>
                <tr>
                  <th>Item</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <% @state_stats.each do |key, value| %>
                  <td><%= key %></td>
                  <td><%= value %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </article>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Top 3 Cities Users Live In (billing)</caption>
                <tr>
                  <th>Item</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <% @city_stats.each do |key, value| %>
                  <td><%= key %></td>
                  <td><%= value %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </article>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Top Users With...</caption>
                <tr>
                  <th>Item</th>
                  <th>User</th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <% @order_demo.each do |key, value| %>
                  <td><%= key.to_s.split("_").map(&:capitalize).join(' ') %></td>
                  <td><%= value[:customer_name] %></td>
                  <td><%= value[:order_value] %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </article>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <section>
          <div class="heading">
            <h2>3. Order Statistics</h2>
          </div>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Last 7 Days</caption>
                <tr>
                  <th>Item</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Number of Orders</td>
                  <td><%= @order_stats[:sevendays_count] %></td>
                </tr>
                <tr>
                  <td>Total Revenue</td>
                  <td><%= @rev_stats[:sevendays] %></td>
                </tr>
                <tr>
                  <td>Average Order Value</td>
                  <td><%= @order_stats[:sevendays_average] %></td>
                </tr>
                <tr>
                  <td>Largest Order Value</td>
                  <td><%= @order_stats[:sevendays_largest] %></td>
                </tr>
              </tbody>
            </table>
          </article>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Last 30 Days</caption>
                <tr>
                  <th>Item</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Number of Orders</td>
                  <td><%= @order_stats[:thirtydays_count] %></td>
                </tr>
                <tr>
                  <td>Total Revenue</td>
                  <td><%= @rev_stats[:thirtydays] %></td>
                </tr>
                <tr>
                  <td>Average Order Value</td>
                  <td><%= @order_stats[:thirtydays_average] %></td>
                </tr>
                <tr>
                  <td>Largest Order Value</td>
                  <td><%= @order_stats[:thirtydays_largest] %></td>
                </tr>
              </tbody>
            </table>
          </article>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Total</caption>
                <tr>
                  <th>Item</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Number of Orders</td>
                  <td><%= @order_stats[:total_count] %></td>
                </tr>
                <tr>
                  <td>Total Revenue</td>
                  <td><%= @rev_stats[:total] %></td>
                </tr>
                <tr>
                  <td>Average Order Value</td>
                  <td><%= @order_stats[:total_average] %></td>
                </tr>
                <tr>
                  <td>Largest Order Value</td>
                  <td><%= @order_stats[:total_largest] %></td>
                </tr>
              </tbody>
            </table>
          </article>
        </section>
      </div>

      <div class="col-xs-6">
        <section>
          <div class="heading">
            <h2>4. Time Series Data</h2>
          </div>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Orders By Day</caption>
                <tr>
                  <th>Date</th>
                  <th>Quantity</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <% @order_day_stats.each do |key, value| %>
                  <td><%= key %></td>
                  <td><%= value[:quantity] %></td>
                  <td><%= value[:value] %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </article>
          <article>
            <table class="info-display-table table table-striped">
              <thead>
                <caption>Orders By Week</caption>
                <tr>
                  <th>Date</th>
                  <th>Quantity</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <% @order_week_stats.each do |key, value| %>
                  <td><%= key %></td>
                  <td><%= value[:quantity] %></td>
                  <td><%= value[:value] %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </article>
        </section>
      </div>
    </div>

  </div>
</div>
