<h1>Viking Store Analytics Dashboard</h1>

<div class="row">

  <!-- Overall Platform -->
  <div class="col-md-6">
    <h2>Overall Platform</h2>

    <h3>Last 7 Days</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Item</th><th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Users</td><td><%= User.count_since(7.days.ago) %></td>
        </tr>
        <tr>
          <td>Orders</td><td><%= Order.count_since(7.days.ago) %></td>
        </tr>
        <tr>
          <td>Products</td><td><%= Product.count_since(7.days.ago) %></td>
        </tr>
        <tr>
          <td>Revenue</td><td><%= number_to_currency(Order.revenue_since(7.days.ago)) %></td>
        </tr>
      </tbody>
    </table>

    <h3>Last 30 Days</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Item</th><th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Users</td><td><%= User.count_since(30.days.ago) %></td>
        </tr>
        <tr>
          <td>Orders</td><td><%= Order.count_since(30.days.ago) %></td>
        </tr>
        <tr>
          <td>Products</td><td><%= Product.count_since(30.days.ago) %></td>
        </tr>
        <tr>
          <td>Revenue</td><td><%= number_to_currency(Order.revenue_since(30.days.ago)) %></td>
        </tr>
      </tbody>
    </table>

    <h3>Total</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Item</th><th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Users</td><td><%= User.count %></td>
        </tr>
        <tr>
          <td>Orders</td><td><%= Order.count %></td>
        </tr>
        <tr>
          <td>Products</td><td><%= Product.count %></td>
        </tr>
        <tr>
          <td>Revenue</td><td><%= number_to_currency(Order.revenue) %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- User Demographics and Behavior -->
  <div class="col-md-6">
    <h2>User Demographics and Behavior</h2>

    <h3>Top 3 States Users Live In (Billing)</h3>
    <table class="table">
      <thead>
        <tr>
          <td>Item</td><td>Data</td>
        </tr>
      </thead>
      <tbody>
        <%
        items = User.count_by_state
        3.times do |i|
        %>
        <tr>
          <td><%= items[i].state_name %></td><td><%= items[i].num_users %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  <h3>Top 3 Cities Users Live In (Billing)</h3>
    <table class="table">
      <thead>
        <tr>
          <td>Item</td><td>Data</td>
        </tr>
      </thead>
      <tbody>
        <%
        items = User.count_by_city
        3.times do |i|
        %>
        <tr>
          <td><%= items[i].city_name %></td><td><%= items[i].num_users %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  <h3>Top Users With...</h3>
    <table class="table">
      <thead>
        <tr>
          <td>Item</td><td>User</td><td>Quantity</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% item = Order.with_max_revenue %>
          <td>Highest Single Order Value</td><td><%= "#{item.user.first_name} #{item.user.last_name}" %></td><td><%= number_to_currency(item.user.spent) %></td>
        </tr>
        <tr>
          <% item = User.with_max_spent %>
          <td>Highest Overall Value</td><td><%= "#{item.first_name} #{item.last_name}" %></td><td><%= number_to_currency(item.spent) %></td>
        </tr>
        <tr>
          <% item = User.with_max_avg_spent %>
          <td>Highest Average Order Value</td><td><%= "#{item.first_name} #{item.last_name}" %></td><td><%= number_to_currency(item.avg_spent) %></td>
        </tr>
        <tr>
          <% item = User.with_max_placed_orders %>
          <td>Most Orders Placed</td><td><%= "#{item.first_name} #{item.last_name}" %></td><td><%= item.orders.length %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">

  <!-- Order Statistics -->
  <div class="col-md-6">
    <h2>Order Statistics</h2>

    <h3>Last 7 Days</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Item</th><th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of Orders</td><td><%= Order.count_since(7.days.ago) %></td>
        </tr>
        <tr>
          <td>Total Revenue</td><td><%= number_to_currency(Order.revenue_since(7.days.ago)) %></td>
        </tr>
        <tr>
          <td>Average Order Value</td><td><%= number_to_currency(Order.avg_revenue_since(7.days.ago)) %></td>
        </tr>
        <tr>
          <td>Largest Order Value</td><td><%= number_to_currency(Order.with_max_revenue_since(7.days.ago).revenue) %></td>
        </tr>
      </tbody>
    </table>

    <h3>Last 30 Days</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Item</th><th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of Orders</td><td><%= Order.count_since(30.days.ago) %></td>
        </tr>
        <tr>
          <td>Total Revenue</td><td><%= number_to_currency(Order.revenue_since(30.days.ago)) %></td>
        </tr>
        <tr>
          <td>Average Order Value</td><td><%= number_to_currency(Order.avg_revenue_since(30.days.ago)) %></td>
        </tr>
        <tr>
          <td>Largest Order Value</td><td><%= number_to_currency(Order.with_max_revenue_since(30.days.ago).revenue) %></td>
        </tr>
      </tbody>
    </table>

    <h3>Total</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Item</th><th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of Orders</td><td><%= Order.count %></td>
        </tr>
        <tr>
          <td>Total Revenue</td><td><%= number_to_currency(Order.revenue) %></td>
        </tr>
        <tr>
          <td>Average Order Value</td><td><%= number_to_currency(Order.avg_revenue) %></td>
        </tr>
        <tr>
          <td>Largest Order Value</td><td><%= number_to_currency(Order.with_max_revenue.revenue) %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Time Series Data -->
  <div class="col-md-6">
    <h2>Time Series Data</h2>

    <h3>Orders by Day</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th><th>Quantity</th><th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Today</td><td>3</td><td>$500</td>
        </tr>
        <tr>
          <td>Yesterday</td><td>5</td><td>$500</td>
        </tr>
        <tr>
          <td>9/24</td><td>3</td><td>$300</td>
        </tr>
        <tr>
          <td>9/24</td><td>3</td><td>$300</td>
        </tr>
        <tr>
          <td>9/24</td><td>3</td><td>$300</td>
        </tr>
        <tr>
          <td>9/24</td><td>3</td><td>$300</td>
        </tr>
        <tr>
          <td>9/24</td><td>3</td><td>$300</td>
        </tr>
      </tbody>
    </table>

    <h3>Orders by Week</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th><th>Quantity</th><th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Week of Monday, 21</td><td>3</td><td>$500</td>
        </tr>
        <tr>
          <td>Week of Monday, 21</td><td>3</td><td>$500</td>
        </tr>
        <tr>
          <td>Week of Monday, 21</td><td>3</td><td>$500</td>
        </tr>
        <tr>
          <td>Week of Monday, 21</td><td>3</td><td>$500</td>
        </tr>
        <tr>
          <td>Week of Monday, 21</td><td>3</td><td>$500</td>
        </tr>
        <tr>
          <td>Week of Monday, 21</td><td>3</td><td>$500</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>













