<main class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h2>1. Overall Platform:</h2>
			<h3>Totals:</h3>
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<td><b>Item:</b></td>
						<td><b>Data:</b></td>
					</tr>
				</thead>
				<tbody>
					<!-- Total Users -->
					<tr>
						<td>Total Users:</td>
						<td><%= User.total %></td>
					</tr>
					<!-- Total Submitted Orders -->
					<tr>
						<td>Total Submitted Orders:</td>
						<td><%= Order.total_submitted_orders %></td>
					</tr>
					<!-- Total Product Listed -->
					<tr>
						<td>Total Products Listed:</td>
						<td><%= Product.total_product %></td>
					</tr>
					<!-- Total Revenue -->
					<tr>
						<td>Total Revenue:</td>
						<td><%= number_to_currency(Order.total_revenue) %></td>
					</tr>
				</tbody>
			</table>

			<h3>Last 7 Days:</h3>
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<td><b>Item:</b></td>
						<td><b>Data:</b></td>
					</tr>
				</thead>
				<tbody>
					<!-- Total Users -->
					<tr>
						<td>Total Users:</td>
						<td><%= User.total{User.where("created_at >= ?",1.week.ago)} %></td>
					</tr>
					<!-- Total Submitted Orders -->
					<tr>
						<td>Total Submitted Orders:</td>
						<td><%= Order.total_submitted_orders{Order.where("checkout_date >= ?",1.week.ago)} %></td>
					</tr>
					<!-- Total Product Listed -->
					<tr>
						<td>Total Products Listed:</td>
						<td><%= Product.total_product{Product.where("created_at >= ?",1.week.ago)} %></td>
					</tr>
					<!-- Total Revenue -->
					<tr>
						<td>Total Revenue:</td>
						<td><%= number_to_currency(Order.total_revenue{Order.where("checkout_date >= ?",1.week.ago)}) %></td>
					</tr>
				</tbody>
			</table>

			<h3>Last 30 Days:</h3>
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<td><b>Item:</b></td>
						<td><b>Data:</b></td>
					</tr>
				</thead>
				<tbody>
					<!-- Total Users -->
					<tr>
						<td>Total Users:</td>
						<td><%= User.total{User.where("created_at >= ?",1.month.ago)} %></td>
					</tr>
					<!-- Total Submitted Orders -->
					<tr>
						<td>Total Submitted Orders:</td>
						<td><%= Order.total_submitted_orders{Order.where("checkout_date >= ?",1.month.ago)} %></td>
					</tr>
					<!-- Total Product Listed -->
					<tr>
						<td>Total Products Listed:</td>
						<td><%= Product.total_product{Product.where("created_at >= ?",1.month.ago)} %></td>
					</tr>
					<!-- Total Revenue -->
					<tr>
						<td>Total Revenue:</td>
						<td><%= number_to_currency(Order.total_revenue{Order.where("checkout_date >= ?",1.month.ago)}) %></td>
					</tr>
				</tbody>
			</table>

			<h2>2. User Demographics and Behavior:</h2>
			<h3>Top 3 States Users Live In (billing):</h3>
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<td><b>Item:</b></td>
						<td><b>Data:</b></td>
					</tr>
				</thead>
				<tbody>
					<!-- Top 3 States (billing) -->
					<% @top_states.each do |state| %>
						<tr>
							<td><%= state.name %></td>
							<td><%= state.client_total %></td>
						</tr>
					<% end %>
				</tbody>
			</table>

			<h3>Top 3 Cities Users Live In (billing):</h3>
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<td><b>Item:</b></td>
						<td><b>Data:</b></td>
					</tr>
				</thead>
				<tbody>
					<!-- Top 3 States (billing) -->
					<% @top_cities.each do |city| %>
						<tr>
							<td><%= city.name %></td>
							<td><%= city.client_total %></td>
						</tr>
					<% end %>
				</tbody>
			</table>

			<h3>Top Users With...</h3>
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<td><b>Item:</b></td>
						<td><b>User:</b></td>
						<td><b>Quantity:</b></td>
					</tr>
				</thead>
				<!-- Top User Stats -->
				<tbody>
					<!-- Highest single order value -->
					<tr>
						<% highest_order_value = Order.highest_order_value %>
						<td>Highest Single Order Value:</td>
						<td><%= "#{highest_order_value.first_name} #{highest_order_value.last_name}" %></td>
						<td><%= number_to_currency(highest_order_value.order_price) %></td>
					</tr>
					<!-- Highest lifetime value of a customer -->
					<tr>
						<% highest_lifetime_value = Order.highest_lifetime_value %>
						<td>Highest Lifetime Value Customer:</td>
						<td><%= "#{highest_lifetime_value.first_name} #{highest_lifetime_value.last_name}" %></td>
						<td><%= number_to_currency(highest_lifetime_value.total_price) %></td>
					</tr>
					<!-- Highest lifetime value of a customer -->
					<tr>
						<% highest_average_value = Order.highest_average_value %>
						<td>Highest Average Order Value:</td>
						<td><%= "#{highest_average_value.first_name} #{highest_average_value.last_name}" %></td>
						<td><%= number_to_currency(highest_average_value.average_value) %></td>
					</tr>
					<!-- Most orders placed -->
					<tr>
						<% most_orders_placed = Order.most_orders_placed %>
						<td>Most Orders Placed:</td>
						<td><%= "#{most_orders_placed.first_name} #{most_orders_placed.last_name}" %></td>
						<td><%= "#{most_orders_placed.orders} orders" %></td>
					</tr>
				</tbody>
			</table>

			<h2>3. Order Statistics:</h2>
			<h3>Total:</h3>
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<td><b>Item:</b></td>
						<td><b>Data:</b></td>
					</tr>
				</thead>
				<!-- Order statistics -->
				<tbody>
					<!-- Highest single order value -->
					<tr>
						<td>Number of Orders:</td>
						<td><%= Order.total_submitted_orders %></td>
					</tr>
					<tr>
						<td>Total Revenue:</td>
						<td><%= number_to_currency(Order.total_revenue) %></td>
					</tr>
					<tr>
						<td>Average Order Value:</td>
						<td><%= number_to_currency(Order.average_order_value) %></td>
					</tr>
					<tr>
						<td>Largest Order Value:</td>
						<td><%= number_to_currency(Order.highest_order_value.order_price) %></td>
					</tr>
				</tbody>
			</table>

			<h3>Last 7 Days:</h3>
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<td><b>Item:</b></td>
						<td><b>Data:</b></td>
					</tr>
				</thead>
				<!-- Order statistics -->
				<tbody>
					<tr>
						<td>Number of Orders:</td>
						<td><%= Order.total_submitted_orders{Order.where("checkout_date >= ?",1.week.ago)} %></td>
					</tr>
					<tr>
						<td>Total Revenue:</td>
						<td><%= number_to_currency(Order.total_revenue{Order.where("checkout_date >= ?",1.week.ago)}) %></td>
					</tr>
					<tr>
						<td>Average Order Value:</td>
						<td><%= number_to_currency(Order.average_order_value(1.week.ago)) %></td>
					</tr>
					<tr>
						<td>Largest Order Value:</td>
						<td><%= number_to_currency(Order.highest_order_value.order_price{Order.where("checkout_date >= ?",1.week.ago)}) %></td>
					</tr>
				</tbody>
			</table>

			<h3>Last 30 Days:</h3>
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<td><b>Item:</b></td>
						<td><b>Data:</b></td>
					</tr>
				</thead>
				<!-- Order statistics -->
				<tbody>
					<tr>
						<td>Number of Orders:</td>
						<td><%= Order.total_submitted_orders{Order.where("checkout_date >= ?",1.month.ago)} %></td>
					</tr>
					<tr>
						<td>Total Revenue:</td>
						<td><%= number_to_currency(Order.total_revenue{Order.where("checkout_date >= ?",1.month.ago)}) %></td>
					</tr>
					<tr>
						<td>Average Order Value:</td>
						<td><%= number_to_currency(Order.average_order_value(1.month.ago)) %></td>
					</tr>
					<tr>
						<td>Largest Order Value:</td>
						<td><%= number_to_currency(Order.highest_order_value.order_price{Order.where("checkout_date >= ?",1.month.ago)}) %></td>
					</tr>
				</tbody>
			</table>

			<h2>4. Time Series Data:</h2>

			<!-- Orders by day -->
			<h3>Orders by Day:</h3>
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<td><b>Date:</b></td>
						<td><b>Quantity:</b></td>
						<td><b>Value:</b></td>
					</tr>
				</thead>
				<!-- Statistics by day -->
				<tbody>
					<% 7.times do |i| %>
						<tr>
							<% daily_information = Order.order_by_day(i.day.ago) %>
							<td><%= what_is_the_date?(i) %></td>
							<td><%= daily_information.order_quantity %></td>
							<td><%= number_to_currency(daily_information.order_value) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>

			<!-- Orders by week -->
			<h3>Orders by Week:</h3>
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<td><b>Date:</b></td>
						<td><b>Quantity:</b></td>
						<td><b>Value:</b></td>
					</tr>
				</thead>
				<!-- Statistics by week -->
				<tbody>
					<% 7.times do |i| %>
						<tr>
							<% daily_information = Order.order_by_week((((i*7)+6).day.ago), (i*7).day.ago) %>
							<td>Week ending: <%= (i*7).days.ago.strftime("%B %e, %Y") %></td>
							<td><%= daily_information.order_quantity %></td>
							<td><%= number_to_currency(daily_information.order_value) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>

		</div>
	</div><!-- /row -->
</main>