<main id="games" class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="games-header">Viking Store Analytics Dashboard</h1><br />
    </div>
  </div>
  <div class="row games-list">
    <div class="col-sm-12">

      <div class="row game-listing">

        <div class="col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">1. Overall Platform</h3>
            </div>
            <div class="panel-body">
              <h3>Last 7 Days</h3>
              <%= render partial: 'overall_7' %>
              <h3>Last 30 Days</h3>
              <%= render partial: 'overall_30' %>
              <h3>Total</h3>
              <%= render partial: 'overall_total' %>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">2. User Demographics and Behavior</h3>
            </div>
            <div class="panel-body">
              <h3>Top 3 States Users Live In (billing)</h3>
              <%= render partial: 'demographics_states' %>
              <h3>Top 3 Cities Users Live In (billing)</h3>
              <%= render partial: 'demographics_cities' %>
              <h3>Top User With...</h3>
              <%= render partial: 'demographics_users' %>
            </div>
          </div>
        </div>

      </div>

      <div class="row game-listing">

        <div class="col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">3. Order Statistics</h3>
            </div>
            <div class="panel-body">
              <h3>Last 7 Days</h3>
              <h3>Last 30 Days</h3>
              <h3>Total</h3>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">4. Time Series Data</h3>
            </div>
            <div class="panel-body">
              <h3>Orders by day</h3>
              <h3>Orders by Week</h3>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</main>