<div class = "row">
  <div class = "col-sm-6 col-sm-offset-3">
    <h1>Viking Store Analytics Dashboard</h1>
  </div>
</div>
<hr>

<div class = "row">
  <div class = "col-sm-6">

    <div class = "row">
      <div class = "col-sm-6 col-sm-offset-3">
        <h3>1. Overall Platform</h3>
      </div>
    </div>

    <% @overall.each do |key, value| %>
      <h4> <%= key %> </h4>
      <table class="table table-hover">
        <tr>
          <th>Item</th>
          <th>Data</th>
        </tr>
          <% value.each do |val| %>
        <tr>
          <td> <%= val[0] %> </td>
          <td> <%= val[1] %> </td>
        </tr>
          <% end %>

      </table>
      <br>
    <% end %>
  </div>

  <div class = "col-sm-6">

    <div class = "row">
      <div class = "col-sm-12">
        <h3>1. User Demographics and Behavior</h3>
      </div>
    </div>

    <% @demographics.each do |key, value| %>

      <h4> <%= key %> </h4>
      <table class="table table-hover">
        <tr>
          <th>Item</th>
          <th>Data</th>
        </tr>
      <% value.each do |pairs| %>
        <tr>
          <td> <%= pairs[0] %> </td>
          <td> <%= pairs[1] %> </td>
        </tr>
      <% end %>
      </table>
      <br>
    <% end %>

    <h4> Top User with... </h4>
    
    <% @superlatives.each do |key, values| %>
      <li> <%= key %>
        <%= values[0] %> : <%= values[1] %>
      </li>
    <% end %>

  </div>
</div>

<div class = "row">
  
</div>
