<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <div class="well">
      <h1 class="text-center">1. Overall Platform</h1>
      <h4>Last 7 days</h4>
      <table class="table table-striped">
        <tr>
          <th>Entity</th>
          <th>Total</th>
        </tr>
        <tr>
          <td>New Users</td>
          <td><%= @user_count_7 %></td>
        </tr>
        <tr>
          <td>New Orders</td>
          <td><%= @order_count_7 %></td>
        </tr>
        <tr>
          <td>New Products</td>
          <td><%= @product_count_7 %></td>
        </tr>
        <tr>
          <td>Total Revenue</td>
          <td><%= number_to_currency @revenue_7 %></td>
        </tr>
      </table>

      <h4>Last 30 days</h4>
      <table class="table table-striped">
        <tr>
          <th>Entity</th>
          <th>Total</th>
        </tr>
        <tr>
          <td>New Users</td>
          <td><%= @user_count_30 %></td>
        </tr>
        <tr>
          <td>New Orders</td>
          <td><%= @order_count_30 %></td>
        </tr>
        <tr>
          <td>New Products</td>
          <td><%= @product_count_30 %></td>
        </tr>
        <tr>
          <td>Total Revenue</td>
          <td><%= number_to_currency @revenue_30 %></td>
        </tr>
      </table>

      <h4>Overall Stats</h4>
      <table class="table table-striped">
        <tr>
          <th>Item</th>
          <th>Data</th>
        </tr>
        <tr>
          <td>New Users</td>
          <td><%= @user_count %></td>
        </tr>
        <tr>
          <td>New Orders</td>
          <td><%= @order_count %></td>
        </tr>
        <tr>
          <td>New Products</td>
          <td><%= @product_count %></td>
        </tr>
        <tr>
          <td>Total Revenue</td>
          <td><%= number_to_currency @total_revenue %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <div class="well">
      <h1 class="text-center">2. User Demographics and Behavior</h1>
      <h4>Top 3 States Users Live in (billing)</h4>
      <table class="table table-striped">
        <tr>
          <th>States</th>
          <th>Number</th>
        </tr>
        <tr>
          <td><%= @top_states[0].name %></td>
          <td><%= @top_states[0].num_users %></td>
        </tr>
        <tr>
          <td><%= @top_states[1].name %></td>
          <td><%= @top_states[1].num_users %></td>
        </tr>
        <tr>
          <td><%= @top_states[2].name %></td>
          <td><%= @top_states[2].num_users %></td>
        </tr>
      </table>

      <h4>Top 3 Cities Users Live in (billing)</h4>
      <table class="table table-striped">
        <tr>
          <th>Item</th>
          <th>Data</th>
        </tr>
        <tr>
          <td><%= @top_cities[0].name %></td>
          <td><%= @top_cities[0].num_users %></td>
        </tr>
        <tr>
          <td><%= @top_cities[1].name %></td>
          <td><%= @top_cities[1].num_users %></td>
        </tr>
        <tr>
          <td><%= @top_cities[2].name %></td>
          <td><%= @top_cities[2].num_users %></td>
        </tr>
      </table>
      <h4>Top User with...</h4>
      <table class="table table-striped">
        <tr>
          <th>Item</th>
          <th>User</th>
          <th>Quantity</th>
        </tr>
        <tr>
          <td>Higest Single Order Value</td>
          <td><%= "#{@highest_single_order_user[0].first_name} #{@highest_single_order_user[0].last_name}" %></td>
          <td><%= number_to_currency @highest_single_order_user[0].order_value %></td>
        </tr>
        <tr>
          <td>Highest Lifetime Value</td>
          <td><%= "#{@highest_lifetime_order_user[0].first_name} #{@highest_lifetime_order_user[0].last_name}" %></td>
          <td><%= number_to_currency @highest_lifetime_order_user[0].order_value %></td>
        </tr>
        <tr>
          <td>Highest Average Order Value</td>
          <td><%= "#{@highest_avg_order_user[0].first_name} #{@highest_avg_order_user[0].last_name}" %></td>
          <td><%= number_to_currency @highest_avg_order_user[0].order_value %></td>
        </tr>
        <tr>
          <td>Most Orders Placed</td>
          <td><%= "#{@most_orders_user[0].first_name} #{@most_orders_user[0].last_name}" %></td>
          <td><%= @most_orders_user[0].order_count %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <div class="well">
      <h1 class="text-center">3. Order Statistics</h1>
      <h4>Last 7 days</h4>
      <table class="table table-striped">
        <tr>
          <th>Item</th>
          <th>Total</th>
        </tr>
        <tr>
          <td>Number of Orders</td>
          <td><%=  @order_count_7 %></td>
        </tr>
        <tr>
          <td>Total revenue</td>
          <td><%= number_to_currency @revenue_7 %></td>
        </tr>
        <tr>
          <td>Average Order Value</td>
          <td><%= number_to_currency @revenue_7/@order_count_7 %></td>
        </tr>
        <tr>
          <td>Largest Order Value</td>
          <td><%= number_to_currency @highest_order_value_7 %></td>
        </tr>
      </table>
      <h4>Last 30 days</h4>
      <table class="table table-striped">
        <tr>
          <th>Item</th>
          <th>Total</th>
        </tr>
        <tr>
          <td>Number of Orders</td>
          <td><%=  @order_count_30 %></td>
        </tr>
        <tr>
          <td>Total revenue</td>
          <td><%= number_to_currency @revenue_30 %></td>
        </tr>
        <tr>
          <td>Average Order Value</td>
          <td><%= number_to_currency @revenue_30/@order_count_30 %></td>
        </tr>
        <tr>
          <td>Largest Order Value</td>
          <td><%= number_to_currency @highest_order_value_30 %></td>
        </tr>
      </table>
      <h4>Total</h4>
      <table class="table table-striped">
        <tr>
          <th>Item</th>
          <th>Total</th>
        </tr>
        <tr>
          <td>Number of Orders</td>
          <td><%= @total_number_orders %></td>
        </tr>
        <tr>
          <td>Total revenue</td>
          <td><%= number_to_currency @total_revenue %></td>
        </tr>
        <tr>
          <td>Average Order Value</td>
          <td><%= number_to_currency @avg_order_value %></td>
        </tr>
        <tr>
          <td>Largest Order Value</td>
          <td><%= number_to_currency @highest_order_value %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <div class="well">
      <h1 class="text-center">4. Time Series Data</h1>
      <h4>Orders by day</h4>
      <table class="table table-striped">
        <tr>
          <th>Date</th>
          <th>Quantity</th>
          <th>Value</th>
        </tr>
        <tr>
          <td>Today</td>
          <td><%= @order_by_date[0].num_orders %></td>
          <td><%= number_to_currency @order_by_date[0].amount %></td>
        </tr>
        <tr>
          <td>Yesterday</td>
          <td><%= @order_by_date[1].num_orders %></td>
          <td><%= number_to_currency @order_by_date[1].amount %></td>
        </tr>
        <tr>
          <td><%= @order_by_date[2].day %></td>
          <td><%= @order_by_date[2].num_orders %></td>
          <td><%= number_to_currency @order_by_date[2].amount %></td>
        </tr>
        <tr>
          <td><%= @order_by_date[3].day %></td>
          <td><%= @order_by_date[3].num_orders %></td>
          <td><%= number_to_currency @order_by_date[3].amount %></td>
        </tr>
        <tr>
          <td><%= @order_by_date[4].day %></td>
          <td><%= @order_by_date[4].num_orders %></td>
          <td><%= number_to_currency @order_by_date[4].amount %></td>
        </tr>
      </table>

      <h4>Orders by week</h4>
      <table class="table table-striped">
        <tr>
          <th>Date</th>
          <th>Quantity</th>
          <th>Value</th>
        </tr>

        <% @order_by_week.each do |i| %>
        <tr>
          <td><%= i.week %></td>
          <td><%= i.num_orders %></td>
          <td><%= number_to_currency i.amount %></td>
        </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>