<div class = "container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <h1 class="text-center" >Overall Platform</h1>
        <div class="panel-body">
          <h2>Last 7 Days</h2>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Item</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>New Users  </td>
                 <td><%= @users_last_7 %></td>
              </tr>
              <tr>
                <td>orders </td>
                <td><%= @orders_count_last_7 %></td>
              </tr>
              <tr>
                <td>products </td>
                <td><%= @products_count_last_7 %></td>
              </tr>
              <tr>
                <td>Revenue </td>
                <td><%= @revenue_last_7 %></td>
              </tr>
            </tbody>
          </table>
          <h2>Last 30 Days</h2>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Item</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>New Users  </td>
                 <td><%= @users_last_30 %></td>
              </tr>
              <tr>
                <td>orders </td>
                <td><%= @orders_count_last_30 %></td>
              </tr>
              <tr>
                <td>products </td>
                <td><%= @products_count_last_30 %></td>
              </tr>
              <tr>
                <td>Revenue </td>
                <td><%= @revenue_last_30 %></td>
              </tr>
            </tbody>
          </table>
          <h2>Total</h2>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Item</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>New Users  </td>
                 <td><%= @users.count %></td>
              </tr>
              <tr>
                <td>orders </td>
                <td><%= @orders.count %></td>
              </tr>
              <tr>
                <td>products </td>
                <td><%= @products.count %></td>
              </tr>
              <tr>
                <td>Revenue </td>
                <td><%= @revenue %></td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <h1 class="text-center">User Demographics and Behavior</h1>
        <div class="panel-body">
          <h2>Top 3 States Users Live In (billing)</h2>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Item</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              <% @top_three_states.each do |state| %>
              <tr>
                <td><%= state.name %></td>
                <td><%= state.counter %></td>
              </tr>
              <% end %>
             
            </tbody>
          </table>
     


         <h2>Top 3 Cities Users Live In (billing)</h2>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Item</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              <% @top_three_cities.each do |city| %>
              <tr>
                <td><%= city.name %></td>
                <td><%= city.counter %></td>
              </tr>
              <% end %>
             
            </tbody>
          </table>
             <h2>Top 3 States Users Live In (billing)</h2>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Item</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              <% @top_three_states.each do |state| %>
              <tr>
                <td><%= state.name %></td>
                <td><%= state.counter %></td>
              </tr>
              <% end %>
             
            </tbody>
          </table>  
        </div>


      </div>
    </div>