<div class="container">
  <h1 class="text-center">Viking Store Analytics Dashboard</h1>

  <div class="row">
    <!-- Aggregate data -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h2>1. Overall Platform</h2>
        </div>
        <div class="panel-body">
          <h3>Last 7 Days</h3>
          <table class="table table-bordered">
            <tr>
              <th>Item</th>
              <th>Data</th>
            </tr>
            <tr>
              <td>New Users</td>
              <td><%= @one[:seven_days][:users] %></td>
            </tr>
            <tr>
              <td>Orders</td>
              <td><%= @one[:seven_days][:orders] %></td>
            </tr>
            <tr>
              <td>New Products</td>
              <td><%= @one[:seven_days][:products] %></td>
            </tr>
            <tr>
              <td>Revenue</td>
              <td>$<%= @one[:seven_days][:revenue] %></td>
            </tr>
          </table>

          <h3>Last 30 Days</h3>
          <table class="table table-bordered">
            <tr>
              <th>Item</th>
              <th>Data</th>
            </tr>
            <tr>
              <td>New Users</td>
              <td><%= @one[:thirty_days][:users] %></td>
            </tr>
            <tr>
              <td>Orders</td>
              <td><%= @one[:thirty_days][:orders] %></td>
            </tr>
            <tr>
              <td>New Products</td>
              <td><%= @one[:thirty_days][:products] %></td>
            </tr>
            <tr>
              <td>Revenue</td>
              <td>$<%= @one[:thirty_days][:revenue] %></td>
            </tr>
          </table>

          <h3>Total</h3>
          <table class="table table-bordered">
            <tr>
              <th>Item</th>
              <th>Data</th>
            </tr>
            <tr>
              <td>New Users</td>
              <td><%= @one[:total][:users] %></td>
            </tr>
            <tr>
              <td>Orders</td>
              <td><%= @one[:total][:orders] %></td>
            </tr>
            <tr>
              <td>New Products</td>
              <td><%= @one[:total][:products] %></td>
            </tr>
            <tr>
              <td>Revenue</td>
              <td>$<%= @one[:total][:revenue] %></td>
            </tr>
          </table>
        </div>
      </div>

    </div>

    <!-- User demographics -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h2>2. User Demographics and Behavior</h2>
        </div>
        <div class="panel-body">
          <h3>Top 3 States Users Live In (billing)</h3>
          <table class="table table-bordered">
            <tr>
              <th>Item</th>
              <th>Data</th>
            </tr>
            <% @two[:states].each do |keyvals| %>
            <tr>
              <td><%= keyvals[:name] %></td>
              <td><%= keyvals[:total] %></td>
            </tr>
            <% end %>

          </table>

          <h3>Top 3 Cities Users Live In (billing)</h3>
          <table class="table table-bordered">
            <tr>
              <th>Item</th>
              <th>Data</th>
            </tr>
            <% @two[:cities].each do |keyvals| %>
            <tr>
              <td><%= keyvals[:name] %></td>
              <td><%= keyvals[:total] %></td>
            </tr>
            <% end %>
          </table>


          <h3>Top User With...</h3>
          <table class="table table-bordered">
            <tr>
              <th>Item</th>
              <th>User</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>Highest Single Order Value</td>
              <td>Joe Smith</td>
              <td>$23</td>
            </tr>
            <tr>
              <td>Highest Lifetime Value</td>
              <td>Jane Smith</td>
              <td>$10</td>
            </tr>
            <tr>
              <td>Highest Average Order Value</td>
              <td>Jimmy Smith</td>
              <td>$3</td>
            </tr>
            <tr>
              <td>Most Orders Placed</td>
              <td>Jill Smith</td>
              <td>3</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <!-- Order statistics -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h2>3. Order Statistics</h2>
        </div>
        <div class="panel-body">
          <h3>Last 7 Days</h3>
          <table class="table table-bordered">
            <tr>
              <th>Item</th>
              <th>Data</th>
            </tr>
            <tr>
              <td>Number of Orders</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Total Revenue</td>
              <td>150</td>
            </tr>
            <tr>
              <td>Average Order Value</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Largest Order Value</td>
              <td>$13089471</td>
            </tr>
          </table>


          <h3>Last 30 Days</h3>
          <table class="table table-bordered">
            <tr>
              <th>Item</th>
              <th>Data</th>
            </tr>
            <tr>
              <td>Number of Orders</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Total Revenue</td>
              <td>150</td>
            </tr>
            <tr>
              <td>Average Order Value</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Largest Order Value</td>
              <td>$13089471</td>
            </tr>
          </table>


          <h3>Total</h3>
          <table class="table table-bordered">
            <tr>
              <th>Item</th>
              <th>Data</th>
            </tr>
            <tr>
              <td>Number of Orders</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Total Revenue</td>
              <td>150</td>
            </tr>
            <tr>
              <td>Average Order Value</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Largest Order Value</td>
              <td>$13089471</td>
            </tr>
          </table>
        </div>
      </div>

    </div>

    <!-- Time series data -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h2>4. Time Series Data</h2>
        </div>
        <div class="panel-body">
          <h3>Orders by Day</h3>
          <table class="table table-bordered">
            <tr>
              <th>Date</th>
              <th>Quantity</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>Today</td>
              <td>3</td>
              <td>$500</td>
            </tr>
            <tr>
              <td>Yesterday</td>
              <td>5</td>
              <td>$500</td>
            </tr>
            <tr>
              <td>5/22</td>
              <td>5</td>
              <td>$500</td>
            </tr>
            <tr>
              <td>7/22</td>
              <td>5</td>
              <td>$500</td>
            </tr>
            <tr>
              <td>7/29</td>
              <td>5</td>
              <td>$500</td>
            </tr>
            <tr>
              <td>8/22</td>
              <td>5</td>
              <td>$500</td>
            </tr>
          </table>

          <h3>Order by Week</h3>
          <table class="table table-bordered">
            <tr>
              <th>Date</th>
              <th>Quantity</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>Today</td>
              <td>3</td>
              <td>$500</td>
            </tr>
            <tr>
              <td>Yesterday</td>
              <td>5</td>
              <td>$500</td>
            </tr>
            <tr>
              <td>5/22</td>
              <td>5</td>
              <td>$500</td>
            </tr>
            <tr>
              <td>7/22</td>
              <td>5</td>
              <td>$500</td>
            </tr>
            <tr>
              <td>7/29</td>
              <td>5</td>
              <td>$500</td>
            </tr>
            <tr>
              <td>8/22</td>
              <td>5</td>
              <td>$500</td>
            </tr>
          </table>
        </div>
      </div>

    </div>

  </div>

</div>
