<H1>Viking Store Analytics Dashboard</H1>

<div class="container">

  <div class="row">
                  <!-- COLUMN 1 \| -->
    <div class="col-md-6">
      <div class="stat-window">
        <div class="inner-content">
          <H3>
            1. Overall Platform
          </H3>

          <table class="table table-striped">
            <caption>Last 7 Days</caption>
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>New Users</td>
                <td><%=@seven_days_users %></td>
              </tr>
              <tr>
                <td>Orders</td>
                <td><%=@seven_days_orders %></td>
              </tr>
              <tr>
                <td>New Products</td>
                <td><%=@seven_days_products %></td>
              </tr>
              <tfoot>
                </tr>
                  <td>Revenue</td>
                  <td>$<%=@seven_days_revenue %></td>
                </tr>
              </tfoot>
            </tbody>
          </table>

          <table class="table table-striped">
            <caption>Last 30 Days</caption>
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>New Users</td>
                <td><%=@month_users %></td>
              </tr>
              <tr>
                <td>Orders</td>
                <td><%=@month_orders %></td>
              </tr>
              <tr>
                <td>New Products</td>
                <td><%=@month_products %></td>
              </tr>
              <tfoot>
                <tr>
                  <td>Revenue</td>
                  <td>$<%=@month_revenue %></td>
                </tr>
              </tfoot>
            </tbody>
          </table>

          <table class="table table-striped">
            <caption>Total</caption>
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Users</td>
                <td><%=@total_users %></td>
              </tr>
              <tr>
                <td>Orders</td>
                <td><%=@total_orders %></td>
              </tr>
              <tr>
                <td>Products</td>
                <td><%=@total_products %></td>
              </tr>
              <tfoot>
                <tr>
                  <td>Revenue</td>
                  <td>$<%=@total_revenue %></td>
                </tr>
              </tfoot>
            </tbody>
          </table>

        </div>
      </div>
    </div>
                  <!-- COLUMN 2 |/ -->
    <div class="col-md-6">
      <div class="stat-window">
        <div class="inner-content">
          <H3>
            2. User Demographics and Behavior
          </H3>

          <table class="table table-striped">
            <caption>Top 3 States Users Live in (billing)</caption>
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>California</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Texas</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Oregon</td>
                <td>100</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <caption>Top 3 Cities Users Live In (billing)</caption>
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Los Angeles</td>
                <td>100</td>
              </tr>
              <tr>
                <td>San Francisco</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Austin</td>
                <td>100</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <caption>Total Users With...</caption>
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">User</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Highest Single Order Value</td>
                <td>100</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Highest Lifetime Value</td>
                <td>100</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Highest Average Order Value</td>
                <td>100</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Most Orders Placed</td>
                <td>100</td>
                <td>100</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>

  <div class="row">
                  <!-- COLUMN 3 /| -->
    <div class="col-md-6">
      <div class="stat-window">
        <div class="inner-content">
          <H3>
            3. Order Statistics
          </H3>

          <table class="table table-striped">
            <caption>Last 7 Days</caption>
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Number of Orders</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Total Revenue</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Average Order Value</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Largest Order Value</td>
                <td>100</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <caption>Last 30 Days</caption>
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Number of Orders</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Total Revenue</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Average Order Value</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Largest Order Value</td>
                <td>100</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <caption>Total</caption>
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Data</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Number of Orders</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Total Revenue</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Average Order Value</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Largest Order Value</td>
                <td>100</td>
              </tr>
            </tbody>
          </table>


        </div>
      </div>
    </div>
                  <!-- COLUMN 4 |\ -->
    <div class="col-md-6">
      <div class="stat-window">
        <div class="inner-content">
          <H3>
            4. Time Series Data
          </H3>

          <table class="table table-striped">
            <caption>Orders by Day</caption>
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Quantity</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Today</td>
                <td>100</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Yesterday</td>
                <td>100</td>
                <td>100</td>
              </tr>
              <tr>
                <td>8/22</td>
                <td>100</td>
                <td>100</td>
              </tr>
              <tr>
                <td>8/21</td>
                <td>100</td>
                <td>100</td>
              </tr>
              <tr>
                <td>8/21</td>
                <td>100</td>
                <td>100</td>
              </tr>
              <tr>
                <td>8/20</td>
                <td>100</td>
                <td>100</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <caption>Orders by Week</caption>
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Quantity</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Today</td>
                <td>100</td>
                <td>100</td>
              </tr>
              <tr>
                <td>Yesterday</td>
                <td>100</td>
                <td>100</td>
              </tr>
              <tr>
                <td>8/22</td>
                <td>100</td>
                <td>100</td>
              </tr>
              <tr>
                <td>8/21</td>
                <td>100</td>
                <td>100</td>
              </tr>
              <tr>
                <td>8/21</td>
                <td>100</td>
                <td>100</td>
              </tr>
              <tr>
                <td>8/20</td>
                <td>100</td>
                <td>100</td>
              </tr>
            </tbody>
          </table>


        </div>
      </div>
    </div>

  </div>

</div>

