<div class='row'>
	<div class="col-sm-12 text-center">
		<h1>Viking Store Analytics Dashboard</h1>
	</div>

	<!-- Table 1 : Overal Platform -->

	<div class='col-sm-5 col-sm-offset-1'>
		<h3>1. Overall Platform</h3>

		<h3>Total</h3>
		<table class="table table-striped">
			<tr>
				<th>Item</th>
				<th>Data</th>
			</tr>

			<tr>
				<td>Users</td>
				<td><%= @total_users %></td>
			</tr>

			<tr>
				<td>Orders</td>
				<td><%= @total_orders %></td>
			</tr>

			<tr>
				<td>Products</td>
				<td><%= @total_products %></td>
			</tr>

			<tr>
				<td>Revenue</td>
				<td><%= @revenue %></td>
			</tr>

		</table>

		<h3>Last 30 Days</h3>
		<table class="table table-striped">
			<tr>
				<th>Item</th>
				<th>Data</th>
			</tr>

			<tr>
				<td>New Users</td>
				<td><%= @new_users %></td>
			</tr>

			<tr>
				<td>Orders</td>
				<td><%= @new_orders%></td>
			</tr>

			<tr>
				<td>New Products</td>
				<td><%= @total_products %></td>
			</tr>

			<tr>
				<td>Revenue</td>
				<td><%= @revenue_days %></td>
			</tr>

		</table>
	</div>

	<!-- Table 2 : User Demographics and Behavior -->
	<div class='col-sm-5'>
		<h3>2. User Demographics and Behavior</h3>

		<table class="table table-striped">
			<tr>
				<th>Item</th>
				<th>Data</th>
			</tr>

			<tr>
				<td>New Users</td>
				<td>100</td>
			</tr>

			<tr>
				<td>Orders</td>
				<td>100</td>
			</tr>

			<tr>
				<td>New Product</td>
				<td>100</td>
			</tr>

			<tr>
				<td>Revenue</td>
				<td>100</td>
			</tr>

		</table>
	</div>


	<!-- Table 3 : Order Statistics -->

	<div class='col-sm-5 col-sm-offset-1'>
		<h3>3. Order Statistics</h3>

		<table class="table table-striped">
			<tr>
				<th>Item</th>
				<th>Data</th>
			</tr>

			<tr>
				<td>New Users</td>
				<td>100</td>
			</tr>

			<tr>
				<td>Orders</td>
				<td>100</td>
			</tr>

			<tr>
				<td>New Product</td>
				<td>100</td>
			</tr>

			<tr>
				<td>Revenue</td>
				<td>100</td>
			</tr>

		</table>
	</div>

	<!-- Table 4 : Time Series Data -->
	<div class='col-sm-5'>
		<h3>4. Time Series Data</h3>

		<table class="table table-striped">
			<tr>
				<th>Item</th>
				<th>Data</th>
			</tr>

			<tr>
				<td>New Users</td>
				<td>100</td>
			</tr>

			<tr>
				<td>Orders</td>
				<td>100</td>
			</tr>

			<tr>
				<td>New Product</td>
				<td>100</td>
			</tr>

			<tr>
				<td>Revenue</td>
				<td>100</td>
			</tr>

		</table>
	</div>
</div>