<h1>Dashboard#show</h1>
<p>Find me in app/views/dashboard/show.html.erb</p>


<div class="table-responsive">
  <table class="table">
    <%= content_tag :h3, "Last 7 days" %>
    <% @aggregates[:last_seven_days].each do |k,v| %>
      <%= content_tag :tr do %>
        <%= content_tag :td, k %>
        <%= content_tag :td, v %>
      <% end %>
    <% end %>
  </table>
</div>

<div class="table-responsive">
  <table class="table">
    <%= content_tag :h3, "Last 30 days" %>
    <% @aggregates[:last_seven_days].each do |k,v| %>
      <%= content_tag :tr do %>
        <%= content_tag :td, k %>
        <%= content_tag :td, v %>
      <% end %>
    <% end %>
  </table>
</div>