<div class="col-xs-6 col-xs-offset-3">
  <%= form_tag session_path, method: "POST" do %>
  <div class="form_group">
	<%= label_tag  :email, "Email Address" %><br>
	<%= text_field_tag :email %>
  </div>

  <div class="form_group">
    <%= label_tag :password, "Password" %><br>
    <%= text_field_tag :password, nil, disabled: true %>
  </div>

  <div class="btn btn-block">
    <%= submit_tag "Sign In" %>
  </div>
  <% end %>
</div>
