<div class="row">
  <div class="col-xs-12">
  <h3 class="text-center">Sign Up or Sign In</h3>
  <br>
</div>  

<div class="row">

  <div class="col-xs-2">
  </div> 

  <%= form_tag(new_user_path, method: "get") do %>
    <div class="col-xs-3 text-center">
      <h4>I do not have an account...</h4>
      <br>
      <%= submit_tag "Sign Up", class: "btn btn-block btn-info" %>
    </div>
  <% end %> 

  <div class="col-xs-2">
  </div> 

  <%= form_tag(session_path, method: "post") do %>
    <div class="col-xs-3 text-center">
      <h4>I have an account...</h4>
      <br>
      <div style="text-left">
        <%= label_tag 'Email Address'%><br>
        <%= text_field_tag (:email) %>
        <br>
        <br>
      </div>
      <%= submit_tag "Sign In", class: "btn btn-block btn-info" %>
    </div>
  <% end %>

</div>
<br>
<br>