
<%= form_for(@address) do |f| %>
  <ul>
    <% @address.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>

  <div class="row">
    <div class="col-xs-2">
      <p><%= f.label 'Owner ID: ', strong: true%></p>
    </div>
    <div class="col-xs-10">
      <p><%= f.text_field :user_id, placeholder: "N/A", disabled: true, class: "form-control" %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <p><%= f.label 'Owner Name: ', strong: true%></p>
    </div>
    <div class="col-xs-10">
      <p><%= f.text_field :first_name, placeholder: "N/A", disabled: true, class: "form-control" %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <p><%= f.label 'Name: ', strong: true%></p>
    </div>
    <div class="col-xs-10">
      <p><%= f.text_field :name, class: "form-control"%></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <p><%= f.label 'Description: ', strong: true%></p>
    </div>
    <div class="col-xs-10">
      <p><%= f.text_field :description, class: "form-control"%></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <p><%= f.label 'SKU: ', strong: true%></p>
    </div>
    <div class="col-xs-10">
      <p><%= f.text_field :sku, class: "form-control"%></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <p><%= f.label 'Price: ', strong: true%></p>
    </div>
    <div class="col-xs-10">
      <p><%= f.text_field :price, class: "form-control"%></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <p><%= f.label 'Category: ', strong: true%></p>
    </div>
    <div class="col-xs-10">
      <p><%= f.collection_select :category_id, Category.all, :id, :name, class: "form-control"%></p>
      <br>
      <%= f.submit class: "btn btn-block btn-success"%>
      <br>
    </div>
  </div>

<%end%>
