<%= render :partial => 'shared/errors', :locals => {:object => order_content} %>

<%= form_for(order_content) do |f| %>
  <div class="form-group">
    <%= f.label(:quantity) %>
    <%= f.number_field(:quantity, :class => 'form-control') %>
  </div>
  <div class="form-group">
    <%= f.label(:product_id) %>
    <%= f.collection_select(:product_id, Product.all, :id, :name, {}, {:class => 'form-control'}) %>
  </div>
  <div class="form-group"></div>
  <%= f.submit(:class => 'btn btn-primary') %>
<% end %>
