
<div>
<table class="table table-striped">
  <h4><%=title%></h4>
  <%= link_to "Create a New user", new_user_path %>
  <tr>
    <%headers.each do |head| %>
    <td> <%= head %> </td>
    <% end %>
  <tr>
    <% @table_data.each do |user|%>
      <tr>
        <td> <%= user.id %></td>
        <td> <%= "#{user.first_name} #{user.last_name}" %></td>
        <td> <%= user.created_at %></td>
      <tr>
      <%end%>
</table>
</div>
