<span>Navigation Options</span>
<ul>
  <li><%= link_to "Users", "#" %></li>
  <li><%= link_to "Addresses", "#" %></li>
  <li><%= link_to "Orders", "#" %></li>
  <li><%= link_to "Products", products_path %></li>
  <li><%= link_to "Categories", categories_path %></li>
</ul>
<%= link_to "Analytics Dashboard", dashboards_path %>