<div class="col-xs-12 text-center">
	<h1>Viking Store Analytics Dashboard</h1>
</div>

<div class="row">
	<div class="col-md-5 bordered">
		<div class="col-xs-12 text-center">
			<h2>1. Overall Platform</h2>
		</div>
		<div class="col-xs-12">
			<h3>Last 7 Days</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Item
				</th>

				<th>
					Data
				</th>

				<tr>
					<td>New Users</td>
					<td><%= @new_users_7 %></td>
				</tr>

				<tr>
					<td>Orders</td>
					<td><%= @orders_7 %></td>
				</tr>

				<tr>
					<td>New Products</td>
					<td><%= @new_product_7 %></td>
				</tr>

				<tr>
					<td>Revenue</td>
					<td><%= @revenue_7 %></td>
				</tr>

			</table>
		</div>

		<div class="col-xs-12">
			<h3>Last 30 Days</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Item
				</th>

				<th>
					Data
				</th>

				<tr>
					<td>New Users</td>
					<td><%= @new_users_30 %></td>
				</tr></td>
				</tr>

				<tr>
					<td>Orders</td>
					<td><%= @orders_30 %></td>
				</tr>

				<tr>
					<td>New Products</td>
					<td><%= @new_product_30 %></td>
				</tr>

				<tr>
					<td>Revenue</td>
					<td><%= @revenue_30 %></td>
				</tr>

			</table>
		</div>

		<div class="col-xs-12">
			<h3>Total</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Item
				</th>

				<th>
					Data
				</th>

				<tr>
					<td>New Users</td>
					<td><%= @users_total %></td>
				</tr>

				<tr>
					<td>Orders</td>
					<td><%= @orders_total %></td>
				</tr>

				<tr>
					<td>New Products</td>
					<td><%= @product_total %></td>
				</tr>

				<tr>
					<td>Revenue</td>
					<td><%= @revenue_total %></td>
				</tr>

			</table>
		</div>	
	</div>
	<div class="col-md-5 bordered">
		<div class="col-xs-12 text-center">
			<h2>2. User Demographics and Behavior</h2>
		</div>
		<div class="col-xs-12">
			<h3>Top 3 States Users Live In (billing)</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Item
				</th>

				<th>
					Data
				</th>

				<% @top_states.each do |state| %>

					<tr>
						<td><%= state.name %></td>
						<td><%= state.num_of_users %></td>
					</tr>

				<% end %>

			</table>
		</div>

		<div class="col-xs-12">
			<h3>Top 3 Cities Users Live In (billing)</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Item
				</th>

				<th>
					Data
				</th>

				<% @top_cities.each do |city| %>

					<tr>
						<td><%= city.name %></td>
						<td><%= city.num_of_users %></td>
					</tr>

				<% end %>
				</tr>

			</table>
		</div>

		<div class="col-xs-12">
			<h3>Top User With...</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Item
				</th>

				<th>
					User
				</th>

				<th>
					Data
				</th>

				<tr>
					<td>Highest Single Order Value</td>
					<td><%= @highest_single_value.user_name %></td>
					<td>$<%= @highest_single_value.total %></td>
				</tr>

				<tr>
					<td>Highest Total Order Value</td>
					<td><%= @highest_total_value.user_name %></td>
					<td>$<%= @highest_total_value.total %></td>
				</tr>

				<tr>
					<td>Highest Average Order Value</td>
					<td><%= @highest_average_value.user_name %></td>
					<td>$<%= @highest_average_value.average %></td>
				</tr>

				<tr>
					<td>Most Orders Placed</td>
					<td><%= @most_orders_placed.user_name %></td>
					<td><%= @most_orders_placed.num_of_orders %></td>
				</tr>

			</table>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-md-5 bordered">
		<div class="col-xs-12 text-center">
			<h2>3. Order Statistics</h2>
		</div>
		<div class="col-xs-12">
			<h3>Last 7 Days</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Item
				</th>

				<th>
					Data
				</th>

				<tr>
					<td>Number of Orders</td>
					<td><%= @orders_7 %></td>
				</tr>

				<tr>
					<td>Total Revenue</td>
					<td>$<%= @revenue_7 %></td>
				</tr>

				<tr>
					<td>Average Order Value</td>
					<td>$<%= @avg_order_value_7 %></td>
				</tr>

				<tr>
					<td>Largest Order Value</td>
					<td>$<%= @largest_order_value_7 %></td>
				</tr>

			</table>
		</div>

		<div class="col-xs-12">
			<h3>Last 30 Days</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Item
				</th>

				<th>
					Data
				</th>

				<tr>
					<td>Number of Orders</td>
					<td><%= @orders_30 %></td>
				</tr>

				<tr>
					<td>Total Revenue</td>
					<td>$<%= @revenue_30 %></td>
				</tr>

				<tr>
					<td>Average Order Value</td>
					<td>$<%= @avg_order_value_30 %></td>
				</tr>

				<tr>
					<td>Largest Order Value</td>
					<td>$<%= @largest_order_value_30 %></td>
				</tr>

			</table>
		</div>

		<div class="col-xs-12">
			<h3>Total</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Item
				</th>

				<th>
					Data
				</th>

				<tr>
					<td>Number of Orders</td>
					<td><%= @orders_total %></td>
				</tr>

				<tr>
					<td>Total Revenue</td>
					<td>$<%= @revenue_total %></td>
				</tr>

				<tr>
					<td>Average Order Value</td>
					<td>$<%= @avg_order_value_total %></td>
				</tr>

				<tr>
					<td>Largest Order Value</td>
					<td>$<%= @largest_order_value_total %></td>
				</tr>

			</table>
		</div>
	</div>
	<div class="col-md-5 bordered">
		<div class="col-xs-12 text-center">
			<h2>4. Time Series Data</h2>
		</div>
		<div class="col-xs-12">
			<h3>Orders By Day</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Date
				</th>

				<th>
					Quantity
				</th>

				<th>
					Value
				</th>

				<% @stats_7_days.each do |day| %>
				<tr>
					<td><%= day.d %></td>
					<td><%= day.num_items %></td>
					<td>$<%= day.total %></td>
				</tr>
				<% end %>

			</table>
		</div>

		<div class="col-xs-12">
			<h3>Orders By Week</h3>
			<table class="table table-hover table-striped table-bordered">
				<th>
					Date
				</th>

				<th>
					Quantity
				</th>

				<th>
					Value
				</th>

				<% @stats_7_weeks.each do |week| %>
				<tr>
					<td><%= (DateTime.now-7*week.wk).strftime('%Y-%m-%d') %></td>
					<td><%= week.num_items %></td>
					<td>$<%= week.total %></td>
				</tr>
				<% end %>

			</table>
		</div>
	</div>

</div>