<section>
  <div class="fat-heading">
    <h2>2. User Demographics and Behavior</h2>
  </div>
  <article>
    <table class="info-display-table table table-striped">
      <thead>
        <caption>Top 3 States Users Live In (billing)</caption>
        <tr>
          <th>State</th>
          <th>Total Users</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @state_stats.each do |key, value| %>
          <td><%= key %></td>
          <td><%= value %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </article>
  <article>
    <table class="info-display-table table table-striped">
      <thead>
        <caption>Top 3 Cities Users Live In (billing)</caption>
        <tr>
          <th>City</th>
          <th>Total Users</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @city_stats.each do |key, value| %>
          <td><%= key %></td>
          <td><%= value %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </article>
  <article>
    <table class="info-display-table table table-striped">
      <thead>
        <caption>Top Users With...</caption>
        <tr>
          <th>...</th>
          <th>User</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @order_demo.each do |key, value| %>
          <td><%= key.to_s.split("_").map(&:capitalize).join(' ') %></td>
          <td><%= value[:customer_name] %></td>
          <td><%= value[:order_value] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </article>
</section>
