<header class="text-center">
  <h3><%= table_header %></h3>
</header>

<a href="<%= button_link %>"><button type="button" class="btn btn-primary btn-lg center-block"><%= button_label %></button></a>

<div class="stats-table">
  <table class="table table-striped">
    <tr>
      <% headers.each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
    <% rows.each do |row| %>
      <tr>
        <% row.each do |data| %>
          <td><%= data %></td>
        <% end %>
        <td><a href="#">show</a></td>
        <td><a href="#">edit</a></td>
        <td><a href="#">delete</a></td>
      </tr>
    <% end %>
  </table>
</div>