<div class="text-center">
  
  <h4>Navigation Options</h4>
  
  <div class="list-group">
    <%= link_to 'Users', '#', class: "list-group-item"  %>
    <%= link_to 'Addresses', '#', class: "list-group-item"  %>
    <%= link_to 'Orders', '#', class: "list-group-item"  %>
    <%= link_to 'Products', '#', class: "list-group-item"  %>
    <%= link_to 'Categories', '#', class: "list-group-item"  %>
  </div>

  <%= link_to 'Analytics Dashboard', dashboard_path  %>

</div>