<h1>Viking Store Admin Portal</h1>

<div class='row'>
  <div class='col-md-3'>
    <h3>Navigation Options</h3>
    <br>
    <ul class="nav nav-pills nav-stacked">
      <li><%= link_to "Users", admin_path %></li>
      <li><%= link_to "Addresses", admin_path %></li>
      <li><%= link_to "Orders", admin_path %></li>
      <li><%= link_to "Products", admin_path %></li>
      <li><%= link_to "Categories", admin_path %></li>
      <hr>
      <li><%= link_to "Analytics Dashboard", admin_path %></li>
    </ul>

  </div>
  <div class='col-md-9'>

  </div>
</div>
