<%= form_for [:admin, order] do |f| %>
  <%= f.hidden_field :user_id, :value => order.user.id %>


  <% if order.persisted? %>
    <div class="form-group">
      <%= f.label :checkout_date, "Placed" %>
      <%= f.radio_button :checkout_date, Time.now %>
      <%= f.label :checkout_date, "Not placed" %>
      <%= f.radio_button :checkout_date, nil %>
    </div>
  <% end %>

	<div class="form-group">
		<%= f.label :shipping_id %>
		<%= f.collection_select(:shipping_id, order.user.addresses, :id, :full_address) %>
		<%= field_with_errors order, :shipping_id %>
    </div>

    <div class="form-group">
		<%= f.label :billing_id %>
		<%= f.collection_select(:billing_id, order.user.addresses, :id, :full_address) %>
		<%= field_with_errors order, :billing_id %>
    </div>



    <% if order.persisted? %>
    	<div class="form-group">
    		<%= f.submit "Update order addresses" %>
    	</div>
  	<% else %>
  		<div class="form-group">
  		<%= f.submit "Create order", data: {
  			confirm: "Warning! Creating an order is a two step process! Hit OK to go to the next screen!"} %>
    	</div>
  	<% end %>


<% end %>
