<section id="edit-or-new">

<div class="row">
  <div class="col-md-12 text-center crud-header">
    <h2><%= form_header %></h2>
  </div>
</div>

<div class="crud-container">

  <h3>Logistical Information</h3>

  <div class="row">
    <div class="col-xs-12">
      <h4>Basic Information</h4>

      <%= render :partial => "./shared/table_with_side_headers",
               :locals => {:headers_data => [['Customer ID:', user.id],
                                             ['Customer:', user.full_name],
                                             ['Date Placed:', 'n/a']
                                            ]
                          }
      %>

      <%= link_to "Edit Customer Profile", edit_admin_user_path(:id => user.id) %>

    </div>
  </div>

  <%= form_for [:admin, order] do |f| %>
  <%= hidden_field_tag 'user_id', @user.id %>

    <div class="row">
      <div class="col-xs-12">
        <h4>Shipping Address</h4>

        <%= f.collection_select(:shipping_id, Address.where(:user_id => user.id), :id, :street_address, include_blank: true ) %>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4>Billing Address</h4>

        <%= f.collection_select(:billing_id, Address.where(:user_id => user.id), :id, :street_address, include_blank: true ) %>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4>Billing Card</h4>

        <%= user.credit_card ? f.collection_select(:credit_card_id, CreditCard.where(:id => user.credit_card.id), :id, :last_four_digits, include_blank: true) : 'n/a' %>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">

        <%= f.submit submit_label, :class => "btn btn-primary btn-lg center-block" %>

      </div>
    </div>

  <% end %>

  <% if form_type == 'new' %>

    <div class="row">
      <div class="col-xs-12">

        <p>
          You can add products on the next screen, once it's been created.
        </p>

      </div>
    </div>

  <% else %>

    <div class="row">
      <div class="col-xs-12">

        <%= link_to 'Delete Order', 
                    admin_order_path,
                    data: {:confirm => 'Are you sure?'},
                    :method => :delete %>

      </div>
    </div>

  <% end %>

</section>