<div class="panel-body">
  <div class="text-center">
    <h4>Logistical Information</h4>
  </div>

  <div class="row">
    <div class="col-md-6">
      
      <%= form_for( [:admin, order] ) do |f| %>

        <h4>Basic Information</h4>
        <div class="row form-extra">
          <div class="col-sm-4"><strong>Customer ID</strong></div>
          <div class="col-sm-8"><%= order.user.id %></div>
        </div>
        <div class="row form-extra">
          <div class="col-sm-4"><strong>Customer Name</strong></div>
          <div class="col-sm-8">
            <%= link_to "#{order.user.first_name} #{order.user.last_name} 
                        (click to view user)", admin_user_path(order.user)  %>
          </div>
        </div>
        <div class="row form-extra">
          <div class="col-sm-4"><strong>Date Placed</strong></div>
          <div class="col-sm-8">
            <%= order.checkout_date? ? order.checkout_date.strftime('%Y-%m-%d') : 'N/A' %>
          </div>
          <div class="error-explaination col-sm-12">
            <%= render partial: 'admin/form_error', locals: {errors: order.errors.full_messages_for(:new_cart)} %>
          </div>
        </div>
        <div class="row form-extra">
          <div class="col-sm-12">
            <%= link_to "Edit Customer Profile", edit_admin_user_path(order.user)  %>
          </div>
        </div>      

        <%= f.hidden_field :user_id, value: order.user.id %>

        <div class="form-group">
          <%= f.label :shipping_id, "Shipping Address" %>
          <%= f.collection_select(:shipping_id, order.user.addresses, :id, :street_address, {:selected => order.user.shipping_id}) %>
          <%= render partial: 'admin/form_error', locals: {errors: order.errors.full_messages_for(:shipping_id)} %>
        </div>

        <div class="form-group">
          <%= f.label :billing_id, "Billing Address" %>
          <%= f.collection_select(:billing_id, order.user.addresses, :id, :street_address, {:selected => order.user.billing_id}) %>
          <%= render partial: 'admin/form_error', locals: {errors: order.errors.full_messages_for(:billing_id)} %>
        </div>

        <div class="form-group">
          <%= f.label :credit_card_id, "Billing Card" %>
          <%= f.collection_select(:credit_card_id, order.user.credit_cards, :id, :display_card_number) %>
          <%= render partial: 'admin/form_error', locals: {errors: order.errors.full_messages_for(:credit_card_id)} %>
        </div>

        <% if !order.persisted? %>
          <div class="form-extra note-text">You can add products on the next screen, once Order has been created.</div>        
          <%= f.submit "Create Order in Shopping Cart" %>
        <% else %>
        <% end %>

      <% end %>



    </div>
  </div>