<table class="table table-striped table-bordered">

  <thead>
    <tr>
      <th>Product ID</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total Price</th>
    </tr>
  </thead>

  <tbody>
    <% @order.order_contents.each do |order_contents| %>
    <tr>
      <td><%= order_contents.product.id %></td>
      <td><%= link_to order_contents.product.name, admin_product_path(order_contents.product) %></td>
      <td><%= order_contents.quantity %></td>
      <td><%= number_to_currency(order_contents.product.price) %></td>
      <td><%= number_to_currency(order_contents.value) %></td>
    </tr>
  </tbody>

<% end %>

</table>