<%= form_for [:update_contents, :admin, @order], method: :update_contents do |f| %>
  <table class="table">
    <thead>
      <th>ID</th>
      <th>Product ID</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total Price</th>
      <th>Remove</th>
    </thead>
    <tbody>
      <% @order_contents.each do |oc| %>
        <%= fields_for :order_contents do |ff| %>
          <tr>
            <td><%= oc.id %></td>
            <td><%= oc.product.id %></td>
            <td><%= oc.product.name %></td>
            <td><%=  ff.number_field "#{oc.id}[quantity]", value: oc.quantity, class: 'form-control' %></td>
            <td><%= oc.product.price.to_s(:currency, precision:2) %></td>
            <td><%= (oc.quantity * oc.product.price).to_s(:currency, precision: 2) %></td>
            <td><%= link_to "Remove", admin_order_content_path(oc), method: :delete, data: {confirm: "Are you sure you want to remove this item?"} %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
  <%= f.submit class: 'btn btn-primary btn-block'%>
    </div>
  </div>
<% end %>