<div class="text-center"><h4>Order Contents</h4></div>

<table class="table">
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>
    <% products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= link_to product.name, admin_product_path(product) %></td>
        <td><%= quantity = product.quantity %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= number_to_currency(product.total_price) %></td>
    <% end %>
  </tbody>
</table>