<div class='row'>

  <div class='col-xs-12'>
    <h3 class='text-center'><strong>Demographic Information</strong></h3>
  </div>

</div>

<!-- Basic Info -->
<div class='row show-block'>
  <div class='col-xs-12'>

    <div class='row'>
      <div class='col-xs-12'>
        <h4><strong>Basic Information</strong></h4>
      </div>
    </div>

    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>Customer ID:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= user.id %></p>
      </div>

    </div>

    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>Customer:</strong></p>
      </div>

      <div class='col-xs-9'>
        <%= link_to "#{user.first_name} #{user.last_name} (click to view user)", admin_user_path(user.id) %>
      </div>

    </div>

    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>Date Placed:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= order.checkout_date.to_date if order.checkout_date %></p>
      </div>

    </div>

    <div class='row'>

      <div class='col-xs-3'>
        <p><strong># of Products:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= order.count_total_quantity %></p>
      </div>

    </div>

    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>Order Value:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= currency_if_float(order.order_value)
         %></p>
      </div>

    </div>

    <div class='row'>

      <div class='col-xs-12'>
        <%= link_to 'Edit Customer Profile', edit_admin_user_path(user.id) %>
      </div>

    </div>


  </div>
</div>

<!-- Order Status -->
<div class='row show-block'>
  <div class='col-xs-12'>

    <div class='row'>
      <div class='col-xs-12'>
        <h4><strong>Order Status:</strong></h4>
      </div>
    </div>

    <div class='row'>

      <div class='col-xs-12 status-text'>
        <p <%= color_status_text(@order_status) %> >
          <%= @order_status %>
        </p>
      </div>

    </div>

  </div>
</div>

<!-- Shipping Address -->
<div class='row show-block'>
  <div class='col-xs-12'>

    <div class='row'>
      <div class='col-xs-12'>
        <h4><strong>Shipping Address</strong></h4>
      </div>
    </div>

    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>Street:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= shipping_address[:street_address] %></p>
      </div>

    </div>

    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>City:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= shipping_address[:city_name] %></p>
      </div>

    </div>

    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>State:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= shipping_address[:state_name]%></p>
      </div>


    </div>
  </div>
</div>

<!-- Billing Address -->
<div class='row show-block'>
  <div class='col-xs-12'>

    <div class='row'>
      <div class='col-xs-12'>
        <h4><strong>Billing Address</strong></h4>
      </div>
    </div>

    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>Street:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= billing_address[:street_address] %></p>
      </div>

    </div>

    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>City:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= billing_address[:city_name] %></p>
      </div>

    </div>

    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>State:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= billing_address[:state_name] %></p>
      </div>

    </div>
  </div>
</div>

<!-- Billing Card -->
<div class='row show-block'>
  <div class='col-xs-12'>

    <div class='row'>
      <div class='col-xs-12'>
        <h4><strong>Billing Card</strong></h4>
      </div>
    </div>

    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>Credit Card Number:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= card %></p>
      </div>

    </div>

  </div>
</div>

<!-- edit/delete links -->
<div class='row show-block'>

  <div class='col-xs-12'>
    <%= link_to "Edit Order", edit_admin_order_path(order.id) %>
  </div>

  <div class='col-xs-12'>
    <%= link_to "Delete Order", admin_order_path(order.id),
                :method => :delete,
                :data => { :confirm => 'Delete order?' } %>
  </div>

</div> 