<!-- Orders table -->

<div class="panel panel-default">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Total Value</th>
        <th>Status</th>
        <th>Date Placed</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>

    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user ? (link_to order.user.id, admin_user_orders_path(order.user)) : "N/A" %></td>
        <td><%= order.billing_address.nil? ? "N/A" : order.billing_address.street_address %></td>
        <td><%= order.billing_address.nil? ? "N/A" : order.billing_address.city.name %></td>
        <td><%= order.billing_address.nil? ? "N/A" : order.billing_address.state.name %></td>
        <td><%= number_to_currency(order.products.single_order_value) %></td>
        <td><%= order.checkout_date ? "PLACED" : "UNPLACED" %></td>
        <td><%= order.checkout_date.strftime("%Y-%m-%d") if order.checkout_date %></td> 
        <!-- TODO: finish links to orders -->
        <% if order.user %>
          <td><%= link_to "show", admin_user_order_path(order.user, order) %></td>
          <td><%= link_to "edit", edit_admin_user_order_path(order.user, order) %></td>
          <td><%= link_to "delete", admin_user_order_path(order.user, order), method: :delete %></td>
        <% else %>
          <td></td>
          <td></td>
          <td></td>
        <% end %>
      </tr>

    <% end %>

    </tbody>
  </table>

</div>