<div class="right">
  <%= link_to 'Cancel', admin_user_path(@user), class: button_classes %>
</div> <!-- right -->

<h1>Editing Order #<%= @order.id %></h1>

<%= render 'form', user: @user, order: @order %>

<%= render 'edit_order_contents_form', order_contents: @order.order_contents %>

<%= render 'add_product_form', order: @order, order_content: @order.order_contents.new %>

<hr>

<div class="row">
  <div class="col-sm-12">
    <div class="left">
      <%= link_to 'Place Order -- WIP', '#', class: button_classes('success') %>
    </div> <!-- left -->
    <div class="right">
      <%= link_to 'Delete Order', admin_user_order_path(@user, @order), method: :delete, data: {confirm: "Are you sure?"}, class: button_classes('danger') %> <br>
    </div> <!-- right -->
  </div> <!-- col-sm-12 -->
</div> <!-- row -->
