<H3>Edit Order <%= @order.id %></H3>

<div class="table-wrapper borders">
  <h4>Logistical Information</h4>
  <table class="no-borders">
    <caption>Basic Information</caption>
    <tbody>
      <tr>
        <td class="title-cell">Customer ID:</td>
        <td><%= @order.user_id %></td>
      </tr>
      <tr>
        <td class="title-cell">Customer:</td>
        <td><%= link_to("#{@order.user.first_name} #{@order.user.last_name}", admin_user_path(@order.user_id)) %></td>
      </tr>
      <tr>
        <td class="title-cell">Date Placed:</td>
        <td><%= @order.checkout_date.nil? ? "N/A" : @order.checkout_date.strftime("%m/%d/%y") %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to("Edit Customer Profile", edit_admin_user_path(@order.user_id)) %><br>


  <div class="form-wrapper">
    <%= form_for( [:admin, @order], html: { :class => "form-horizontal" } ) do |f| %>
      
      <div class="form-group">
        <%= f.radio_button(:checkout_date, true ) %>
        <%= f.label(:checkout_date, "PLACED", class: "green-mark") %>
        <%= f.radio_button(:checkout_date, false,:checked => true) %>
        <%= f.label(:checkout_date, "NOT PLACED", class: "red-mark") %>
      </div>

      <div class="form-group">
        <%= f.label :shipping_id, "Shipping Address:", class: "col-sm-4 control-label" %>
        <div class="col-sm-8">
          <%= f.collection_select :shipping_id, Address.where(:user_id => @order.user_id), :id, :street_address, {}, :class => "form-control"%>
        </div>
      </div>
        <%= f.hidden_field :user_id, :value => @order.user_id %>
      <div class="form-group">
        <%= f.label :billing_id, "Billing Address:", class: "col-sm-4 control-label" %>
        <div class="col-sm-8">
          <%= f.collection_select :billing_id, Address.where(:user_id => @order.user_id), :id, :street_address, {}, :class => "form-control"%>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :credit_card_id, "Billing Card:", class: "col-sm-4 control-label" %>
        <div class="col-sm-8">
          <%= f.collection_select :credit_card_id, @order.user.credit_cards, :id, :card_number, {}, :class => "form-control"%>
        </div>
      </div>
      <div class="form-group">
        <div class="button-wrapper col-sm-12">
          <%= f.submit "Update Order Information", class: "btn btn-primary btn-group btn-group-lg" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="link-wrapper-centre">
    <%= link_to("Delete Order", 
                "/admin/orders/#{@order.id}", 
                :method => "DELETE", 
                data: {confirm: "Are you sure?"}) %>
  </div>
</div>


<!-- =========EDIT ORDER========== -->
<div class="table-wrapper borders">
  <div class="form-wrapper">
    <%= form_for( [:admin, @order] ) do |order_fields| %>
      <table class="table table-striped">
        <caption>Edit Order Contents</caption>
        <thead>
          <tr>
            <th>ID</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
            <th>REMOVE</th>
          </tr>
        </thead>
        <tbody>
          <%= order_fields.fields_for :order_contents do |ord_cont_field| %>
          <% next if ord_cont_field.object.id.nil? %>
            <tr>

              <td><%= ord_cont_field.object.product_id %></td>
              <td><%= ord_cont_field.text_field :quantity, class: "form-control" %><%= ord_cont_field.hidden_field :id %></td>
              <td><%= number_to_currency(ord_cont_field.object.product.price, :unit => "$") %></td>
              <td><%= number_to_currency(ord_cont_field.object.quantity*ord_cont_field.object.product.price, :unit => "$") %></td>
  

              <td><%= link_to("remove", "/admin/order_contents/#{ord_cont_field.object.id}", 
                              :method => "DELETE", 
                              data: {confirm: "Are you sure?"}) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="form-group">
        <div class="button-wrapper col-sm-12">
          <%= order_fields.submit "Update Order Contents", class: "btn btn-primary btn-group btn-group-lg" %>
        </div>
      </div>
    <% end %>
  </div><br><br>
  <div class="link-wrapper-centre">
    <%= link_to("Delete Order", 
                "/admin/orders/#{@order.id}", 
                :method => "DELETE", 
                data: {confirm: "Are you sure?"}) %>
 
  </div>
</div>

<!-- =========ADD PRODUCTS============= -->

<div class="table-wrapper borders">
  <div class="form-wrapper">
    <%= form_for( [:admin, @order], html: { :class => "form-horizontal" } ) do |order_fields| %>
      <table class="table table-striped">
        <caption>
          Add Products to Order
          <h6>Add Up to 5 products at a time</h6>
        </caption>
        <thead>
          <tr>
            <th>ProductID</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <%= order_fields.fields_for :order_contents do |ord_cont_field| %>
          <% next if ord_cont_field.object.id.present? %>
            <tr>
              <td>
                <%= ord_cont_field.text_field :product_id, class: "form-control"  %>
                <%= "#{ord_cont_field.object.id}" %>
                <%= ord_cont_field.hidden_field :id %>
                </td>
              </td>
              <td><%= ord_cont_field.text_field :quantity, class: "form-control"  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="form-group">
        <div class="button-wrapper col-sm-12">
          <%= order_fields.submit "Add Products", class: "btn btn-primary btn-group btn-group-lg" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
