<h1>All Orders</h1>
<p><em>Create new orders within <%= link_to "User", "#" %> profiles</em></p>
<table class="table table-striped" id="index-table">
  <thead>
    <th>ID</th>
    <th>User ID</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Total Value</th>
    <th>Status</th>
    <th>Date Placed</th>
    <th>SHOW</th>
    <th>EDIT</th>
    <th>DELETE</th>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= link_to order.user.id, "#" %></td>
      <td><%= Address.find(order.shipping_id).street_address %></td>
      <td><%= Address.find(order.shipping_id).city.name %></td>
      <td><%= Address.find(order.shipping_id).state.name %></td>
      <td>$<%= order.order_value %></td>
      <td><%= order.checkout_date.nil? ? "UNPLACED" : "PLACED" %></td>
      <td><%= order.checkout_date.nil? ? "N/A" : order.checkout_date.strftime("%F") %></td>
      <td><%= link_to "show", "#" %></td>
      <td><%= link_to "edit", "#" %></td>
      <td><%= link_to "delete", "#" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
