<div class="right">
  <%= user_order_index_buttons %>
</div> <!-- right -->
<h1>All Orders</h1>
<%= user_orders_header %>
<p><em>Create new orders from within <%= link_to 'User', admin_users_path %> profiles.</em> Table shows max <%= @order_limit %> of <%= @order_count %> total orders.</p>

<table class="<%= table_classes %> table-responsive">
  <thead>
    <tr>
      <th>ID</th>
      <th>User ID</th>
      <th>Address</th>
      <th>Total Value</th>
      <th>Status</th>
      <th>Date Placed</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= link_to order.user.id, admin_user_path(order.user) %></td>
        <td><%= display_address(order.shipping_address) %></td>
        <td>$<%= order.value %></td>
        <td><%= display_status(order) %></td>
        <td><%= order.checkout_date.to_date if order.placed? %></td>
        <td><%= link_to 'Show', admin_order_path(order) %></td>
        <td><%= link_to 'Edit', edit_admin_order_path(order) %></td>
        <td><%= link_to 'Delete', admin_order_path(order), method: :delete, data: {confirm: "Are you sure?"}  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
