<h2 class="text-center">
  Orders <%= "for #{@orders.first.user.first_name} #{@orders.first.user.last_name}" if params[:user_id] %>
</h2>
<% if params[:user_id] %>
  <a href="/orders/new" class="btn btn-info create-btn">
    Create a new order for this user
  </a>
<% else %>
  <p class="text-center"><strong>NOTE: Orders can only be created in a User profile.</strong></p>
  <p class="text-center">Click <%= link_to "here", admin_users_path %> to go to the user index page.<p>
<% end %>

<table>
  <tr>
    <th>Checked out?</th>
    <th>Checkout date</th>
    <th>User</th>
    <th>Shipping address</th>
    <th>Billing address</th>
    <th>SHOW</th>
    <th>EDIT</th>
    <th>DELETE</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.status %>
      <td><%= order.checkout_date if order.checkout_date %></td>
      <td><%= link_to order.user.first_name + ' ' + order.user.last_name, admin_user_path(order.user.id) %></td>
      <th><%= order.user.shipping_address.full_address if order.user.shipping_address %></td>
      <th><%= order.user.billing_address.full_address if order.user.billing_address %></td>
      <td><%= link_to "show", admin_order_path(order.id) %></td>
      <td><%= link_to "edit", edit_admin_order_path(order.id) %></td>
      <td><%= link_to "delete", admin_order_path(order.id), method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>
