<% if User.exists?(:id => params[:user_id]) %>
  <h1 class="text-center"><%= "#{User.find(params[:user_id]).full_name}'s" %> Orders</h1>
  <%= link_to "Add a New Order", [:admin, new_admin_order_path(:user_id => params[:user_id])], class: "btn btn-primary btn-lg btn-block" %>
<% else %>
  <h1 class="text-center">All Orders</h1>
<% end %>
<h3 class="text-center">Create new orders from within <%=link_to "User", admin_users_path %> profiles</h3>

<%= will_paginate @orders%>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Total Value</th>
      <th>Status</th>
      <th>Date Placed</th>
      <th>show</th>
      <th>edit</th>
      <th>delete</th>
    </tr>
  </thead>
  <tbody>


  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= link_to order.user.id, admin_user_path(order.user) %></td>
      <td><%= order.user.shipping_address.street_address %></td>
      <td><%= order.user.shipping_address.city.name %></td>
      <td><%= order.user.shipping_address.state.name %></td>
      <td><%= number_to_currency(order.order_value(order.id).value) %></td>
      <td><%= order.checkout_date ? "Placed" : "Unplaced" %></td>
      <td><%= order.created_at %></td>
      <td><%= link_to "show", admin_order_path(order, :user_id => order.user.id) %></td>
      <td><%= link_to "edit", edit_admin_order_path(order, :user_id => order.user.id) %></td>
      <td><%= link_to "delete", admin_order_path(order), method: :delete, data: { confirm: "Are you sure you want to delete?" }  %></td>

    </tr>

  <% end %>

  </tbody>
</table>
<%= will_paginate @orders%>
