<% @page_title = " | Orders" %>

<% if flash[:notice] %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<section>
	<header class="text-center">
	  <h3><%= @orders_index_header %></h3>
	</header>

	<div class="row">
		<% unless @orders_index_header == "Orders" %>
	    <div class="col-xs-10 col-xs-offset-1">
	      <%= link_to "Create Order", new_admin_order_path(:user_id => @orders.first.user_id), :class => "btn btn-primary btn-lg center-block" %>
	    </div>
		<% else %>
			<div class="col-xs-12 text-center">
				Create new orders from within <%= link_to "User", admin_users_path %> profiles
			</div>
		<% end %>
	</div>

	<div class="stats-table">
	  <table class="table table-striped">
	    <tr>
	      <% @column_headers.each do |header| %>
	        <th><%= header %></th>
	      <% end %>
	    </tr>
	    <% @orders.each do |order| %>
	      <tr>
	        <td><%= order.id %></td>
	        <% if order.user %>
						<td><%= link_to order.user.full_name, admin_user_path(:id => order.user.id) %></td>
					<% else %>
						<td>n/a</td>
					<% end %>
					<% unless order.shipping_address == nil %>
						<td><%= order.shipping_address.street_address %></td>
						<td><%= order.shipping_address.city.name %></td>
						<td><%= order.shipping_address.state.name %></td>
					<% else %>
						<td>n/a</td>
						<td>n/a</td>
						<td>n/a</td>
					<% end %>
					<td>$<%= order.value(order.id) %></td>
					<td><%= order.status(order.id) %></td>
					<% if order.checkout_date %>
						<td><%= order.checkout_date %></td>
					<% else %>
						<td>n/a</td>
	        <% end %>
	        <td>
	          <%= link_to 'show', admin_order_path(:id => order.id) %>
	        </td>
	        <td>
	          <%= link_to 'edit', edit_admin_order_path(:id => order.id, :user_id => order.user_id) %>
	        </td>
	        <td>
	          <%= link_to 'delete', 
	                      admin_order_path(:id => order.id),
	                      data: {:confirm => 'Are you sure?'}, 
	                      :method => :delete %>
	        </td>
	      </tr>
	    <% end %>
	  </table>
	</div>
</section>