<h1>All Orders</h1>
<% unless params[:user_id].nil? %>
<div class="center">
  <%= link_to "Create an Order for #{User.find(params[:user_id]).first_name} #{User.find(params[:user_id]).last_name}", "#", id: "new-btn", class: "btn btn-primary btn-lg" %>
</div>
<% else %>
  <p><em>Create new orders within <%= link_to "User", "#" %> profiles</em></p>
<% end %>
<table class="table table-striped" id="index-table">
  <thead>
    <th>ID</th>
    <th>User ID</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Total Value</th>
    <th>Status</th>
    <th>Date Placed</th>
    <th>SHOW</th>
    <th>EDIT</th>
    <th>DELETE</th>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= link_to order.user.id, admin_user_path(order.user) %></td>
      <td><%= Address.find(order.shipping_id).street_address %></td>
      <td><%= Address.find(order.shipping_id).city.name %></td>
      <td><%= Address.find(order.shipping_id).state.name %></td>
      <td>$<%= order.order_value %></td>
      <td><%= order.checkout_date.nil? ? "UNPLACED" : "PLACED" %></td>
      <td><%= order.checkout_date.nil? ? "N/A" : order.checkout_date.strftime("%F") %></td>
      <td><%= link_to "show", admin_order_path(order) %></td>
      <td><%= link_to "edit", "#" %></td>
      <td><%= link_to "delete", "#" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
