<header class="page-header">
  <h1>Orders</h1>
  <small>
    New orders can only be created from a
    <%= link_to('user', admin_users_path) %>
    profile
  </small>
</header>

<% if @orders.empty? %>
  <p>No orders found</p>
<% elsif pagination_page_outside_range_for?(@orders) %>
  <%= pagination_page_outside_range_link_for(@orders) %>
<% else %>

  <%= pagination = render :partial => 'shared/pagination', :locals => {
    :resources => @orders,
    :limit => pagination_limit,
    :path => admin_orders_path
  } %>

  <%= render :partial => 'shared/table', :locals => {:table => {
    :headers => ['ID', 'User', 'Shipping Address', 'Revenue', 'Status', 'Checkout Date', 'Show', 'Edit', 'Delete'],
    :rows => @orders
              .offset(pagination_offset)
              .limit(pagination_limit)
              .map do |order|
      [
        order.id,
        link_to(order.user.name, admin_user_path(order.user)),
        order.shipping ? link_to(order.shipping.full_address, admin_address_path(order.shipping)) : '-',
        number_to_currency(order.revenue),
        %Q[<span class="#{order.checkout_date ? 'text-success' : 'text-danger'}">#{order.checkout_date ? 'Placed' : 'Unplaced'}</span>].html_safe,
        order.checkout_date ? order.checkout_date.to_formatted_s(:long) : '-',
        link_to('Show', admin_order_path(order)),
        link_to('Edit', edit_admin_user_order_path(order.user, order)),
        link_to('Delete', admin_order_path(order), :method => 'delete', :class => 'text-danger', :data => {:confirm => 'Delete?'})
      ]
    end
  }} %>

  <%= pagination %>
<% end %>
