<h1 class='text-center'>All Orders</h1>
<h4 class='text-center'>Create new orders from within <%= link_to "User", admin_users_path %> profiles</h4>
<br/>

  <table class='table table-bordered'>
    <thead>
      <th>ID</th>
      <th>User ID</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Order Value</th>
      <th>Status</th>
      <th>Order Date</th>
      <th>SHOW</th>
      <th>EDIT</th>
      <th>DELETE</th>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.user ? (link_to order.user.id, admin_user_path(order.user)) : "n/a" %></td>
          <td><%= order.billing_address.nil? ? "n/a" : order.billing_address.street_address %></td>
          <td><%= order.billing_address.nil? ? "n/a" : order.billing_address.city.name %></td>
          <td><%= order.billing_address.nil? ? "n/a" : order.billing_address.state.name %></td>
          <td><%= number_to_currency(order.value) %></td>
          <td><%= order.checkout_date ? "Placed" : "Unplaced" %></td>
          <td><%= order.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= link_to "Show", admin_user_order_path(order.user_id, order.id) %></td>
          <td><%= link_to "Edit", edit_admin_user_order_path(order.user_id, order.id) %></td>
          <td><%= link_to "Delete", admin_user_order_path(order.user_id, order.id), method: 'delete', data: {confirm: "Are you sure?"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>