<h1 class="text-center">Order <%= @order.id %></h1>

<div class='panel panel-default'>
  <h2 class='text-center'>Logistical Information</h2>
  <h3>Basic Information</h3>
  <h5><strong>Customer ID:</strong> <%= @user ? @user_id : "n/a" %></h5>
  <h5><strong>Customer:</strong> <%= @user ? (link_to "#{@user.first_name} #{@user.last_name}", admin_user_path(@user)) : "n/a" %></h5>
  <h5><strong>Date Placed:</strong> <%= @order.checkout_date ? @order.checkout_date.strftime("%Y-%m-%d") : "n/a" %></h5>
  <h5><strong># Products:</strong> <%= @order.products.count %></h5>
  <h5><strong>Order Value:</strong> <%= number_to_currency(@order.value) %></h5>
  <%= @order.user ? (link_to "Edit Customer Profile", edit_admin_user_path(@order.user), class: 'btn btn-primary btn-lg btn-block') : "n/a" %>
  <br/>
</div>

<div class='panel panel-default'>
  <h3>Order Status:</h3>
    <% if @order.checkout_date.nil? %>
      <h1 style = "color: red;">Unplaced</h1>
    <% else %>
      <h1 style = "color: green;">Placed</h1>
    <% end %>
  <% if @order.shipping_address %>
    <h3>Shipping Address</h3>
    <h5><strong>Street:</strong> <%= @order.shipping_address.street_address %></h5>
    <h5><strong>City:</strong> <%= @order.shipping_address.city.name %></h5>
    <h5><strong>State:</strong> <%= @order.shipping_address.state.name %></h5><br/>
  <% end %>

  <% if @order.billing_address %>
    <h3>Billing Address</h3>
    <h5><strong>Street:</strong> <%= @order.billing_address.street_address %></h5>
    <h5><strong>City:</strong> <%= @order.billing_address.city.name %></h5>
    <h5><strong>State:</strong> <%= @order.billing_address.state.name %></h5><br/>
  <% end %>

  <h3>Billing Card</h3>
  <h5><strong>Last 4 Digits:</strong> <%= @order.credit_card ? @order.credit_card.card_number[-4..-1] : "n/a" %></h5>
  <br/>
  <%= link_to "Edit Order", edit_admin_user_order_path(@order.user_id, @order.id), class: 'btn btn-primary btn-lg btn-block' %>
  <%= link_to "Delete Order", admin_user_order_path(@order.user_id, @order.id), class: 'btn btn-danger btn-lg btn-block', method: 'delete', data: {confirm: "Are you sure?"} %><br/>
</div>

<div class='panel panel-default'>
  <h2 class='text-center'>Order Contents</h2>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_contents.each do |contents| %>
        <tr>
          <td><%= contents.product.id %></td>
          <td><%= link_to contents.product.name, admin_product_path(contents.product) %></td>
          <td><%= contents.quantity %></td>
          <td><%= number_to_currency(contents.product.price) %></td>
          <td><%= number_to_currency(contents.value) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br/>
  <%= link_to "Edit Order", edit_admin_user_order_path(@order.user_id, @order), class: 'btn btn-primary btn-lg btn-block' %>
  <%= link_to "Delete Order", admin_user_order_path(@order), class: 'btn btn-danger btn-lg btn-block', method: 'delete', data: {confirm: "Are you sure?"} %>
</div>