<% user.addresses.each_with_index do |user_address, index| %>
	<%= f.fields_for :addresses, user_address do |address_fields| %>
		<div class="col-xs-12">
			<div class="col-xs-12 text-center">
			  <h3>Saved Address <%= index + 1 %> (Optional)</h3>
			</div>

			<div class="col-xs-10 col-xs-offset-1">

			  <div class="form_group">
			  	<%= address_fields.label :street_address, "Street Address" %><br>
			  	<%= address_fields.text_field :street_address %>
			  </div>
			  <div class="form_group">
			  	<%= address_fields.label :city, "City" %><br>
			  	<%= address_fields.collection_select(:city_id, City.all, :id, :name) %>
			  </div>
			  <div class="form_group">
		        <%= address_fields.label :state, "State" %><br>
			  	<%= address_fields.collection_select(:state_id, State.all, :id, :name) %>
			  </div>
			  <div class="form_group">
			  	<%= address_fields.label :zip_code, "Zip Code" %><br>
			  	<%= address_fields.text_field :zip_code %>
			  </div>

			  <div class="form_group">
			    <%= label_tag "Set as Default Shipping Address" %>
			    <%= generate_shipping_button(user, user_address, index) %>

			    <%= label_tag "Set as Default Billing Address" %>
				<%= generate_billing_button(user, user_address, index) %>
			  </div>
			  <% end %>
			</div>

		</div>
<% end %>
