		<h3>Demographic Information</h3>
		<p>First Name: <%= @user.first_name %></p>
		<p>Last Name: <%= @user.last_name %></p>
		<p>Email: <%= @user.email %></p>
		<p>Telephone: <%= @user.phone %></p>
		<p>Default Billing Address: 
			<%= Address.find(@user.default_billing_address_id).street_address %>, 
			<%= Address.find(@user.default_billing_address_id).city %> 
			<%= Address.find(@user.default_billing_address_id).state %>
		</p>
		<p>Default Shipping Address: 
			<%= Address.find(@user.default_shipping_address_id).street_address %>, 
			<%= Address.find(@user.default_shipping_address_id).city %> 
			<%= Address.find(@user.default_shipping_address_id).state %>
		</p>

		<p><%= link_to "Edit #{@user.first_name} #{@user.last_name}'s Information", edit_user_path(@user)%></p>
		<p><%= link_to "Delete #{@user.first_name} #{@user.last_name}", @user, method: :delete, data: { confirm: "You sure?" } %></p>
		<p><%= link_to "View Saved Addresses",'#'%></p>
		<p><%= link_to "View user cart", '#'%></p>