<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Demographic Information</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <tbody>
        <tr>
          <td><strong>First Name:</strong></td>
          <td><%= @user.first_name %></td>
        </tr>
        <tr>
          <td><strong>Last Name:</strong></td>
          <td><%= @user.last_name %></td>
        </tr>
        <tr>
          <td><strong>Email:</strong></td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td><strong>Default_Billing_Address:</strong> </td>
          <% a = @user.default_billing_address %>
          <td><%= "#{a.zip_code} #{a.street_address} #{a.city.name} #{a.state.name}" %></td>
        </tr>
        <tr>
          <td><strong>Default_Shipping_Address:</strong> </td>
          <% a = @user.default_shipping_address %>
          <td><%= "#{a.zip_code} #{a.street_address} #{a.city.name} #{a.state.name}" %></td>
        </tr>
        <tr>
          <td><%= link_to "Edit #{@user.first_name}'s information", edit_user_path(@user) %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= link_to "Delete #{@user.first_name} #{@user.last_name}", user_path(@user), method: "delete" %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= link_to "View Saved Addresses", user_addresses_path(@user) %></td>
          <td></td>
        </tr>
        <tr>
          <% if @user.orders.pluck(:checkout_date).any?(&:nil?) %>
            <td><%= link_to "View Unplaced Order (Cart)", user_orders_path(@user) %></td>
          <% else %>
            <td><strike>View Upplaced Order (Cart)</strike></td>
          <% end %>
          <td></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
