<section id="edit-or-new">

<div class="row">
  <div class="col-md-12 text-center crud-header">
    <h2><%= crud_header %></h2>
  </div>
</div>

<div class="crud-container">

  <div class="row">
    <div class="col-xs-12 text-center sub-header">
      <header>
        <h3>Demographic Information</h3>
      </header>
    </div>
  </div>

  <%= form_for object do |f| %>

    <p>
     <%= f.label :first_name, "First Name: " %>
     <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name, "Last Name: " %>
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label :email, "Email: " %>
      <%= f.text_field :email %>
    </p>
    <% if form_type == 'edit' %>
      <p>
        <%= f.label :billing_id, "Default Billing Address: " %>
        <!-- f.collectiion_select (:field_you_wanna_set, :the_choices_you_want_available, :the_attribute_you_want_from_the_selection, :the_display_of_the_choice, extra_options)
        ** COULD have the display as a user.full_address -->
        <%= f.collection_select(:billing_id, Address.where(:user_id => params[:id]), :id, :street_address, include_blank: true ) %>
      </p>
      <p>
        <%= f.label :shipping_id, "Default Shipping Address: " %>
        <!-- f.collectiion_select (:field_you_wanna_set, :the_choices_you_want_available, :the_attribute_you_want_from_the_selection, :the_display_of_the_choice, extra_options)
        ** COULD have the display as a user.full_address -->
        <%= f.collection_select(:shipping_id, Address.where(:user_id => params[:id]), :id, :street_address, include_blank: true ) %>
      </p>
    <% end %>

    <% if form_type == 'edit' %>
      <%= link_to 'View Saved Addresses', "#" %>
    <% end %>
    <br>
    <%= button_to submit_label, object, :class => "btn btn-primary btn-lg center-block", :method => :post %>

    <% if form_type == 'edit' %>
      <%= link_to 'Delete', object, data: {:confirm => "Are you sure?"}, :method => :delete %>
    <% end %>

  <% end %>

</div>

</section>