<%= form_for user do |f| %>

  <div class="form-group">
    <%= f.label :email, class: 'form-control' %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :confirm_email, class: 'form-control' %>
    <%= f.email_field :confirm_email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'form-control' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :confirm_password, class: 'form-control' %>
    <%= f.password_field :confirm_password, class: 'form-control' %>
  </div>


  <div class="form-group">
		<%= f.label :first_name, class: 'form-control' %>
		<%= f.text_field :first_name, class: 'form-control' %>
	</div>

  <div class="form-group">
    <%= f.label :last_name, class: 'form-control' %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label 'Tel Number (optional)', class: 'form-control' %>
    <%= f.text_field :mobile, class: 'form-control' %>
  </div>

	<div class="form-group">
		<%= f.submit %>
	</div>
<% end %>
