<ul>
  <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<%= form_for @user do |f| %>
  <table class="table">
    <tbody>
        <tr>
          <td><%= f.label :first_name %></td>
          <td><%= f.text_field :first_name, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :last_name %></td>
          <td><%= f.text_field :last_name, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :email %></td>
          <td><%= f.text_field :email, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :billing_id, " Default Billing Address" %></td>
          <% if @user.id %>
            <td><%= f.collection_select :billing_id, @user.addresses, :id, :street_address, {}, class: "form-control"%></td>
          <% else %>
            <td><%= f.collection_select :billing_id, @user.addresses, :id, :street_address, {}, {class: "form-control", disabled: "disabled"}%></td>
          <% end %>
        </tr>
        <tr>
          <td><%= f.label :shipping_id, "Default Shipping Address" %></td>
          <% if @user.id %>
            <td>
              <%= f.collection_select :shipping_id, @user.addresses, :id, :street_address, {}, class: "form-control"%>
            </td>
          <% else %>
            <td>
              <%= f.collection_select :shipping_id, @user.addresses, :id, :street_address, {}, {class: "form-control", disabled: "disabled"}%>
            </td>
          <% end %>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit class: "btn btn-block btn-primary"%></td>
        </tr>
    </tbody>
  </table>
<% end %>
