<%= form_for(user) do |f| %>
	<div class="row">
		<div class="col-sm-6">
			<%= f.fields_for(:addresses) do |address| %>
				<h3>Saved Address <%= address.index + 1 %> (optional)</h3>
				<%= message_error(address.object, :street_address) %>
				<%= address.label :street_address %>
				<%= address.text_field :street_address %><br>

				<%= message_error(address.object, :city_id) %>

				<% if address.object.city_id %>
					<% address.object.city_id = City.find(address.object.city_id).name %>
				<% end %>
				<%= address.label :city_id, "City" %>
				<%= address.text_field :city_id %><br>

				<%= message_error(address.object, :state_id) %>
				<%= address.label :state_id, "State" %>
				<%= address.collection_select(:state_id, State.all, :id, :name) %>

				<%= message_error(address.object, :zip_code) %>
				<%= address.label :zip_code %>
				<%= address.text_field :zip_code %><br>

				<%= f.radio_button :billing_id, address.object.id %>
				<%= f.label :billing_id %>

				<%= f.radio_button :shipping_id, address.object.id %>
				<%= f.label :shipping_id %><br>


				<% if user.persisted? && address.object.persisted? %>
					<%= address.label :_destroy, "Destroy?" %>
					<%= address.check_box(:_destroy) %>
				<% end %>


			<% end %>
		</div>

		<div class="col-sm-6">
			<h3>Account Information</h3>
			<%= message_error(user, :email) %>
			<%= f.label :email %>
			<%= f.email_field :email %><br>

			<%= message_error(user, :email_confirmation) %>
			<%= f.label :email_confirmation %>
			<%= f.email_field :email_confirmation %><br>

			<%= f.label :first_name %>
			<%= f.text_field :first_name %><br>

			<%= f.label :last_name %>
			<%= f.text_field :last_name %><br>
		</div>

		<div class="col-sm-12 text-center">
			<% if user.persisted? %>
				<%= f.submit "Edit the user" %><br>
			<% else %>
				<%= f.submit "Create new user" %><br>
			<% end %>

			<% if user.persisted? %>
				<%= link_to "Delete Account", user_path(current_user.id), method: :delete, data: { confirm: "Are you Sure?" } %>
			<% end %>
		</div>
	</div>
<% end %>
  