<table class="table">
	<tr>
		<th>id</th>
		<th>Name</th>
		<th>Joined</th>
		<th>City</th>
		<th>State</th>
		<th>Orders</th>
		<th>Last Order Date</th>
		<th>SHOW</th>
		<th>EDIT</th>
		<th>DELETE</th>
	</tr>
	<% users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.full_name %></td>
			<td><%= user.created_at %></td>
			<td><%= user.find_shipping_address %></td>
			<td><%= user.find_billing_address %></td>
			<td><%= user.placed_orders.count %></td>
			<td><%= user.last_order_date %></td>
			<td><%= link_to "show", user %></td>
			<td><%= link_to "edit", edit_user_path(user) %></td>
			<td><%= link_to "delete", user, method: :delete, data: {confirm: "Are you sure?"} %></td>
		</tr>
	<% end %>
</table>