<tr>
  <td><%= show_user_orders.id %></td>
  <td><%= show_user_orders.created_at.to_date %></td>
  <td><%= currency_if_float(show_user_orders.value) %></td>

  <td <%= "class=text-danger" if show_user_orders.status == 'UNPLACED' %> >
    <%= show_user_orders.status %>
  </td>

  <td><%= link_to 'show', '#' %></td>
  <td><%= link_to 'edit', '#' %></td>
  <td><%= link_to 'delete', '#',
            :method => :delete,
            :data => { :confirm => 'Delete order?' } %></td>
</tr>