<div class='row'>

  <div class='col-xs-12'>
    <h4><strong>Demographic Information</strong></h4>
  </div>

</div>

<div class='row'>

  <div class='col-xs-3'>
    <p><strong>First Name:</strong></p>
  </div>

  <div class='col-xs-9'>
    <p><%= user.first_name %></p>
  </div>

</div>

<div class='row'>

  <div class='col-xs-3'>
    <p><strong>Last Name:</strong></p>
  </div>

  <div class='col-xs-9'>
    <p><%= user.last_name %></p>
  </div>

</div>

<div class='row'>

  <div class='col-xs-3'>
    <p><strong>Email:</strong></p>
  </div>

  <div class='col-xs-9'>
    <p><%= user.email %></p>
  </div>

</div>

<div class='row'>

  <div class='col-xs-12'>
    <p><strong>Default Billing Address:</strong></p>
  </div>

  <div class='col-xs-12'>
    <p><%= default_billing %></p>
  </div>

</div>

<div class='row'>

  <div class='col-xs-12'>
    <p><strong>Default Shipping Address:</strong></p>
  </div>

  <div class='col-xs-12'>
    <p><%= default_shipping %></p>
  </div>

</div>

<div class='row'>

  <div class='col-xs-12'>
    <%= link_to "Edit #{user.first_name} #{user.last_name}'s Information", edit_user_path(user.id) %>
  </div>

  <div class='col-xs-12'>
    <%= link_to "Delete #{user.first_name} #{user.last_name}", user_path(user.id), :method => :delete, :data => { :confirm => 'Delete user?' } %>
  </div>

  <div class='col-xs-12'>
    <%= link_to "View Saved Addresses", '#' %>
  </div>

  <div class='col-xs-12'>
    <%= "<p class=text-muted>".html_safe unless cart %>
    <%= link_to_if cart, "View Unplaced Order (Cart)", 'order_path(cart)' %>
    <%= "</p>".html_safe unless cart %>
  </div>

</div>