<table class="table table-bordered table-striped table-user">
	<tr>
		<th>ID</th>
		<th>Order Date</th>
		<th>Order Value</th>
		<th>Status</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	<% @user.orders.each do |order| %>
		<tr>
			<td><%= link_to "#{order.id}", order_path(order.id) %></td>
			<td><%= order.created_at %></td>
			<td><%= "$#{order.value}" %></td>
			<td><%= (order.checkout_date) ? "PLACED" : "UNPLACED" %></td>
			<td><%= link_to "Edit", edit_user_order_path(@user.id, order.id) %></td>
			<td><%= link_to "Delete", user_order_path(@user.id, order.id), method: "delete", data: {confirm: "Do you really want to delete?"} %></td>
		</tr>
	<% end %>
</table>