<div class='row'>

  <div class='col-xs-12'>
    <h4><strong>Demographic Information</strong></h4>
  </div>

</div>

<%= form_for user do |f| %>

  <!-- First Name -->
  <div class='form-group'>
    <div class='row'>

      <div class='col-xs-3'>
        <%= f.label :first_name, 'First Name:' %>
      </div>

      <div class='col-xs-9'>
        <%= f.text_field :first_name %>
        <%= render_error(user, :first_name) %>
      </div>

    </div>
  </div>

  <!-- Last Name -->
  <div class='form-group'>
    <div class='row'>

      <div class='col-xs-3'>
        <%= f.label :last_name, 'Last Name:' %>
      </div>

      <div class='col-xs-9'>
        <%= f.text_field :last_name %>
        <%= render_error(user, :last_name) %>
      </div>

    </div>
  </div>

  <!-- Email -->
  <div class='form-group'>
    <div class='row'>

      <div class='col-xs-3'>
        <%= f.label :email, 'Email:' %>
      </div>

      <div class='col-xs-9'>
        <%= f.text_field :email %>
        <%= render_error(user, :email) %>
      </div>

    </div>
  </div>

  <!-- Default Billing Infomration -->
  <div class='form-group'>
    <div class='row'>

      <div class='col-xs-12'>
        <%= f.label :billing_id, 'Default Billing Address:' %>
      </div>

      <div class='col-xs-12'>
        <%= render_user_addresses(f, available_addresses, :billing_id) %>
        <%= render_error(user, :billing_id) %>
      </div>

    </div>
  </div>

  <!-- Default Shipping Information -->
  <div class='form-group'>
    <div class='row'>

      <div class='col-xs-12'>
        <%= f.label :shipping_id, 'Default Shipping Address:' %>
      </div>

      <div class='col-xs-12'>
        <%= render_user_addresses(f, available_addresses, :shipping_id) %>
        <%= render_error(user, :shipping_id) %>
      </div>

    </div>
  </div>

  <!-- View Saved Addresses -->
  <div class='row'>

    <div class='col-xs-12'>
      <%= link_to 'View Saved Addresses', addresses_path(:user_id => user.id) %>
    </div>

  </div>

  <!-- Submit -->
  <div class='row'>

    <div class='col-xs-10 col-xs-offset-1'>
      <%= f.submit "#{button_label}", class: 'btn btn-success btn-lg btn-block' %>
    </div>

  </div>

<% end %>