<% content_for :title do %>
  <title>Viking Store Admin Portal</title>
<% end %>
<div class="row">
 
  <div class="col-md-9 main-content">
     <h2 class="text-center">Edit User <%=@user.id %>: <%=@user.first_name %> <%=@user.last_name %></h2>

    <%= form_for(@user) do |t| %>
      <table>
        <tbody>
          <tr>
            <td><strong>First Name:</strong></td>
            <td><%= t.text_field :first_name %></td>
          </tr>
          <tr>
            <td><strong>Last Name:</strong></td>
            <td><%= t.text_field :last_name %></td>
          </tr>
          <tr>
            <td><strong>Email:</strong></td>
            <td><%= t.text_field :email %></td>
          </tr>
          <tr>
           <td><strong>Default Billing Address</strong></td>
            <td>
             <%= t.select :billing_id, 
                @addresses.map {|a| [a.street_address, a.id]}  %>
            </td>
          </tr>
          <tr>
           <td><strong>Default Shipping Address</strong></td>
            <td>
             <%= t.select :shipping_id, 
                @addresses.map {|a| [a.street_address, a.id]}  %>
            </td>
          </tr>
          </tbody>
        </table>
      <br />

      <p><%= t.submit "Update #{@user.first_name} #{@user.last_name} ", class: "btn btn-primary btn-lg btn-block" %></p>
      
      <p><%= link_to "Delete #{@user.first_name} #{@user.last_name} ", user_path(@user) %>

    <% end %> 
    
  </div>
</div>