<h2>Update User <%="#{@user.id}: #{@user.first_name} #{@user.last_name}"%></h2>

<div class="row content-wrapper">
  <h3>Demographic Information</h3>
  <div class="col-xs-3">
    <%= form_for @user do |f| %>
    <%= f.label :first_name, "First Name: " %><br><br>
    <%= f.label :last_name, "Last Name: " %><br><br>
    <%= f.label :email, "Email: " %>
  </div>
  <div class="col-xs-9">
    <%= field_error_message(@user, :first_name) %>
    <%= f.text_field :first_name %><br><br>
    <%= field_error_message(@user, :last_name) %>
    <%= f.text_field :last_name %><br><br>
    <%= field_error_message(@user, :email) %>
    <%= f.text_field :email%><br><br>
  </div>
    <strong>Default Billing Address:</strong><br>
      <%= f.collection_select :billing_id, @user.addresses, :id, :street_address, include_blank: true, selected: @user.billing_id %><br><br>

    <strong>Default Shipping Address:</strong><br>
    <%= f.collection_select :shipping_id, @user.addresses, :id, :street_address, include_blank: true, selected: @user.shipping_id %><br>

    <a href="#">View Saved Addresses</a>
  <div class="col-xs-10 col-xs-offset-1">
    <%= f.submit "Update", :class => "btn btn-primary btn-lg btn-block", :id => "new-resource-button"  %>
    <%end%>
    <%=link_to "delete", user_path(@user), data: {:confirm => "Are you sure?"}, :method => :delete%>
  </div>

</div>
