<div class="top-section">
  <h2><%= "Edit User #{@user.id}: #{@user.first_name} #{@user.last_name}" %></h2>
</div>

<div class="@user-form">
<%= form_for(@user) do |f| %>
    <div class="form-group">
      <%= f.label :first_name, "First Name" %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :last_name, "Last Name" %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email, "Email" %>
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <% unless @user.addresses.empty? %>

    <div class="form-group">
      <%= f.label :billing_id, "Defalut Billing Address" %>
      <%= f.select :billing_id,"", {},{class: "form-control"} do %>
        <% @user.addresses.each do |address| %>
          <% address_name = "#{address.street_address} #{address.city.name} #{address.state.name}" %>
          <%= content_tag(:option, address_name, value: address.id) %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :shipping_id, "Defalut Billing Address" %>
      <%= f.select :shipping_id,"", {},{class: "form-control"} do %>
        <% @user.addresses.each do |address| %>
          <% address_name = "#{address.street_address} #{address.city.name} #{address.state.name}" %>
          <%= content_tag(:option, address_name, value: address.id) %>
        <% end %>
      <% end %>
    </div>
    <%= link_to "View Saved Addresses", user_addresses_path(@user) %>

    <% end %>


    <div class="form-group">
      <%= f.submit "Update", class: "btn btn-success btn-lg", id: "edit-button" %>
    </div>
    <%= link_to "Delete #{@user.first_name} #{@user.last_name}", user_path(@user), method: "delete" %>

<% end %>
</div>
