<h2>
  Edit <%= "#{@user.first_name} #{@user.last_name}." %>
</h2>

<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :shipping_id %>
  <%= f.collection_select(:shipping_id, @user.addresses, :id, :complete_address) %>

  <%= f.label :billing_id %>
  <%= f.collection_select(:billing_id, @user.addresses, :id, :complete_address) %>

  <%= f.submit %>

  <%= link_to "Delete", user_path(@user.id), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-default" %>

<% end %>