<h2 class="text-center">Users</h2>

<a href="/users/new" class="btn btn-info create-btn">
  Create a New User
</a>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Joined</th>
    <th>City</th>
    <th>State</th>
    <th>Orders</th>
    <th>Last Order Date</th>
    <th>SHOW</th>
    <th>EDIT</th>
    <th>DELETE</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.first_name + ' ' + user.last_name %></td>
      <td><%= user.created_at %></td>
      <th><%= user.shipping_address.city.name if user.shipping_address %></td>
      <th><%= user.shipping_address.state.name if user.shipping_address %></td>
      <td><%= link_to user.orders.where("checkout_date IS NOT NULL").count, "#" %></td>
      <td><%= user.orders.last.checkout_date if user.orders.last %></td>
      <td><%= link_to "show", user_path(user.id) %></td>
      <td><%= link_to "edit", edit_user_path(user.id) %></td>
      <td><%= link_to "delete", user_path(user.id), method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>
