<h1 class="text-center">Users</h1>

<br />
<%= link_to "Add a New User", new_user_path, class: "btn btn-primary btn-lg btn-block" %>
<br />


<%= will_paginate @users%>

</ul>

<div class="panel panel-default">

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Joined</th>
        <th>City</th>
        <th>State</th>
        <th>Orders</th>
        <th>Last Order Date</th>
        <th>show</th>
        <th>edit</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>


    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= "#{user.first_name} #{user.last_name}" %></td>
        <td><%= user.created_at %></td>
        <td><%= user.billing_address.state.name %></td>
        <td><%= user.billing_address.city.name %></td>
        <td><%= user.orders.count %></td>
        <td><%= user.orders.most_recent ? user.orders.most_recent.checkout_date : "N/A" %></td>
        <td><%= link_to "show", user_path(user) %></td>
        <td><%= link_to "edit", edit_user_path(user) %></td>
        <td><%= link_to "delete", user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete?" }  %></td>

      </tr>

    <% end %>

    </tbody>
  </table>

</div>


<%= will_paginate @users%>
