<h2>Viking Store Users</h2>

<%= link_to "Create New User", "#", class: "btn btn-primary" %>

<table class="table">
	<tr>
		<th>id</th>
		<th>Name</th>
		<th>Joined</th>
		<th>City</th>
		<th>State</th>
		<th>Orders</th>
		<th>Last Order Date</th>
		<th>SHOW</th>
		<th>EDIT</th>
		<th>DELETE</th>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.first_name + " " + user.last_name %></td>
			<td><%= user.created_at %></td>
			<td><%= Address.find(user.shipping_id).city.name %></td>
			<td><%= Address.find(user.shipping_id).state.name %></td>
			<td><%= user.orders.where("checkout_date IS NOT NULL").count %></td>
			<td><%= user.orders.where("checkout_date IS NOT NULL").last.checkout_date unless user.orders.nil? || user.orders.where("checkout_date IS NOT NULL").empty?  %></td>
			<td><%= "show" %></td>
			<td><%= "edit" %></td>
			<td><%= "delete" %></td>
		</tr>
	<% end %>
</table>