<div class="row">
  <div class="col col-xs-12">
    <h1 class="page-header text-center">All Users</h1>
  </div>
</div>
<div class="row">
  <div class="col col-xs-12">
    <a class="btn btn-success btn-block" href=<%=new_user_path%> role="button">
        Create User
    </a>
    <br>
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Joined</th>
          <th>City</th>
          <th>State</th>
          <th>ORDERS</th>
          <th>SHOW</th>
          <th>EDIT</th>
          <th>DELETE</th>
        </tr>
      </thead>
      <tbody>
        <%@users.each do |user|%>
        <tr>
          <td><%=user.id%></td>
          <td><%=user.first_name%> <%=user.last_name%></td>
          <td><%=user.created_at.to_date%></td>
          <td><%=user.default_billing_address.city.name if user.default_billing_address%></td>
          <td><%=user.default_billing_address.state.name if user.default_billing_address%></td>
          <td><%=link_to 'Orders', orders_path(user_id: "#{user.id}")%></td>
          <td><%=link_to 'Show', user_path(user.id)%></td>
          <td><%=link_to 'Edit', edit_user_path(user.id)%></td>
          <td><%=link_to 'Delete', user_path(user.id), method: "delete", data: {confirm: "Are you sure?"} %></td>
        </tr>
        <%end%>
      <tbody>
    </table>
  </div>
</div>
