<div class='container'>
  <div class='row'>
    <h2 class='text-center'>Products</h2>
    <br/>
    <%= link_to "Add a New User", new_user_path, class: 'btn btn-primary col-md-4 col-md-offset-4' %>
    <table class='table table-bordered'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Joined</th>
          <th>City</th>
          <th>State</th>
          <th>Orders</th>
          <th>Last Order Date</th>
          <th>SHOW</th>
          <th>EDIT</th>
          <th>DELETE</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.first_name %> <%= user.last_name %></td>
            <td><%= user.created_at %></td>
            <td><%= user.billing_address.city.name %></td>
            <td><%= user.billing_address.state.name %></td>
            <td><%= user.completed_orders.count %></td>
            <td><%= user.last_checkout_date %></td>
            <td><%= link_to "Show", user_path(user.id) %></td>
            <td><%= link_to "Edit", edit_user_path(user.id) %></td>
            <td><%= link_to "Delete", user_path(user.id), method: 'delete', data: {confirm: "Are you sure?"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>