<div class="row">
  <div class="col col-xs-12">
    <h1 class="page-header text-center">All Users</h1>
  </div>
</div>
<div class="row">
  <div class="col col-xs-12">
    <a class="btn btn-info btn-block" href=<%=new_user_path%> role="button">
        Add User User
    </a>
    <br>
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Joined</th>
          <th>City</th>
          <th>State</th> 
          <th>ORDERS</th>
          <th>SHOW</th>
          <th>EDIT</th>
          <th>DELETE</th>
        </tr>
      </thead>
      <tbody>
        <%@users.each do |user|%>
        <tr>
          <td><%=user.id%></td>
          <td><%=user.first_name%> <%=user.last_name%></td>
          <td><%=user.joined%></td>
          <td><%=user.city%></td>
          <td><%=user.state%></td>
          <td><%=link_to user.totals, "#"%></td>
          <td><%=link_to 'Show', user_path(user.id)%></td>
          <td><%=link_to 'Edit', edit_user_path(user.id)%></td>
          <td><%=link_to 'Delete', user_path(user), method: :delete, data: {confirm: "Are you sure?"}%>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
