<% @page_title = " | Users" %>

<% if flash[:notice] %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<section>
    <header class="text-center">
      <h3>Viking Store Users</h3>
    </header>

    <%= button_to "Create New User", new_user_path, :class => "btn btn-primary btn-lg center-block", :method => :get %>

    <div class="stats-table">
      <table class="table table-striped">
        <tr>
          <% @column_headers.each do |header| %>
            <th><%= header %></th>
          <% end %>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= user.id %>
            </td>
            <td>
              <%= user.first_name %> <%= user.last_name %>
            </td>
            <td>
              <%= user.created_at %>
            </td>
            <td>
              <%= user.city_name(Address.find(user.billing_id)) %>
            </td>
            <td>
              <%= user.state_name(Address.find(user.billing_id)) %>
            </td>
            <td>
              <%= user.number_of_orders(user.id) %>
            </td>
            <td>
              <%= user.last_order_date(user.id) %>
            </td>
            <td>
              <%= link_to 'show', user_path(:id => user.id) %>
            </td>
            <td>
              <%= link_to 'edit', edit_user_path(:id => user.id) %>
            </td>
            <td>
              <%= link_to 'delete', 
                          user_path(:id => user.id),
                          data: {:confirm => 'Are you sure?'}, 
                          :method => :delete %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
</section>