<% content_for :title do %>
  <title>Viking Store Admin Portal</title>
<% end %>
<div class="row">
  <%= render partial: "shared/admin_navbar" %>
   
  <div class="col-md-9">
    <h2 class="text-center">Viking Store Admin Portal</h2>
    <p><%= link_to "Create a New User", "#", class: "btn btn-primary btn-lg btn-block" %></p>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <td><strong>ID</strong></td>
          <td><strong>Name</strong></td>
          <td><strong>Joined</strong></td>
          <td><strong>City</strong></td>
          <td><strong>State</strong></td>
          <td><strong>Orders</strong></td>
          <td><strong>Last Order Date</strong></td>
          <td><strong>SHOW</strong></td>
          <td><strong>EDIT</strong></td>
          <td><strong>DELETE</strong></td>
        </tr>
      </thead>
      <tbody>
         <% @admin_info.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.first_name %></td>
            <td><%= user.joined %></td>
            <td><%= user.city %></td>
            <td><%= user.state %></td>
            <td><%= user.orders %></td>
            <td><%= user.last_order_date %></td>
            <td><%= link_to "show", "#" %></td>
            <td><%= link_to "edit", "#" %></td>
            <td><%= link_to "delete", "#" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>