<h2>Details for <%= @user.first_name + ' ' + @user.last_name %></h2>
<%= link_to "Edit user", edit_user_path(@user.id) %> |
<%= link_to "Delete user", user_path(@user.id), method: :delete, confirm: "Are you sure?" %> |
<%= link_to "View addresses", "#" %> |
<%= link_to "Create address", new_address_path %> |
<%= link_to "View cart", "#" %> |
<%= link_to "Create order", new_order_path(user_id: @user.id) %>

<h4>User full name</h4>
<%= @user.first_name + ' ' + @user.last_name %>

<h4>User join date</h4>
<%= @user.created_at %>

<h4>User email</h4>
<%= @user.email %>

<h4>Credit card info</h4>
<table>
  <tr>
    <th>Nickname</th>
    <th>Number</th>
    <th>Exp. month</th>
    <th>Exp. year</th>
    <th>Brand</th>
    <th>DELETE</th>
  </tr>
  <% @user.credit_cards.each do |card| %>
    <tr>
      <td><%= card.nickname %></td>
      <td><%= card.card_number %></td>
      <td><%= card.exp_month %></td>
      <td><%= card.exp_year %></td>
      <td><%= card.brand %></td>
      <td><%= link_to "delete", credit_card_path(card.id), method: :delete, confirm: "Are you sure?" %></td>
    </tr>
  <% end %>
</table>

<h4>User shipping city</h4>
<% if @user.shipping_address %>
  <%= @user.shipping_address.city.name %>
<% else %>
  <p>None provided.</p>
<% end %>

<h4>User shiping state</h4>
<% if @user.shipping_address %>
  <%= @user.shipping_address.state.name %>
<% else %>
  <p>None provided.</p>
<% end %>

<h4>Total orders</h4>
<td><%= link_to @user.orders.where("checkout_date IS NOT NULL").count, "#" %></td>

<h4>Last Order Date</h4>
<td><%= @user.orders.last.checkout_date if @user.orders.last %></td>

<h4>Order history</h4>
<table>
  <tr>
    <th>Order ID</th>
    <th>Date placed</th>
    <th># Products</th>
    <th>Order value</th>
    <th>Status</th>
    <th>DELETE</th>
  </tr>
  <% @user.orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.checkout_date %></td>
      <td><%= order.products.count %></td>
      <td><%= order.value %></td>
      <td><%= order.status %></td>
      <td><%= link_to "show", "#" %></td>
      <td><%= link_to "edit", "#" %></td>
      <td><%= link_to "delete", "#" %></td>
    </tr>
  <% end %>
</table>
