<section id='user-show'>

  <div class='row'>
    <div class='col-xs-12'>

      <h1 class='text-center'><%= "User #{@user.id}: #{@user.first_name} #{@user.last_name}" %></h1>

    <!-- User Demographics -->
      <%= render :partial => 'show_demographics',
            :locals => {
                        :user => @user,
                        :default_billing => @default_billing,
                        :default_shipping => @default_shipping
                       },
            :layout => 'layouts/users/show_user_panel' %>

      <!-- Credit Card -->
      <%= render :partial => 'show_credit_card',
            :locals => {
                        :user => @user,
                        :credit_card => @credit_card
                       },
            :layout => 'layouts/users/show_user_panel' %>

      <!-- Admin Actions -->
      <%= render :partial => 'show_admin_actions',
            :locals => {
                        :user => @user
                       },
            :layout => 'layouts/users/show_user_panel' %>

      <!-- Order History -->
      <%= render :partial => 'show_order_history',
            :locals => {
                        :user => @user,
                        :user_orders => @user_orders
                       },
            :layout => 'layouts/users/show_user_panel' %>

    </div>
  </div>

</section>