<div class="page-header text-center">
    <h1>User <%= @user.id %>: <%= @user.first_name %> <%= @user.last_name %></h1>
</div>
<div class='container'>
  <div class='row'>
    <h3>Demographic Information</h3>
    <table class='table table-bordered'>
      <tr>
        <th>First Name:</th>
        <td><%= @user.first_name %></td>
      </tr>
      <tr>
        <th>Last Name:</th>
        <td><%= @user.last_name %></td>
      </tr>
      <tr>
        <th>Email:</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>Default Billing Address:</th>
        <td><%= @user.billing_address.full_address || "n/a" %></td>
      </tr>
      <tr>
        <th>Default Shipping Address:</th>
        <td><%= @user.shipping_address.full_address || "n/a" %></td>
      </tr>
      <tr>
        <td><%= link_to "Edit #{@user.first_name}'s Information", edit_user_path(@user.id) %></td>
      </tr>
      <tr>
        <td><%= link_to "Delete", user_path(@user.id), method: "delete", data: { confirm: "Are you sure?" }%></td>
      </tr>
      <tr>
        <td><%= link_to "View Saved Addresses", user_addresses_path(@user.id) %></td>
      </tr>
    </table>
  </div>
  <div class='row'>
    <h3>Credit Card Information</h3>
    <table class='table table-bordered'>
      <% if @user.credit_cards.empty? %>
        No Credit Card on file
      <% end %>
      <% @user.credit_cards.each do |credit_card| %>
        <tr>
          <th>First Name:</th>
          <td><%= @user.first_name %></td>
        </tr>
        <tr>
          <th>Last Name:</th>
          <td><%= @user.last_name %></td>
        </tr>
        <tr>
          <th>Number:</th>
          <td><%= credit_card.card_number %></td>
        </tr>
        <tr>
          <th>Expiration:</th>
          <td><%= credit_card.exp_month %>, <%= credit_card.exp_year %></td>
        </tr>
        <tr>
          <th>CV2:</th>
          <td><%= credit_card.ccv %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class='row'>
    <h3> Order History</h3>
    <table class='table table-bordered'>
      <thead>
        <th>ID</th>
        <th>Order Date</th>
        <th>Order Value</th>
        <th>Status</th>
        <th>SHOW</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </thead>
      <tbody>
        <% @user.orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.created_at %></td>
            <td><%= number_to_currency(order.value) %></td>
            <td><%=  %></td>
            <td><%= link_to "Show", user_order_path(order.user.id, order.id) %></td>
            <td><%= link_to "Edit", edit_user_order_path(order.user.id, order.id) %></td>
            <td><%= link_to "Delete", user_order_path(order.user.id, order.id), method: 'delete', data: {confirm: "Are you sure?"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>