<div class="row">
  <div class="col-xs-12">
    <h2><%= "User #{@user.id}: #{@user.first_name} #{@user.last_name}" %></h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped table-bordered col-xs-12">
      <h3>Demographic Information</h3>
      <tr>
        <td><%= "First Name:"%></td>
        <td><%=  "#{@user.first_name}" %></td>
      </tr>
      <tr>
        <td><%= "Last Name:"%></td>
        <td><%=  "#{@user.last_name}" %></td>
      </tr>
      <tr>
        <td><%= "Email:"%></td>
        <td><%=  "#{@user.email}" %></td>
      </tr>
      <tr>
        <td><%= "Default Billing Address:"%></td>
        <td><%=  "#{@billing.street_address}, #{@billing.city.name}, #{@billing.state.name}" if @billing%></td>
      </tr>
      <tr>
        <td><%= "Default Shipping Address:"%></td>
        <td><%=  "#{@shipping.street_address}, #{@shipping.city.name}, #{@shipping.state.name}" if @shipping%></td>
      </tr>
    </table>
  </div>
  <div class="col-xs-12">
    <%= link_to "Edit User", edit_user_path(@user.id) %>
  </div>
  <div class="col-xs-12">
    <%= link_to "Delete User", user_path(@user.id), method: "delete", data: {confirm: "Are you sure?"} %>
  </div>
  <div class="col-xs-12">
    <%= link_to "View Saved Addresses",  addresses_path(user_id: @user.id) %>
  </div>
  <div class="col-xs-12">
    <%= link_to "View Unplaced Order (Cart)",  "#" %>
  </div>
</div>

<% if @credit_card %>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped table-bordered">
        <h3>Credit Card Information</h3>
        <tr>
          <td><%= "Nickname:"%></td>
          <td><%=  "#{@credit_card.nickname}" if @credit_card.nickname %></td>
        </tr>
        <tr>
          <td><%= "Number:"%></td>
          <td><%=  "#{@credit_card.card_number}" if @credit_card.card_number %></td>
        </tr>
        <tr>
          <td><%= "Expiration Date:"%></td>
          <td><%=  "#{@credit_card.exp_month}/#{@credit_card.exp_year}" if @credit_card.exp_month %></td>
        </tr>
        <tr>
          <td><%= "CV2:"%></td>
          <td><%=  "#{@credit_card.ccv}" if @credit_card.ccv %></td>
        </tr>
      </table>
    </div>
    <div class="col-xs-2">
      <%= link_to "Remove Card", credit_card_path(@credit_card.id), method: "delete", data: {confirm: "Are you sure you want to delete this credit card?"} %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <h3><%= "Admin Actions for #{@user.first_name} #{@user.last_name}" %></h3>
  </div>
  <div class="col-xs-10" style="margin: 10px;">
    <%= link_to "Create Order", "#", class: "btn btn-primary"%>
  </div>
  <div class="col-xs-10" style="margin: 10px;">
    <%= link_to "Create Address", new_address_path(user_id: @user.id), class: "btn btn-primary centered"%>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3><%= "Order History" %></h3>
  </div>

  <div class="col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Order Date</th>
          <th>Order Value</th>
          <th>Status</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |o| %>
          <tr>
            <td><%= o.id %></td>
            <td><%= o.checkout_date %></td>
            <td><%= number_to_currency(o.value) %></td>
            <td><%= o.checkout_date ? "PLACED" : "UNPLACED"%></td>
            <td><%= link_to "Show", "#" %></td>
            <td><%= link_to "Edit", "#" %></td>
            <td><%= link_to "Delete", "#" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
