<% @page_title = " | User" %>

<div class="row">
  <div class="col-md-12">
    <h3>User <%= @user.id %>: <%= "#{@user.first_name} #{@user.last_name}"%></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-12">
        <header>
          <h5>Demographic Information</h5>
        </header>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">

        <table>
          <tr>
            <td><b>First Name:</b></td>
            <td><%= @user.first_name %></td>
          </tr>
          <tr>
            <td><b>Last Name:</b></td>
            <td><%= @user.last_name %></td>
          </tr>
          <tr>
            <td><b>Email:</b></td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td><b>Default Billing Address:</b></td>
            <td><%= @user.default_billing_address %></td>
          </tr>
          <tr>
            <td><b>Default Shipping Address:</b></td>
            <td><%= @user.default_shipping_address %></td>
          </tr>
        </table>

      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12">
        <%= link_to "View User's Addresses", '#' %>
        <br>
        <% if Order.where("user_id = ? AND checkout_date IS NULL", @user.id) %>
          <%= link_to "View User's Current Shopping Cart", '#' %>
          <br>
        <% end %>
        <%= link_to 'Edit User', edit_user_path %>
        <br>
        <%= link_to 'Delete User', 
                    user_path, 
                    data: {:confirm => 'Are you sure?'}, 
                    :method => :delete %>
      </div>
    </div>

  </div>
</div>