<h1 class="text-center">User <%= @user.id %>: <%= @user.first_name %> <%= @user.last_name %></h1>


<div class="well">

  <h3 class="text-center">Demographic Information</h3>

  <h5><strong>First Name:</strong> <%= @user.first_name %></h5>
  <h5><strong>Last Name:</strong> <%= @user.last_name %></h5>
  <h5><strong>Email:</strong> <%= @user.email %></h5>

  <h5><strong>Telephone:</strong>555-555-5555</h5>
  <h5><strong>Default Billing Address:</strong> <%= full_billing(@user) %></h5>
  <h5><strong>Default Shipping Address:</strong> <%= full_shipping(@user) %></h5>


  <%= link_to "Edit #{@user.first_name} #{@user.last_name}'s Information", edit_user_path(@user)%>
  <br />
  <%= link_to "Delete #{@user.first_name} #{@user.last_name}", user_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
  <br />
  <!-- TODO: add link to addresses and cart/order -->
  <%= link_to "View Saved Addresses", user_addresses_path(@user)%> 
  <br />
  <% if @user.orders.cart %>
    <%= link_to "View Unplaced Order (Cart)"%> 
  <% else %>
    <a>"View Unplaced Order (Cart)"</a>
  <% end %>


</div> <!-- well -->


<div class="well">

  <h3 class="text-center">Credit Card Information</h3>

  <% @user.credit_cards.each do |card| %>

    <h5><strong>First Name:</strong> <%= @user.first_name %></h5>
    <h5><strong>Last Name:</strong> <%= @user.last_name %></h5>
    <h5><strong>Number:</strong> <%= card.card_number %></h5>
    <h5><strong>Expiration:</strong> <%= card.exp_month %>/<%= card.exp_year%> </h5>
    <h5><strong>CV2:</strong> <%= card.ccv %></h5>

  <% end %>


</div> <!-- well -->



<div class="well">

  <h3 class="text-center">Admin Actions for <%=@user.first_name %> <%= @user.last_name %></h3>
  <!-- TODO: hook this up to orders and addresses -->
  <%= link_to "Create Order", {}, class: "btn btn-primary btn-lg btn-block" %>
  <br />
  <%= link_to "Create Address", {}, class: "btn btn-primary btn-lg btn-block" %>


</div> <!-- well -->



<div class="well">

  <h3 class="text-center">Order History</h3>

  <%= render partial: "orders" %>

</div> <!-- well -->