<% @page_title = " | User" %>

<div class="row">
  <div class="col-md-12 text-center">
    <h2>User <%= @user.id %>: <%= "#{@user.first_name} #{@user.last_name}"%></h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    <div class="row">
      <div class="col-xs-12 text-center">
        <header>
          <h3>Demographic Information</h3>
        </header>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= render :partial => "./shared/table_with_side_headers",
                   :locals => {:headers_data => [['First Name:',@user.first_name],
                                                 ['Last Name:',@user.last_name],
                                                 ['Default Billing Address:',@user.default_billing_address],
                                                 ['Default Shipping Address:',@user.default_shipping_address]]
                              }
        %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-12">
        <%= link_to "View User's Addresses", '#' %>
        <br>
        <% if Order.where("user_id = ? AND checkout_date IS NULL", @user.id) %>
          <%= link_to "View User's Current Shopping Cart", '#' %>
          <br>
        <% end %>
        <%= link_to 'Edit User', edit_user_path %>
        <br>
        <%= link_to 'Delete User', 
                    user_path, 
                    data: {:confirm => 'Are you sure?'}, 
                    :method => :delete %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    <div class="row">
      <div class="col-xs-12 text-center">
        <header>
          <h3>Credit Card Information</h3>
        </header>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= render :partial => "./shared/table_with_side_headers",
                   :locals => {:headers_data => [['Nickname:',@user.credit_card.nickname],
                                                 ['Number:',@user.credit_card.card_number ],
                                                 ['Expiration:',"#{@user.credit_card.exp_month}/#{@user.credit_card.exp_year}"],
                                                 ['CCV:',@user.credit_card.ccv],
                                                 ['Card Type:',@user.credit_card.brand]]
                              }
        %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-12">
        <%= link_to 'Remove Card', 
                    credit_cards_path, 
                    data: {:confirm => 'Are you sure?'}, 
                    :method => :delete %>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    <div class="row">
      <div class="col-xs-12 text-center">
        <header>
          <h3>Demographic Information</h3>
        </header>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <a href="#" class="btn btn-primary btn-lg center-block">Create Order</button></a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <a href="#" class="btn btn-primary btn-lg center-block">Create Address</button></a>
      </div>
    </div>

  </div>
</div>