

<div class="col-xs-8 panel panel-default">

<h1 class="text-center"><u>Demographic Information</u></h1>

  <h5><strong>First Name:</strong> <%= @user.first_name %></h5>
  <h5><strong>Last Name:</strong> <%= @user.last_name %></h5>
  <h5><strong>Email:</strong> <%= @user.email %></h5>
  <br />
  <h5><strong>Default Billing Address:</h5>
    <h5><%= "#{@user.billing_address.street_address}, #{@user.billing_address.city.name}, #{@user.billing_address.state.name}" %></h5>
    <br />
  <h5><strong>Default Shipping Address:</h5>
    <h5><%= "#{@user.shipping_address.street_address}, #{@user.shipping_address.city.name}, #{@user.shipping_address.state.name}" %></h5>


  <%= link_to "Edit #{@user.first_name} #{@user.last_name}'s Information", edit_user_path(@user), class: "btn btn-primary btn-lg btn-block"%>
  <br />
  <%= link_to "Delete #{@user.first_name} #{@user.last_name}", user_path(@user), method: :delete, class: "btn btn-danger btn-lg btn-block", data: { confirm: "Are you sure you want to delete?"} %>
  <br />
</div> <!-- Panel -->

<% if @user.credit_card %>
<div class="col-xs-8 panel panel-default">
  <h1 class="text-center"><u>Credit Card Information</u></h1>
    <h5><strong>First Name:</strong> <%= @user.first_name %></h5>
    <h5><strong>Last Name:</strong> <%= @user.last_name %></h5>
    <h5><strong>Number:</strong> <%= @user.credit_card.card_number %></h5>
    <h5><strong>Expiration:</strong> <%= "#{@user.credit_card.exp_month}/#{@user.credit_card.exp_year}" %></h5>
    <h5><strong>Brand:</strong> <%= @user.credit_card.brand %></h5>
</div>
<% end %>

<div class="col-xs-8 panel panel-default">
  <h3>Admin Actions for <%= @user.full_name %></h3>
  <%= link_to "Create Order", new_order_path(:user_id => @user.id), class: "btn btn-primary btn-lg btn-block" %><br />
  <%= link_to "Create Address", new_address_path(:user_id => @user.id), class: "btn btn-primary btn-lg btn-block" %>
</div>

<div class="col-xs-8 panel panel-default">
  <h1 class="text-center"><u>Order History</u></h1>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Order Date</th>
          <th>Order Status</th>
          <th>Order Value</th>
          <th>SHOW</th>
          <th>EDIT</th>
          <th>DELETE</th>
        </tr>
      </thead>
      <tbody>

      <% @user.orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.created_at %></td>
          <td><%= order.checkout_date ? "Placed" : "Unplaced" %></td>
          <td><%= number_to_currency(order.order_value(order.id).value) %>
          <td><%= link_to "show"%></td>
          <td><%= link_to "edit"%></td>
          <td><%= link_to "delete" %></td>

        </tr>

      <% end %>

      </tbody>
    </table>
