<header class="page-header">
  <h1>
    User:
    <small>
      <%= @user.name %>
    </small>
  </h1>
</header>

<%= render @user %>

<%= render :partial => 'shared/edit_delete_buttons', :locals => {
  :resource => 'User',
  :edit_path => edit_user_path(@user),
  :delete_path => user_path(@user)
} %>

<h2>Cart</h2>
<% if @user.cart.persisted? %>
  <%= render :partial => 'shared/table', :locals => {:table => {
    :headers => ['Key', 'Value'],
    :rows => @user.cart.attributes.keys.map do |a|
      [a, @user.cart[a]]
    end
  }} %>
  <%= link_to('Show Cart', '#', :class => 'btn btn-primary') %>
<% else %>
  <p>No cart</p>
<% end %>

<h2>Orders</h2>
<% if @user.orders.present? %>
  <%= render :partial => 'shared/table', :locals => {:table => {
    :headers => @user.orders.first.attributes.keys + ['show', 'edit', 'delete'],
    :rows => @user.orders.map do |order|
      row = order.attributes.keys.map do |a|
        order[a]
      end

      row << link_to('show', user_order_path(@user, order))
      row << link_to('edit', edit_user_order_path(@user, order))
      row << link_to('delete', user_order_path(@user, order), :method => :delete, :class => 'text-danger', :data => {:confirm => 'Delete?'})
    end
  }} %>
<% else %>
  <p>No orders</p>
<% end %>
<div class="btn-group">
  <%= link_to('+ New Order', new_user_order_path(@user), :class => 'btn btn-primary') %>
</div>

<h2>Addresses</h2>
<% if @user.addresses.present? %>
  <div class="btn-group">
    <%= link_to('Addresses', user_addresses_path(@user), :class => 'btn btn-primary') %>
  </div>
<% else %>
  <p>No addresses</p>
<% end %>
<div class="btn-group">
  <%= link_to('+ New Address', new_user_address_path(@user), :class => 'btn btn-primary') %>
</div>

<h2>Credit Cards</h2>
<% if @user.credit_cards.present? %>
  <% @user.credit_cards.each do |credit_card| %>
    <%= render credit_card %>
  <% end %>
<% else %>
  <p>No credit cards</p>
<% end %>




