<% content_for :title do %>
  <title>Viking Store Admin Portal</title>
<% end %>

<div class="row">
  <div class="col-md-9 main-content">
    <h2 class="text-center">User <%=@user.id %>: <%=@user.first_name %> <%=@user.last_name %></h2>


    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <h3 class="text-center">Demographic Inforrmation</h3>
        </tr>
        <tr>
          <td><strong>First Name:</strong></td>
          <td><%=@user.first_name %></td>
        </tr>
        <tr>
          <td><strong>Last Name:</strong></td>
          <td><%=@user.last_name %></td>
        </tr>
        <tr>
          <td><strong>Email</strong></td>
          <td><%=@user.email %></td>
        </tr>
        <tr>
        <td><strong>Default Billing Address</strong></td>
          <td>
            <%= @user.addresses.first.street_address%>
          </td>
       </tr>
        <tr>
           <td><strong>Default Shipping Address</strong></td>
           <td>
            <%= @user.addresses.first.street_address %>
          </td>
      </tr>
        
        
      </tbody>
    </table>
    <br/>
    <% if @user.credit_cards.empty? %>
      <p>No Credit Card details</p>
    <% else 
         @user.credit_cards.each do |credit_card| %>
          <%= render partial: "user_credit_card_details", locals: { credit_card: credit_card} %>
       <% end 
      end %>




    <!-- <table class="table table-striped table-bordered"> -->
    
    <p><%= link_to "Edit #{@user.first_name} #{@user.last_name}", edit_user_path(@user) %></p>
    <p><%= link_to "Delete #{@user.first_name} #{@user.last_name}", user_path(@user),
                      data: { confirm: "Are you sure?" },
                      method: :delete %></p>
    <p><%= link_to "View Saved Addresses", user_addresses_path(@user) %></p>
    
    <p><%= link_to "View Unplaced Order (Cart)", "#" %></p>

  </div>
</div>