<h1>User <%= @user.id.to_s + " : " + @user.first_name + " " + @user.last_name%></h1>

<div>
  <h3>Demographic Information</h3>
  <table class="table table-striped">
    <tr>
      <td>First Name</td>
      <td><%= @user.first_name %></td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td><%= @user.last_name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>Default Billing Address</td>
    </tr>
    <tr>
      <td><%= billing_address_for(@user) %></td>
    </tr>
    <tr>
      <td>Default Shipping Address</td>
    </tr>
    <tr>
      <td><%= shipping_address_for(@user) %></td>
    </tr>
  </table>
  <%= link_to "Edit", edit_user_path(@user.id) %>
  <br>
  <%= link_to "Delete" , user_path(@user.id), data: {confirm: "Are you sure?"}, method: :delete %>
  <br>
  <%= link_to "View saved addresses" , user_addresses_path(@user.id) %>
  <br>
  <%= link_to "View unplaced orders" , "#" %>
</div>

<% @credit_cards.each do |card| %>
  <div>
    <table class="table table-striped">
      <tr>
        <td>First Name</td>
        <td><%= @user.first_name %></td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td><%= @user.last_name %></td>
      </tr>
      <tr>
        <td>Card Nickname</td>
        <td><%= card.nickname %></td>
      </tr>
      <tr>
        <td>Credit Card Number</td>
        <td><%= card.card_number %></td>
      </tr>
      <tr>
        <td>Expiration Date</td>
        <td><%= "#{card.exp_month}/#{card.exp_year}" %></td>
      </tr>
      <tr>
        <td><%= link_to "Delete this card", user_credit_card_path(@user.id, card.id ), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-default" %></td>
      </tr>
    </table>
  </div>
<% end %>

<div>
<h1>Admin actions for <%= "#{@user.first_name} #{@user.last_name}" %> </h1>
<%= link_to "Create an order", new_user_order_path(@user.id), class: "btn btn-default" %>
<%= link_to "Create an address", new_user_address_path(@user.id), class: "btn btn-default" %>
</div>

<div>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Order date</th>
      <th>Order value</th>
      <th>Status</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @user.orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.checkout_date.strftime("%d %b %Y") unless order.checkout_date.nil? %></td>
        <td><%= number_to_currency order.value %></td>
        <td><%= order.status %></td>
        <td><%= link_to "Show", order_path(order.id) %></td>
        <td><%= link_to "Edit", edit_order_path(order.id) %></td>
        <td><%= link_to "Delete", order_path(order.id), data: {confirm: "Are you sure?"}, method: :delete %></td>
      </tr>
    <% end %>
  </table>
</div>
