<table class="table table-striped table-bordered table-sm">
  <thead class="thead-default">
  <tr>
    <th>Criteria</th>
    <th>User</th>
    <th>Quantity</th>
  </tr>
  </thead>

  <tr>
    <td>Highest single order</td>
    <td><%= @max_order.name %></td>
    <td>&dollar;<%= @max_order.order_amount %></td>
  </tr>
  <tr>
    <td>Highest lifetime value</td>
    <td><%= @biggest_spender.name %></td>
    <td>&dollar;<%= @biggest_spender.revenue %></td>
  </tr>
  <tr>
    <td>Highest average order</td>
    <td><%= @largest_avg_orderer.name %></td>
    <td>&dollar;<%= @largest_avg_orderer.average %></td>
  </tr>
  <tr>
    <td>Most orders placed</td>
    <td><%= @top_orderer.name %></td>
    <td><%= @top_orderer.order_count %></td>
  </tr>
</table>