<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center">Viking Store analytics dashboard</h1>
  </div>
</div>
<div class="row">
  <%= render 'overall_platform' %>

  <section class="user-demographics col-sm-6 border border-primary rounded">
    <h4 class="text-center">2. Users demographics and behavior</h4>

    <h5>Top 3 states users live in (billing)</h5>
    <%= render partial: 'most_lived_in_table', locals: { areas: @top_states } %>

    <h5>Top 3 cities users live in (billing)</h5>
    <%= render partial: 'most_lived_in_table', locals: { areas: @top_cities } %>

    <h5>Top users with...</h5>
    <%= render 'users_with_table' %>
  </section>
</div>

<div class="row">
  <section class="order-stats col-sm-6 border border-primary rounded">
    <h4 class="text-center">3. Orders statistics</h4>

    <h5>Last 7 days</h5>
    <%= render partial: 'order_statistics_table', locals: {
        orders: @orders_7,
        revenue: @revenue_7,
        average_order: @average_order_7,
        largest_order: @largest_order_7
    } %>
  </section>
</div>