<div class="col-xs-2">
  <h5>Navigation Options</h5>
  <p><%= link_to "Users", admin_users_path %></p>
  <p><%= link_to "Addresses", admin_addresses_path %></p>
  <p><%= link_to "Orders", admin_orders_path %></p>
  <p><%= link_to "Products", admin_products_path %></p>
  <p><%= link_to "Categories", admin_categories_path %></p>
  <hr>
  <p><%= link_to "Analytics Dashboard", admin_dashboard_path %></p>
</div>
