<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">User Demographics and Behavior</h3>
    </div>
    <div class="panel-body">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Top 3 States Users Live in(billing)</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <td>Item</td>
                <td>Data</td>
              </tr>
            </thead>
            <tbody>
              <% top_states.each do |state| %>
              <tr>
                <td><%= state.name %></td>
                <td><%= state.users_sum %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Top 3 Cities Users Live in(billing)</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <td>Item</td>
                <td>Data</td>
              </tr>
            </thead>
            <tbody>
              <% top_cities.each do |city| %>
              <tr>
                <td><%= city.name %></td>
                <td><%= city.users_sum %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Top Users</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <td>Item</td>
                <td>User</td>
                <td>Quantity</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Highest single order value</td>
                <td><%= "#{top_single_order.first_name} #{top_single_order.last_name}" %></td>
                <td>$<%= top_single_order.revenue.to_i %></td>
              </tr>
              <tr>
                <td>Highest lifetime value customer</td>
                <td><%= "#{top_value_customer.first_name} #{top_value_customer.last_name}" %></td>
                <td>$<%= top_value_customer.revenue.to_i %></td>
              </tr>
              <tr>
                <td>Highest average order value</td>
                <td><%= "#{top_avg_order.first_name} #{top_avg_order.last_name}" %></td>
                <td>$<%= top_avg_order.avg_price.to_i %></td>
              </tr>
              <tr>
                <td>Most orders placed</td>
                <td><%= "#{user_with_most_orders.first_name} #{user_with_most_orders.last_name}" %></td>
                <td><%= user_with_most_orders.orders_num %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
