<section id="edit-or-new">

  <header class="text-center">
    <h3><%= form_header %></h3>
  </header>

  <%= form_for object do |f| %>
    <p>
  	 <%= f.label :id, "ID: " %>
  	 <%= f.text_field :id, :placeholder => (object.id || 'n/a'), :readonly => true %>
  	</p>
    <p>
      <%= f.label :name, "Name: " %>
      <%= f.text_field :name %>
    </p>
    <%= f.submit submit_label %>

    <% if form_type == 'edit' %>
      <%= link_to 'Delete', object, data: {:confirm => "Are you sure?"}, :method => :delete %>
    <% end %>

  <% end %>

</section>