<footer class="footer">
  <div class="pull-right">
    <%= link_to(fa('sign-in') + ' Admin Login', admin_path) %>
  </div>

  <div class="title">
    <h2>CONTACT</h2>
  </div>
  <div class="contact">
    <div class="info">
      <%= fa('phone-square') %>
      <a href="tel:1-000-000-0000">
        1 - 800 - AXE - GEAR
      </a>
    </div>
    <div class="info">
      <%= fa('envelope') %>
      <a href="mailto:mail@vikingstore.com">
        mail@vikingstore.com
      </a>
    </div>
    <div class="info">
      <%= fa('github-square') %>
      <a href="https://github.com/BideoWego">
        Bideo Wego on Github
      </a>
    </div>
    <div class="info">
      <%= fa('gamepad') %>
      <a href="http://bideowego.com">
        More by Bideo Wego
      </a>
    </div>
  </div>
</footer>