
<h5 class="text-center">Navigation</h5>
<div><%= link_to "Users", users_path%></div>
<div><%= link_to "Addresses", addresses_path%></div>
<div><%= link_to "Orders", orders_path%></div>
<div><%= link_to "Products", admin_products_path%></div>
<div><%= link_to "Categories", admin_categories_path%></div>
<hr>
<div><%= link_to "Analytics Dashboard", root_path%> </div>
