<nav class="navbar navbar-default navbar-fixed-side">
  <ul class="nav navbar-nav text-center">
    <div class="col-lg-12">
    <h4>Navigation options</h4>
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "Address", addresses_path %></li>
    <li><%= link_to "Orders", orders_path %></li>
    <li><%= link_to "Products", products_path %></li>
    <li><%= link_to "Categories", category_index_path %></li>
    <hr>
    <li><%= link_to "Analytics Dashboard", dashboard_path %></a></li>
    </div>
  </ul>
</nav>
