<div class="col-sm-3">
  <nav class="col-sm-12">
    <h4 class="text-center">Navigation Options</h5>

      <h5 class="text-center">
        <%= link_to 'Users', users_path %>
      </h5>

      <h5 class="text-center">
        <%= link_to 'Addresses', addresses_path %>
      </h5>

      <h5 class="text-center">
        <%= link_to 'Orders', orders_path %>
      </h5>
      
    
      <h5 class="text-center">
        <%= link_to 'Categories', categories_path %>
      </h5>

      <h5 class="text-center">
        <%= link_to 'Products', products_path %>
      </h5>

      <hr>

      <h5 class="text-center">
        <%= link_to 'Analytics Dashboard', admin_path %>
      </h5>

  </nav>    
</div>