<nav class = "col-md-2" id="admin-navbar">
  <h4>Navigation Options</h4>
  <div class = "row">
    <div class = "col-md-12">
      <%= link_to "Users", "#" %>
    </div>
    <div class = "col-md-12">
      <%= link_to "Addresses", "#" %>
    </div>

    <div class = "col-md-12">
      <%= link_to "Orders", "#" %>
    </div>

    <div class = "col-md-12">
      <%= link_to "Products", products_path %>
    </div>

    <div class = "col-md-12">
      <%= link_to "Categories", categories_path %>
    </div>

    <div class = "col-md-12">
      <hr />
      <%= link_to "Analytics Dashboard", analytics_path %>
    </div>
  </div>
</nav>