<div class="col-xs-3">
  <h5>Navigation Options</h5>
  <p><%= link_to "Users", "#" %></p>
  <p><%= link_to "Addresses", "#" %></p>
  <p><%= link_to "Orders", "#" %></p>
  <p><%= link_to "Products", "#" %></p>
  <p><%= link_to "Categories", "#" %></p>
  <hr>
  <p><%= link_to "Analytics Dashboard", dashboard_path %></p>
</div>