
<h5 class="text-center">Navigation</h5>
<div><%= link_to "Users", "#"%></div>
<div><%= link_to "Addresses", "#"%></div>
<div><%= link_to "Orders", "#"%></div>
<div><%= link_to "Products", "#"%></div>
<div><%= link_to "Categories", categories_path%></div>
<hr> 
<div><%= link_to "Analytics Dashboard", root_path%> </div>