<nav class="nav flex-column" id="nav-bar">
  <p>Navigation Options</p>
  <a class="nav-link" href="<%= admin_users_path %>">Users</a><br>
  <a class="nav-link" href="<%= admin_addresses_path %>">Addresses</a><br>
  <a class="nav-link" href="<%= admin_orders_path %>">Orders</a><br>
  <a class="nav-link" href="<%= admin_products_path %>">Products</a><br>
  <a class="nav-link" href="<%= admin_categories_path %>">Categories</a><br>
  <br>
  <a class="nav-link dashboard-link" href="<%= admin_dashboard_path %>">Analytics Dashboard</a>
</nav>
