<section class="navbar col-xs-1">
  Navagation Options
  <ul class="navbar">
    <li role="presentation"><%= link_to "Users", "#" %></li>
    <li role="presentation"><%= link_to "Addresses", "#" %></li>
    <li role="presentation"><%= link_to "Orders", admin_orders_path %></li>
    <li role="presentation"><%= link_to "Products", admin_products_path %></li>
    <li role="presentation"><%= link_to "Categories", admin_categories_path %></li>
    <li role="presentation"><%= link_to "Analytics Dashboard", admin_dashboard_path %></li>
  </ul>
</section>
