<div class="col-sm-2 text-center">
  <h5>Navigation Options</h5>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to 'Users', admin_users_path %></li>
    <li><%= link_to 'Addresses', admin_addresses_path %></li>
    <li><%= link_to 'Orders', admin_orders_path %></li>
    <li><%= link_to 'Products', admin_products_path %></li>
    <li><%= link_to 'Categories', admin_categories_path %></li>
    <li><%= link_to 'Analytics Dashboard', root_path %></li>
  </ul>

</div>