<section>
  <div class="heading">
    <h2>3. Order Statistics</h2>
  </div>
  <article>
    <table class="info-display-table table table-striped">
      <thead>
        <caption>Last 7 Days</caption>
        <tr>
          <th>Item</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of Orders</td>
          <td><%= @order_stats[:sevendays_count] %></td>
        </tr>
        <tr>
          <td>Total Revenue</td>
          <td><%= @rev_stats[:sevendays] %></td>
        </tr>
        <tr>
          <td>Average Order Value</td>
          <td><%= @order_stats[:sevendays_average] %></td>
        </tr>
        <tr>
          <td>Largest Order Value</td>
          <td><%= @order_stats[:sevendays_largest] %></td>
        </tr>
      </tbody>
    </table>
  </article>
  <article>
    <table class="info-display-table table table-striped">
      <thead>
        <caption>Last 30 Days</caption>
        <tr>
          <th>Item</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of Orders</td>
          <td><%= @order_stats[:thirtydays_count] %></td>
        </tr>
        <tr>
          <td>Total Revenue</td>
          <td><%= @rev_stats[:thirtydays] %></td>
        </tr>
        <tr>
          <td>Average Order Value</td>
          <td><%= @order_stats[:thirtydays_average] %></td>
        </tr>
        <tr>
          <td>Largest Order Value</td>
          <td><%= @order_stats[:thirtydays_largest] %></td>
        </tr>
      </tbody>
    </table>
  </article>
  <article>
    <table class="info-display-table table table-striped">
      <thead>
        <caption>Total</caption>
        <tr>
          <th>Item</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of Orders</td>
          <td><%= @order_stats[:total_count] %></td>
        </tr>
        <tr>
          <td>Total Revenue</td>
          <td><%= @rev_stats[:total] %></td>
        </tr>
        <tr>
          <td>Average Order Value</td>
          <td><%= @order_stats[:total_average] %></td>
        </tr>
        <tr>
          <td>Largest Order Value</td>
          <td><%= @order_stats[:total_largest] %></td>
        </tr>
      </tbody>
    </table>
  </article>
</section>
