<h2 class="text-center">4. Time Series Data</h2>
<br>
<h3 class="text-center">Orders by day</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Quantity</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
    <% @by_day.each_with_index do |date, i| %>
      <tr>
        <td><%= @by_day[i].created_at %></td>
        <td><%= @by_day[i].quantity %></td>
        <td><%= @by_day[i].order_value %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<h3 class="text-center">Orders by week</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Quantity</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
    <% @by_week.each_with_index do |date, i| %>
      <tr>
        <td><%= @by_week[i].week %></td>
        <td><%= @by_week[i].quantity %></td>
        <td><%= @by_week[i].order_value %></td>
      </tr>
    <% end %>
    </tbody>
  </table>