<h2 class="text-center">2. User Demographics + Behavior</h2>
<br>
<h3 class="text-center">Top 3 States Users Live in (Billing)</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
    <% (0..2).each do |i| %>
      <tr>
        <td><%= @states[i].name %></td>
        <td><%= @states[i].count %></td>
      </tr>
    <% end %>
    </tbody>
  </table>


<h3 class="text-center">Top 3 Cities Users Live in (Billing)</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
    <% (0..2).each do |i| %>
      <tr>
        <td><%= @cities[i].name %></td>
        <td><%= @cities[i].count %></td>
      </tr>
    <% end %>
    </tbody>
  </table>


<h3 class="text-center">Top User With...</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>User</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Highest Single Order Value</td>
        <td><%= @highest_single_order_value[0].name %></td>
        <td><%= @highest_single_order_value[0].order_value %></td>
      </tr>
      <tr>
        <td>Highest Lifetime Value</td>
        <td><%= @highest_lifetime_value[0].name %></td>
        <td><%= @highest_lifetime_value[0].lifetime %></td>
      </tr>
      <tr>
        <td>Highest Average Order Value</td>
        <td><%= @highest_average_value[0].name %></td>
        <td><%= @highest_average_value[0].average %></td>
      </tr>
      <tr>
        <td>Most Orders Placed</td>
        <td><%= @most_orders_placed[0].name %></td>
        <td><%= @most_orders_placed[0].num_orders %></td>
      </tr>
    </tbody>
  </table>