<tbody>
  <tr>
    <td><%= @top_three_states[0].name %></td>
    <td><%= @top_three_states[0].num_users %></td>
  </tr>
  <tr>
    <td><%= @top_three_states[1].name %></td>
    <td><%= @top_three_states[1].num_users %></td>
  </tr>
  <tr>
    <td><%= @top_three_states[2].name %></td>
    <td><%= @top_three_states[2].num_users %></td>
  </tr>
</tbody>