<h2>Add Products to Order</h2>
<h5>Add up to 5 products at a time.</h5>

<%= form_for order, url: order_contents_create_oc_path, method: 'post' do %>
  <%= hidden_field :order, :id, :value => order.id %>
  <table class="table-bordered">
    <tr>
      <th>ProductID</th>
      <th>Quantity</th>
    </tr>
    <% 5.times do |i| %>
      <tr>
        <%= fields_for "order_content[]", OrderContent.new do |field| %>
          <%= field.hidden_field :order_id, value: order.id %>
          <td><%= field.text_field :product_id %></td>
          <td><%= field.text_field :quantity, value: "" %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
    <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
