<h1> Order Contents </h1>
<%= form_for order do %>
  <%= hidden_field :order, :id, :value => order.id %>
<table class="table table-bordered">
  <tr>
    <th>ProductID</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total Price </th>
    <th>Remove</th>
  </tr>

  <% order.order_contents.each do |order_content| %>
    <tr>
      <td><%= order_content.product.id %> </td>
    <%= fields_for "order_content[]", order_content do |order_field| %>
      <td><%= order_field.text_field :quantity %></td>
    <% end %>
      <td><%= order_content.product.price %> </td>
      <td><%= order_content.quantity * order_content.product.price %></td>
      <td><%= link_to "REMOVE", admin_order_contents_remove_oc_path({order_id: order.id, id: order_content.id})%> </td>
    </tr>
  <% end %>
</table>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
