<div class='row'>

  <div class='col-xs-12'>

    <h3 class='text-center'><strong>Add Products to Order</strong></h3>

    <p class='text-center'>
      <em>Add up to 5 products at a time</em>
    </p>

  </div>

</div>


<%= form_tag "/orders/#{order.id}", method: "post" do %>
  <%= hidden_field_tag :_method, :patch %>

  <table class='table table-striped table-bordered table-condensed'>

    <thead class='bg-primary'>
      <tr>
        <td>Product ID</td>
        <td>Quantity</td>
      </tr>
    </thead>



    <tbody>

      <% 5.times do |row_number| %>
        <tr>
          <td><%= text_field_tag "new_products[#{row_number}][id]" %></td>
          <td><%= text_field_tag "new_products[#{row_number}][quantity]" %></td>
        </tr>
      <% end %>

    </tbody>

  </table>


  <!-- BUTTON -->
  <div class='row'>

    <div class='col-xs-10 col-xs-offset-1'>
      <%= submit_tag "#{button_label}", method: :patch, class: 'btn btn-primary btn-lg btn-block' %>
    </div>

  </div>

<% end %>
