
<div class = "col-xs-8 panel panel-default">
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ProductID</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>

  <% @order.products.each_with_index do |product, index| %>
    <tr>
      <td><%= product.id %></td>
      <%= form_for @ordercontent[index] do |f| %>
      <td><%= f.text_field :quantity, class: "form-control", placeholder: product.product_in_order(@order.id).quantity %></td>
      <% end %>
      <td><%= number_to_currency(product.price) %></td>
      <td><%= number_to_currency(product.product_in_order(@order.id).quantity * product.price) %></td>

    </tr>

  <% end %>

  </tbody>
</table>
</div>
