<h3>Logistical Information</h3>

<h3>Basic Information</h3>

<h4>Customer ID: <%= @user.id %></h4>
<h4>Customer: <%= @user.full_name %> (click to view user)</h4>
<h4>Date Placed: <%= @order.cart? ? "N/A" : @order.checkout_date %></h4>

<%= link_to "Edit Customer Profile", edit_user_path(@user) %>




<%= form_for([@user, @order]) do |f| %>

	<% if @order.persisted? %>
		<input type="radio" name="status" <%= "checked" unless @order.cart? %> value="placed"><span class="placed-order"> PLACED</span><br>
		<input type="radio" name="status" <%= "checked" if @order.cart? %> value="unplaced"><span class="unplaced-order"> UNPLACED</span><br>
	<% end %>

		<%= f.hidden_field :user_id, :value => @user.id %>
		<%= f.label :shipping_id, "Shipping Address :" %>
		<%= f.collection_select(:shipping_id, @user.addresses, :id, :street_address) %><br>

		<%= f.label :billing_id, "Billing Address :" %>
		<%= f.collection_select(:billing_id, @user.addresses, :id, :street_address) %><br>

		<%= f.label :credit_card_id, "Billing Card :" %>
		<%= f.collection_select(:credit_card_id, @user.credit_cards, :id, :card_number) %><br>

	<% if @order.persisted? %>
		<%= f.submit "Update Order information", class: "btn btn-primary" %>
	<% else %>
		<%= f.submit "Create Order in Shopping Cart", class: "btn btn-primary" %>
	<% end %>
<% end %>



<% if @order.persisted? %>
	<%= link_to "Delete order", "#" %>
<% else %>
	<p>You can add products on the next screen, once it's been created</p>
<% end %>





<% if @order.persisted? %>
	<h3>Edit Order Content</h3>

	<%= form_tag("/update_quantities_order", method: :patch) do %>
		<table class="table">
			<tr>
				<th>Product ID</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Total Price</th>
				<th>REMOVE</th>
			</tr>
			<% @order.products.each do |product| %>
				<tr>
					<%= hidden_field_tag :order_id, @order.id %>
					<%= hidden_field_tag :user_id, @user.id %>
					<td><%= product.id %></td>
					<td><%= text_field_tag "order_content[#{@order_content.where(product_id: product.id).first.id}][quantity]", 
										 @order_content.where(product_id: product.id).first.quantity %></td>
					<td><%= product.price %></td>
					<td><%= product_quantity(@order, product) * product.price %></td>
					<td><%= link_to "remove", order_content_path(@order_content.where(product_id: product.id).first.id), method: :delete, 
										      data: {confirm: "Are you Sure?"} %></td>
				</tr>
			<% end %>
		</table>
		<%= submit_tag "Update Order Content", class: "btn btn-primary" %>
	<% end %>
<% end %>




<% if @order.persisted? %>
	<h3>Add Products to Order</h3>
	<p>Add up to 5 products at a time</p>
	<%= form_tag("/update_products_order", method: :patch) do %>
		<table class="table">
			<tr>
				<th>Product ID</th>
				<th>Quantity</th>
			</tr>
			<% 5.times do |count| %>
				<tr>

					<td><%= text_field_tag "product[#{count}][id]" %></td>
					<td><%= text_field_tag "product[#{count}][quantity]" %></td>
				</tr>
			<% end %>
		</table>

		<%= hidden_field_tag :order_id, @order.id %>
		<%= hidden_field_tag :user_id, @user.id %>

		<%= submit_tag "Add Products", class: "btn btn-primary" %>
	<% end %>
<% end %>









