<h3>Logistical Information</h3>

<h3>Basic Information</h3>

<h4>Customer ID: <%= @user.id %></h4>
<h4>Customer: <%= print_name(@user) %> (click to view user)</h4>
<h4>Date Placed: <%= "N/A" %></h4>

<%= link_to "Edit Customer Profile", edit_user_path(@user) %>

<%= form_for(@order, url: user_orders_path(@user), method: :post) do |f| %>
		<%= f.hidden_field :user_id, :value => @user.id %>
		<%= f.label :shipping_id, "Shipping Address :" %>
		<%= f.collection_select(:shipping_id, @user.addresses, :id, :street_address) %><br>

		<%= f.label :billing_id, "Billing Address :" %>
		<%= f.collection_select(:billing_id, @user.addresses, :id, :street_address) %><br>

		<%= f.label :credit_card_id, "Billing Card :" %>
		<%= f.collection_select(:credit_card_id, @user.credit_cards, :id, :card_number) %><br>

		<%= f.submit "Create Order in Shopping Cart", class: "btn btn-primary" %>
<% end %>

<p>You can add products on the next screen, once it's been created</p>

