<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>User ID</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Total Value</th>
      <th>Status</th>
      <th>Date Placed</th>
      <th>SHOW</th>
      <th>EDIT</th>
      <th>DELETE</th>
    </tr>
  </thead>
  <tbody>
  <% orders.each do |order| %>
  <% address = order.shipping_address %>
  <% if address.nil? %>
      <tr>
      <td><%= order.id %></td>
      <td><%= link_to order.user_id, user_path(order.user_id) %></td>
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
      <td><%= order.id %></td>
      <td><%= status(order) %></td>
      <td><%= order.created_at.strftime('%m/%d/%Y') %></td>
      <td><%= link_to 'SHOW', order_path(order.id) %></td>
      <td><%= link_to 'EDIT', edit_order_path(order.id, :user_id => order.user_id) %></td>
      <td><%= link_to 'DELETE', order, method: 'delete', data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% else %>
    <tr>
      <td><%= order.id %></td>
      <td><%= link_to order.user_id, user_path(order.user_id) %></td>
      <td><%= address.street_address %></td>
      <td><%= address.city.name %></td>
      <td><%= address.state.name %></td>
      <td><%= order.id %></td>
      <td><%= status(order) %></td>
      <td><%= order.created_at.strftime('%m/%d/%Y') %></td>
      <td><%= link_to 'SHOW', order_path(order.id) %></td>
      <td><%= link_to 'EDIT', edit_order_path(order.id, :user_id => order.user_id) %></td>
      <td><%= link_to 'DELETE', order, method: 'delete', data: { confirm: 'Are you sure?'} %></td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>