<div class='row show-block'>
  <div class='col-xs-12'>

    <div class='form-group'>
      <div class='row'>

        <div class='col-xs-12'>
          <%= f.label :checkout_date, 'Order Status:' %>
        </div>

        <div class='col-xs-12'>
          <%= f.label :checkout_date, "PLACED", :class => "text-success" %>
          <%= f.radio_button :checkout_date, DateTime.now %>
        </div>

        <div class='col-xs-12'>
          <%= f.label :checkout_date, "UNPLACED", :class => "text-danger" %>
          <%= f.radio_button :checkout_date, nil %>
        </div>

      </div>
    </div>

  </div>
</div>