<div class='row'>

  <div class='col-xs-12'>
    <h4 class='text-center'><strong><u>Logistical Information</u></strong></h4>
  </div>

</div>

<%= form_for order do |f| %>

  <!-- Shipping Address -->
  <div class='form-group'>
    <div class='row'>

      <div class='col-xs-12'>
        <%= f.label :shipping_id, 'Shipping Address:' %>
      </div>

      <div class='col-xs-12'>
        <%= render_user_addresses(f, available_addresses, :shipping_id) %>
        <%= render_error(order,:shipping_id) %>
      </div>

    </div>
  </div>

  <!-- Billing Address -->
  <div class='form-group'>
    <div class='row'>

      <div class='col-xs-12'>
        <%= f.label :billing_id, 'Billing Address:' %>
      </div>

      <div class='col-xs-12'>
        <%= render_user_addresses(f, available_addresses, :billing_id) %>
        <%= render_error(order,:billing_id) %>
      </div>

    </div>
  </div>

  <!-- Credit Card -->
  <div class='form-group'>
    <div class='row'>

      <div class='col-xs-12'>
        <%= f.label :credit_card, 'Credit Card:' %>
      </div>

      <div class='col-xs-12'>
        <%= render_user_cards(f, available_cards, :credit_card_id) %>
        <%= render_error(order,:credit_card_id) %>
      </div>

    </div>
  </div>

  <!-- Submit -->
  <div class='row'>

    <div class='col-xs-10 col-xs-offset-1'>
      <%= f.submit "#{button_label}", class: 'btn btn-primary btn-lg btn-block' %>
    </div>

  </div>

  <div class='row'>
    <div class='col-xs-8 col-xs-offset-2'>
      <p class='text-muted'><em>You can add products on the next screen, once it's been created.</em></p>
    </div>
  </div>

<% end %>