<tr>
  <td><%= order_content[:product_id] %></td>
  <td><%= order_content[:product_name] %></td>
  <td><%= order_content[:quantity] %></td>
  <td><%= currency_if_float(order_content[:price]) %></td>
  <td><%= currency_if_float(order_content[:total_price]) %></td>
</tr>