<tr>
  <td><%= order_content[:product_id] %></td>
  <td><%= order_content[:product_name] %></td>
  <td><%= link_to order_content[:quantity], product_path(order_content[:product_id]) %></td>
  <td><%= currency_if_float(order_content[:price]) %></td>
  <td><%= currency_if_float(order_content[:total_price]) %></td>
</tr>