<div class='row'>

  <div class='col-xs-12'>
    <h3 class='text-center'><strong>Demographic Information</strong></h3>
  </div>

</div>




<!-- Basic Info -->
<div class='row show-block'>
  <div class='col-xs-12'>

    <div class='row'>
      <div class='col-xs-12'>
        <h4><strong>Basic Information</strong></h4>
      </div>
    </div>


    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>Customer ID:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= user.id %></p>
      </div>

    </div>


    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>Customer:</strong></p>
      </div>

      <div class='col-xs-9'>
        <%= link_to "#{user.first_name} #{user.last_name} (click to view user)", user_path(user.id) %>
      </div>

    </div>


    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>Date Placed:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= order.checkout_date.to_date if order.checkout_date %></p>
      </div>

    </div>


    <div class='row'>

      <div class='col-xs-3'>
        <p><strong># of Products:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= order.count_total_quantity %></p>
      </div>

    </div>


    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>Order Value:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= currency_if_float(order.calculate_order_value)
         %></p>
      </div>

    </div>


    <div class='row'>

      <div class='col-xs-12'>
        <%= link_to 'Edit Customer Profile', edit_user_path(user.id) %>
      </div>

    </div>


  </div>
</div> <!-- basic info -->



<!-- Order Status -->
<div class='row show-block'>
  <div class='col-xs-12'>

    <div class='row'>
      <div class='col-xs-12'>
        <h4><strong>Order Status:</strong></h4>
      </div>
    </div>


    <div class='row'>

      <div class='col-xs-12 status-text'>
        <p <%= color_status_text(order.define_status) %> >
          <%= order.define_status %>
        </p>
      </div>

    </div>

  </div>
</div> <!-- order status -->



<!-- Shipping Address -->
<div class='row show-block'>
  <div class='col-xs-12'>

    <div class='row'>
      <div class='col-xs-12'>
        <h4><strong>Shipping Address</strong></h4>
      </div>
    </div>


    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>Street:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= shipping_address.street_address %></p>
      </div>

    </div>


    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>City:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= shipping_address.city.name %></p>
      </div>

    </div>


    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>State:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= shipping_address.state.name %></p>
      </div>


    </div>
  </div>
</div> <!-- shipping address -->



<!-- Billing Address -->
<div class='row show-block'>
  <div class='col-xs-12'>

    <div class='row'>
      <div class='col-xs-12'>
        <h4><strong>Billing Address</strong></h4>
      </div>
    </div>


    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>Street:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= billing_address.street_address %></p>
      </div>

    </div>


    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>City:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= billing_address.city.name %></p>
      </div>

    </div>


    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>State:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= billing_address.state.name %></p>
      </div>


    </div>
  </div>
</div> <!-- billing address -->



<!-- Billing Card -->
<div class='row show-block'>
  <div class='col-xs-12'>

    <div class='row'>
      <div class='col-xs-12'>
        <h4><strong>Billing Card</strong></h4>
      </div>
    </div>


    <div class='row'>

      <div class='col-xs-3'>
        <p><strong>Last 4 Digits:</strong></p>
      </div>

      <div class='col-xs-9'>
        <p><%= card %></p>
      </div>

    </div>

  </div>
</div> <!-- billing address -->