<div class="row">
  <div class="col">
    <h2 class="text-center">Edit Order <%= @order.id %></h2>
  </div>
</div>

<!-- Logistical Information panel -->
<div class="row justify-content-center mb-3">
  <div class="col-10 border">

    <%= render partial: "orders/shared_view_elements", locals: { order: @order, user: @user } %>

    <div class="row">
      <div class="col">
        <%= link_to "Edit Customer Profile", edit_user_path(@user) %>
      </div>
    </div>

    <!-- form -->
    <div class="row mt-3">
      <div class="col">

        <%= form_for @order do |f| %>
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <h4>Order Status</h4>
              </div>
            </div>

            <div class="form-row">
              <div class="col">
                <div class="form-check ml-2">
                  <% if @order.placed? %>
                    <%= f.radio_button :checkout_date, "placed", checked: true %>
                  <% else %>
                    <%= f.radio_button :checkout_date, "placed" %>
                  <% end %>
                  <%= f.label :checkout_date, "PLACED", class: "form-check-label text-success" %>
                </div>
                <div class="form-check ml-2">
                  <% if @order.placed? %>
                    <%= f.radio_button :checkout_date, "unplaced" %>
                  <% else %>
                    <%= f.radio_button :checkout_date, "unplaced", checked: true %>
                  <% end %>
                  <%= f.label :checkout_date, "NOT PLACED", class: "form-check-label text-danger" %>
                  <span class="text-secondary"> -- Only one unplaced Order allowed!</span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <%= f.label :shipping_id, "Shipping Address", class: "form-control-label font-weight-bold" %>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <%= field_with_errors(@order, :shipping_id) %>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <%= f.collection_select :shipping_id, @user.addresses, :id, :to_s, { prompt: "Select a Shipping Address" }, { class: "form-control" } %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <%= f.label :billing_id, "Billing Address", class: "form-control-label font-weight-bold" %>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <%= field_with_errors(@order, :billing_id) %>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <%= f.collection_select :billing_id, @user.addresses, :id, :to_s, { prompt: "Select a Billing Address" }, { class: "form-control" } %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <%= f.label :credit_card_id, "Billing Card", class: "form-control-label font-weight-bold" %>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <%= field_with_errors(@order, :credit_card_id) %>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <%= f.collection_select :credit_card_id, @user.credit_cards, :id, :last_4_digits_text, { prompt: "Select a Billing Card" }, { class: "form-control" } %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <%= f.hidden_field :user_id, value: @user.id %>

          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <%= f.submit "Update Order Information", method: :post, class: "btn btn-primary btn-lg btn-block border rounded mt-4 mb-2" %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col text-center mb-3">
            <%= link_to "Delete Order", order_path(@order), method: :delete, data: { confirm: "Are you sure you want to delete this Order?" } %>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
<!-- End of Logistical Information panel -->

<!-- Edit Order Contents Panel -->
<%= render partial: "order_contents/edit_order_contents_form", locals: { line_items: @line_items, order: @order }%>

<!-- Add Products to Order panel -->
<%= render partial: "order_contents/add_products_to_order_form", locals: { order: @order } %>
