<div class="container">
	<div id="orders-edit">

		<% if flash[:alert] %>
			<div class="flash">
				<p><%= flash[:alert] %></p>
			</div>
		<% end %>

		<div class="row">
			<div class="col-xs-12">
				<div class="header text-center">
					<div class="header-text">
						<h1>Checkout</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<%= form_for @order do |order| %>
				<div class="col-xs-6">
					<div class="sub-form">
						<div class="sub-form-header">
							<h2>Shipping + Billing</h2>
						</div>
						<div class="sub-form-form">
							<%= order.label( :shipping_id, "Shipping Address" ) %>
							<br>
							<%= order.collection_select( :shipping_id,
																					 order.object.user.addresses,
																					 :id,
																					 :street_address
																					) 
							%>
							<br>
							<%= order.label :billing_id, "Billing Address"  %>
							<br>
							<%= order.collection_select( :billing_id,
																					 order.object.user.addresses,
																					 :id,
																					 :street_address
																					)
							%>
							<br>
							<%= link_to "Edit Saved Addresses", edit_user_path(:id => current_user.id) %>
							<br>
							<br>
							<%= order.fields_for :credit_card, (@order.user.credit_card || CreditCard.new(:user_id => @order.user_id)) do |cc| %>
								<%= cc.label :card_number, "Credit Card Number" %>
								<br>
								<%= cc.text_field :card_number %>
								<br>
								<%= cc.label :exp_month, "Expiry Month" %>
								<%= cc.text_field :exp_month %>
								<br>
								<%= cc.label :exp_year, "Expiry Year" %>
								<%= cc.text_field :exp_year %>
								<br>
								<%= cc.label :ccv, "CCV" %>
								<%= cc.text_field :ccv %>
								<br>
								<% if cc.object.persisted? %>
									<%= link_to "Delete Card", credit_card_path(id: cc.object.id), method: :delete %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>

				<div class="col-xs-6">
					<div class="sub-form">
						<div class="sub-form-header">
							<h2>Review + Complete</h2>
						</div>
						<div class="sub-form-form">

							<div class="stats-table">
							  <table class="table table-striped">
							    <tr>
							      <th>Product</th>
							      <th>Quantity</th>
							      <th>Price</th>
							      <th>Total Price</th>
							    </tr>
							    <% @order.order_contents.each do |order_content| %>
							      <tr>
							        <td><%= order_content.product.name %></td>
											<td><%= order_content.quantity %></td>
							        <td>$<%= order_content.product.price %></td>
							        <td>$<%= order_content.product.price * order_content.quantity %></td>
							      </tr>
							    <% end %>
							  </table>
							</div>
							
							<%= link_to "Edit Order", shoppingcart_path %>
					</div>

					<div class="sub-form">
						<div class="sub-form-header">
							<h2>Place Your Order</h2>
						</div>
						<div class="sub-form-form">
							<%= order.submit :class => "btn btn-primary btn-lg center-block" %>
						</div>
					</div>
				</div>

			<% end %>

		</div>

	</div>
</div>