<% @page_title = " | Edit Order" %>

<% if flash[:alert] %>
  <div class="notice">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= render :partial => "edit_or_new_form",
           :locals => {:form_type => "edit",
                       :form_header => "Edit Order #{@order.id}",
                       :order => @order,
                       :user => @user,
                       :submit_label => "Update Order Information"
                       } %>

<div class="crud-container">
	<div class="row">
	  <div class="col-md-12 text-center crud-header">

	    <h3>Edit Order Contents</h3>

			<%= form_for @order do |f| %>
	    	<div class="stats-table">
				  <table class="table table-striped">
				    <tr>
				      <% @column_headers.each do |header| %>
				        <th><%= header %></th>
				      <% end %>
				    </tr>
			    	<%= f.fields_for :order_contents do |order_content| %>
			    		<tr>
			    			<td>
			    				<%= order_content.object.id %>
			    			</td>
			    			<td>
			    				<%= order_content.text_field :quantity %>
			    			</td>
			    			<td>
			    				<%= "$#{order_content.object.product.price}" %>
			    			</td>
			        	<td>
			        		<%= "$#{order_content.object.product.price * order_content.object.quantity}" %>
			        	</td>
			        	<td>
			        		<%= order_content.check_box '_destroy' %>
			        	</td>
			    		</tr>
		    		<% end %>
					</table>
					<%= f.submit %>
				</div>
			<% end %>

	  </div>
	</div>

	<div class="row">
    <div class="col-xs-12">

      <%= link_to 'Delete Order', order_path,
                                  data: {:confirm => 'Are you sure?'},
                                  :method => :delete %>

    </div>
  </div>
</div>