<div class="row">
  <div class="col col-xs-12">
    <% if @user != 0 %>
      <h1 class="page-header text-center">
        <%= "#{@user.first_name} #{@user.last_name}'s Orders"%>
      </h1>
      <%= link_to "Create an Order for #{@user.first_name} #{@user.last_name}", new_order_path(user_id: "#{@user.id}"), class: "btn btn-block btn-primary"%>
    <% else %>
      <h1 class="page-header text-center">All Orders</h1>
      <h3 class="text-center">Create new orders from within <%= link_to "Users", users_path %> profiles</h3>
    <% end %>
    <br>
  </div>
</div>
<div class="row">
  <div class="col col-xs-12">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>UserID</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Total Value</th>
          <th>Status</th>
          <th>Date Placed</th>
          <th>SHOW</th>
          <th>EDIT</th>
          <th>DELETE</th>
        </tr>
      </thead>
      <tbody>
        <%@orders.each do |o|%>
        <tr>
          <td><%=o.id%></td>
          <td><%= link_to "#{o.user.id}", user_path(o.user.id) %></td>
          <td><%=o.billing_address.street_address%></td>
          <td><%=o.billing_address.city.name%></td>
          <td><%=o.billing_address.state.name%></td>
          <td><%=number_to_currency(o.value)%></td>
          <td><%= o.checkout_date ? "PLACED" : "UNPLACED"%></td>
          <td><%= o.checkout_date.to_date if o.checkout_date%></td>
          <td><%=link_to 'Show', order_path(o.id)%></td>
          <td><%=link_to 'Edit', edit_order_path(o.id)%></td>
          <td><%=link_to 'Delete', order_path(o.id), method: "delete", data: {confirm: "Are you sure?"} %></td>
        </tr>
        <%end%>
      <tbody>
    </table>
  </div>
</div>
