<div class = 'container'>

    <div class='col-md-3'>
        <%= render partial: "/edits/editbar"%>
    </div>
    <div class = 'col-md-9'>
      <table class="table">
            <thead>
                <tr>
                    <th>Check_out(in cart when empty)</th>
                    <th>User ID</th>
                    <th>Show details</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            <%@orders.each do |order|%>
                <tr>
                    <td><%= order.checkout_date%></td>
                    <td><%= order.user.first_name%> <%= order.user.last_name%></td>
                    <td>
                    <%= link_to "Edit and Details", order_path(order),
                         :class => "btn btn-default" %>
                    </td>
                    <td>
                    <%= link_to "Delete", order,
                        :class => "btn btn-danger",
                        :data => {:confirm => 'Are you sure?',
                        :method => :delete}
                          %>
                    </td>
                </tr>
             <%end%>
             </tbody>
      </table>
      </div>
</div>