<h1 class="text-center">New Order for <%= @order.user.first_name %> <%= @order.user.last_name %></h1>

<div class="well">

  <h3 class="text-center">Logistical Information</h3>
  <h4>Basic Information</h4>

  <h5><strong>Customer ID:</strong> <%= @order.user.id %></h5>
  <h5><strong>Customer:</strong> <%= link_to "#{@order.user.first_name} #{@order.user.last_name}", user_path(@order.user) %></h5>
  <h5><strong>Date Placed:</strong> <%= @order.checkout_date.strftime("%Y-%m-%d") if @order.checkout_date %></h5>
  <h5><strong># Products:</strong> <%= @order.quantity %></h5>
  <h5><strong>Order Value:</strong> <%= number_to_currency(@order.products.single_order_value) %></h5>
  <h5> <%= link_to "Edit Customer Profile", edit_user_path(@order.user) %> </h5>
  <hr>

</div> <!-- well -->


<div class="well">

  <%= form_for [:user, @order] do |f| %>

  <div class="form-group">
    <%= f.label :shipping_id, "Shipping Address" %>
    <%= f.collection_select :shipping_id, @order.user.addresses, :id, :street_address, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :billing_id, "Billing Address" %>
    <%= f.collection_select :billing_id, @order.user.addresses, :id, :street_address, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Create Order", class: "btn btn-primary btn-lg btn-block" %>
  </div>

  <%= f.hidden_field :user_id, value: @order.user_id %>

  <% end %>

  <h5>You can add products on the next screen, once the order has been created.</h5>

</div>