<h1>New Order for <%= @user.name %></h1>
<div class="row">
  <%= form_for @order, html: {class: "form-horizontal col-xs-8 col-xs-offset-2"} do |f| %>
    
    <h1>Logistical Information</h1>

    <h3>Basic Information</h3>

    <div class="form-group">
      <%= f.label :customer_id, "Customer ID", :class => "col-xs-4" %>
      <div class="col-xs-8">
        <%= f.text_field :user_id, :readonly => "readonly"  %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :customer, :class => "col-xs-4" %>
      <div class="col-xs-8">
        <%= @user.name %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :date_placed, :class => "col-xs-4" %>
      <div class="col-xs-8">
        N/A
      </div>
    </div>

    <div class="form-group">
      
      <div class="col-xs-8">
        <%= link_to "Edit Customer Profile", edit_user_path(@user.id) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :shipping_address, :class => "col-xs-12" %>
      <div class="col-xs-12">
        <%= f.collection_select :shipping_id, Address.all, :id, :full_address, prompt: "Choose an address" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :billing_address, :class => "col-xs-12" %>
      <div class="col-xs-12">
        <%= f.collection_select :billing_id, Address.all, :id, :full_address, prompt: "Choose an address" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :credit_card, :class => "col-xs-12" %>
      <div class="col-xs-12">
        <%= f.collection_select :credit_card_id, CreditCard.where("user_id=?", @user.id), :id, :ending_in, prompt: "Choose a credit card number" %>
      </div>
    </div>

    <div class="form-group">

      <div class="col-xs-12">
        <%= f.submit "Create Order in Shopping Cart", class: "btn btn-primary col-xs-12" %>
      </div>

      <p style="text-align: center;">You can add products on the next screen, once it's been created</p>
    </div>



  <% end %>
</div>
