<h1 class="text-center">Order <%= @order.id %></h1>
<p class="text-center"><%= "(Shopping Cart)" if !@order.checked_out? %></p>

<div class="well">
<%= render partial: 'user_info', locals: {user: @user, order: @order } %>
<p># Products: <%= @num_products %></p>
<p>Order Value: <%= number_to_currency @order_value %></p>
<h4>Order Status</h2>
<% if @order.status == "PLACED" %>
  <h3 class="text-success"><%= @order.status %></h3>
<% else %>
  <h3 class="text-danger"><%= @order.status %></h3>
<% end %>

<h4>Shipping Address</h4>
<p>Street: <%= @user.default_billing_address.street_address %></p>
<p>City:   <%= @user.default_billing_address.city.name %></p>
<p>State:  <%= @user.default_billing_address.state.name %></p>

<h4>Billing Address</h4>
<p>Street: <%= @user.default_shipping_address.street_address %></p>
<p>City:   <%= @user.default_shipping_address.city.name %></p>
<p>State:  <%= @user.default_shipping_address.state.name %></p>

<% unless @order.credit_card.nil? %>
  <h4>Billing Card</h4>
  <p>Last 4 Digits: <%= @order.credit_card.last_4%></p>
<% end %>
<%= link_to "Edit Order",
    edit_user_order_path(@user, @order) %><br>
<%= link_to "Delete Order",
    user_order_path(@user, @order),
    :method => :delete,
    :data => { confirm: "Are you sure?" } %>
</div>

<div class="well">
<%= render partial: 'order_contents', locals: {order_contents: @order.order_contents} %>
<%= link_to "Edit Order",
    edit_user_order_path(@user, @order) %><br>
<%= link_to "Delete Order",
    user_order_path(@user, @order),
    :method => :delete,
    :data => { confirm: "Are you sure?" } %>
</div>
</div>

