<div class="row">
  <div class="col">
    <h2 class="text-center">
      <% if @order.is_shopping_cart? %>
        Order <%= "#{@order.id}" %> (Shopping Cart)
      <% else %>
        Order <%= "#{@order.id}" %>
      <% end %>
    </h2>
  </div>
</div>

<!-- Logistical Information panel -->
<div class="row justify-content-center">
  <div class="col-10 border">

    <%= render partial: "shared_view_elements", locals: { order: @order, user: @user } %>

    <div class="row">
      <div class="col-3">
        <span class="font-weight-bold"># Products:</span>
      </div>
      <div class="col">
        <%= @order.products.count %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <span class="font-weight-bold">Order Value:</span>
      </div>
      <div class="col">
        <%= number_to_currency(@order.value) %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= link_to "Edit Customer Profile", edit_user_path(@user) %>
      </div>
    </div>

    <!-- Order Status -->
    <div class="row mt-3">
      <div class="col">
        <h4>Order Status</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4><%= @order.status %></h4>
      </div>
    </div>

    <!-- Shipping Address -->
    <div class="row mt-3">
      <div class="col">
        <h4>Shipping Address</h4>
      </div>
    </div>

    <% if @order.shipping_address %>
      <div class="row">
        <div class="col-3">
          <span class="font-weight-bold">Street</span>
        </div>
        <div class="col">
          <%= @order.shipping_address.street_address %>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <span class="font-weight-bold">City</span>
        </div>
        <div class="col">
          <%= @order.shipping_address.city.name %>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <span class="font-weight-bold">State</span>
        </div>
        <div class="col">
          <%= "#{@order.shipping_address.state}" %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col">
          N/A
        </div>
      </div>
    <% end %>

    <!-- Billing Address -->
    <div class="row mt-3">
      <div class="col">
        <h4>Billing Address</h4>
      </div>
    </div>

    <% if @order.billing_address %>
      <div class="row">
        <div class="col-3">
          <span class="font-weight-bold">Street</span>
        </div>
        <div class="col">
          <%= @order.billing_address.street_address %>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <span class="font-weight-bold">City</span>
        </div>
        <div class="col">
          <%= @order.billing_address.city.name %>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <span class="font-weight-bold">State</span>
        </div>
        <div class="col">
          <%= "#{@order.billing_address.state}" %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col">
          N/A
        </div>
      </div>
    <% end %>

    <!-- Billing Card -->
    <div class="row mt-3">
      <div class="col">
        <h4>Billing Card</h4>
      </div>
    </div>
    <% if @order.credit_card %>
      <div class="row">
        <div class="col-3">
          <span class="font-weight-bold">Last 4 Digits</span>
        </div>
        <div class="col">
          <%= @order.credit_card.last_4_digits %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col">
          N/A
        </div>
      </div>
    <% end %>

    <!-- Edit / Delete links -->
    <div class="row mt-3">
      <div class="col">
        <%= link_to "Edit Order", edit_order_path(@order) %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <%= link_to "Delete Order", order_path(@order), method: :delete, data: { confirm: "Are you sure you want to remove this Order?" } %>
      </div>
    </div>

  </div>
</div>

<!-- Order Contents panel -->
<div class="row justify-content-center mt-3 mb-3">
  <div class="col-10 border">

    <div class="row mt-3">
      <div class="col">
        <h3 class="text-center">Order Contents</h3>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Product ID</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total Price</th>
            </tr>
          </thead>
          <tbody>
            <% @order_line_items.each do |line_item| %>
              <tr>
                <td><%= line_item.product_id %></td>
                <td><%= link_to line_item.name, product_path(line_item.product_id) %></td>
                <td><%= line_item.quantity %></td>
                <td><%= number_to_currency(line_item.price) %></td>
                <td><%= number_to_currency(line_item.total_price) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= link_to "Edit Order", edit_order_path(@order) %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <%= link_to "Delete Order", order_path(@order), method: :delete, data: { confirm: "Are you sure you want to remove this Order?" } %>
      </div>
    </div>

  </div>
</div>
