<h3>Basic Information</h3>
<table>
<tr>
  <td>Customer ID:</td>
  <td><%= @user.id %></td>
</tr>

<tr>
  <td>Customer:</td>
  <td><%= link_to name(@user), user_path(@user) %></td>
</tr>

<tr>
  <td>Date Placed:</td>
  <td><%= order_date(@order) %></td>
</tr>

<tr>
  <td>Number of Products</td>
  <td><%= @order.products.sum("quantity") %></td>
</tr>

<tr>
  <td>Order Value</td>
  <td><%= number_to_currency(@order.products.sum("quantity * price")) %></td>
</tr>

</table>


<h4>Order Status</h4>
<p class = "placed"><%= order_status(@order) %></p>


<h4>Billing Address</h4>
<% if @user.billing_address.user_id %>
  <%= render partial: "address_table",
            locals: {address: @user.billing_address} %>
<% else %>
  <p>There is no Billing Address associated with this order.</p>
<% end %>

<h4>Shipping Address</h4>
<% if @user.shipping_address.user_id %>
   <%= render partial: "address_table",
              locals: {address: @user.shipping_address} %>
<% else %>
   <p>There is no Shipping Address associated with this order.</p>
<% end %>

<h4>Billing Card</h4>