<h1>Dashboard</h1>
<div class="row">
  <div class="<%= column_classes %>">
    <article>
      <h2>1. Overall Platform</h2>
      <h3>Last 7 Days</h3>
      <table class="<%= table_classes %>">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>New Users</td>
            <td>TBD</td>
          </tr>
          <tr>
            <td>Orders</td>
            <td>TBD</td>
          </tr>
          <tr>
            <td>New Products</td>
            <td>TBD</td>
          </tr>
          <tr>
            <td>Revenue</td>
            <td>TBD</td>
          </tr>
        </tbody>
      </table>

      <h3>Last 30 Days</h3>
      <table class="<%= table_classes %>">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>New Users</td>
            <td>TBD</td>
          </tr>
          <tr>
            <td>Orders</td>
            <td>TBD</td>
          </tr>
          <tr>
            <td>New Products</td>
            <td>TBD</td>
          </tr>
          <tr>
            <td>Revenue</td>
            <td>TBD</td>
          </tr>
        </tbody>
      </table>

      <h3>Total</h3>
      <table class="<%= table_classes %>">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Users</td>
            <td>TBD</td>
          </tr>
          <tr>
            <td>Orders</td>
            <td>TBD</td>
          </tr>
          <tr>
            <td>Products</td>
            <td>TBD</td>
          </tr>
          <tr>
            <td>Revenue</td>
            <td>TBD</td>
          </tr>
        </tbody>
      </table>
    </article>
  </div> <!-- col-6 -->

  <div class="<%= column_classes %>">
    <article>
      <h2>2. User Demographics & Behavior</h2>
      <h3>Top 3 States Users Live In</h3>
      <table class="<%= table_classes %>">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>TBD: State Name</td>
            <td>TBD: count</td>
          </tr>
        </tbody>
      </table>

      <h3>Top 3 Cities Users Live In</h3>
      <table class="<%= table_classes %>">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>TBD: City Name</td>
            <td>TBD: count</td>
          </tr>
        </tbody>
      </table>

      <h3>Top User with...</h3>
      <table class="<%= table_classes %>">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">User</th>
            <th scope="col">Qty</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Highest Single Order Value</td>
            <td>TBD: user name</td>
            <td>TBD: $</td>
          </tr>
          <tr>
            <td>Highest Lifetime Value</td>
            <td>TBD: user name</td>
            <td>TBD: $</td>
          </tr>
          <tr>
            <td>Highest Avg Order Value</td>
            <td>TBD: user name</td>
            <td>TBD: $</td>
          </tr>
          <tr>
            <td>Most Orders Placed</td>
            <td>TBD: user name</td>
            <td>TBD: $</td>
          </tr>
        </tbody>
      </table>
    </article>
  </div> <!-- col-6 -->

  <div class="<%= column_classes %>">
    <article>
      <h2>1. Overall Platform</h2>
      <h3>Last 7 Days</h3>
      <table class="<%= table_classes %>">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>New Users</td>
            <td>TBD</td>
          </tr>
          <tr>
            <td>Orders</td>
            <td>TBD</td>
          </tr>
          <tr>
            <td>New Products</td>
            <td>TBD</td>
          </tr>
          <tr>
            <td>Revenue</td>
            <td>TBD</td>
          </tr>
        </tbody>
      </table>
    </article>
  </div> <!-- col-6 -->

  <div class="<%= column_classes %>">
    <article>
      <h2>1. Overall Platform</h2>
      <h3>Last 7 Days</h3>
      <table class="<%= table_classes %>">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>New Users</td>
            <td>TBD</td>
          </tr>
          <tr>
            <td>Orders</td>
            <td>TBD</td>
          </tr>
          <tr>
            <td>New Products</td>
            <td>TBD</td>
          </tr>
          <tr>
            <td>Revenue</td>
            <td>TBD</td>
          </tr>
        </tbody>
      </table>
    </article>
  </div> <!-- col-6 -->

</div> <!-- row -->


