<tbody>
  <% @addresses.each do |address|%>
    <tr>
      <td><%= address.id %>
      <td><%= link_to "#{address.users.first_name} #{address.users.last_name}", '#'%></td>
      <td><%= "#{address.street_address} #{secondary_address(address)}" %></td>
      <td><%= address.city.name %></td>
      <td><%= address.state.name %></td>
      <td><%= address.created_at.strftime("%Y-%m-%d") %></td>
      <td><%=link_to "show", '#'%></td>
      <td><%=link_to "edit", '#'%></td>
      <td><%=link_to "delete", '#',
                      data: { confirm: "Are you sure?" },
                      method: :delete %></td>
    </tr>
  <% end %>
</tbody>