<%= render :partial => 'shared/errors', :locals => {:object => address} %>

<%
if User.exists?(params[:user_id])
  user = User.find(params[:user_id])
%>
  <h2>
    User:
    <small>
      <%= link_to(user.name, user_path(user)) %>
    </small>
  </h2>
  <p>
      User ID: <%= user.id %>
  </p>
  <%= form_for(address, :url => url_for([user, address])) do |f| %>
    <% if address.persisted? %>
      <p>
        Address ID: <%= address.id %>
      </p>
    <% end %>
    <div class="form-group">
      <%= f.label(:street_address) %>
      <%= f.text_field(:street_address, :class => 'form-control') %>
    </div>
    <div class="form-group">
      <%= f.label(:secondary_address) %>
      <%= f.text_field(:secondary_address, :class => 'form-control') %>
    </div>
    <div class="form-group">
      <%= f.label(:zip_code) %>
      <%= f.text_field(:zip_code, :class => 'form-control') %>
    </div>
    <div class="form-group">
      <%= f.label(:city_id) %>
      <%= f.collection_select(:city_id, City.all, :id, :name, {}, {:class => 'form-control'}) %>
    </div>
    <div class="form-group">
      <%= f.label(:state_id) %>
      <%= f.collection_select(:state_id, State.all, :id, :name, {}, {:class => 'form-control'}) %>
    </div>
    <%= f.hidden_field(:user_id, :class => 'form-control', :value => params[:user_id]) %>
    <%= f.submit(:class => 'btn btn-primary') %>
  <% end %>
<% else %>
  <p class="text-danger">Cannot create address without an associated user</p>
<% end %>
