<ul>
  <% @address.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<%= form_for @address do |f| %>
  <table class="table table-striped table-bordered">
    <tr>
      <td>Owner ID</td>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <td>Owner Name</td>
      <td><%= link_to "#{@user.first_name} #{@user.last_name}", user_path(@user) %></td>
    </tr>
    <tr>
      <td>Street Address</td>
      <td><%= f.text_field :street_address, class: "form-control" %></td>
    </tr>
    <tr>
      <td>City</td>
      <td>
        <% if @address.city %>
          <%= f.text_field :city, value: @address.city.name, class: "form-control" %>
        <% else %>
          <%= f.text_field :city, class: "form-control" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>State</td>
      <td>
        <% if @address.state %>
          <%= f.collection_select :state_id, State.all, :id, :name, {}, {class: "form-control", value: "#{@address.state.name}" }%>
        <% else %>
          <%= f.collection_select :state_id, State.all, :id, :name, {}, {class: "form-control" }%>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Zip Code</td>
      <td>
        <% if @address.zip_code %>
          <%= f.text_field :zip_code, value: @address.zip_code, class: "form-control" %>
        <% else %>
          <%= f.text_field :zip_code, class: "form-control" %>
        <% end %>
      </td>
    </tr>
  </table>
  <%= hidden_field_tag("user_id", "#{@user.id}") %>
  <%= f.submit class: "btn btn-block btn-primary" %>
<% end %>
