<h2><%= address.persisted? ? "Edit " + user.full_name : "New " + user.full_name %> Address</h2>

<h4>Owner ID: <%= user.id %></h4>
<h4>Owner Name: <%= link_to "#{user.full_name} (click to view)", user %></h4>


<%= form_for([user, address]) do |f| %>

	<%= f.label :street_address, "Street" %>
	<%= message_error(address, :street_address) %>
	<%= f.text_field :street_address %><br>

	<% if @city %>
		<%= text_field_tag :city_name, params[:city_name], value: @city.name  %><br>
	<% else %>
		<%= text_field_tag :city_name, params[:city_name] %><br>
	<% end %>

	<%= f.label :state_id %>
	<%= message_error(address, :state_id) %>
	<%= f.collection_select(:state_id, State.all, :id, :name) %><br>

	<%= f.label :zip_code %>
	<%= message_error(address, :zip_code) %>
	<%= f.text_field :zip_code %><br>

	<%= f.submit "Create Address", class: "btn btn-primary" %>
<% end %>
