<tbody>
  <% @user.addresses.each do |address|%>
    <tr>
      <td><%= address.id %>
      <td><%= link_to "#{name(address.user)}", user_path(address.user)%></td>
      <td><%= "#{address.street_address} #{secondary_address(address)}" %></td>
      <td><%= address.city.name %></td>
      <td><%= address.state.name %></td>
      <td><%= address.created_at.strftime("%Y-%m-%d") %></td>
      <td><%=link_to "show", '#'%></td>
      <td><%=link_to "edit", edit_user_address_path(address.user, address) %></td>
      <td><%=link_to "delete", user_address_path(address.user, address),
                               data: { confirm: "Are you sure?" },
                               method: :delete %></td>
    </tr>
  <% end %>
</tbody>