<div class="container">
 <div class="row">
  <h1>Edit <%= @user.first_name %> <%= @user.last_name %>'s Address</h1>
 </div>

 <div class="row">

  <%= form_for [@user, @address] do |f| %>
    <p>Owner ID: <%= @user.id %></p>
    <p>Owner Name: <%= link_to "#{@user.first_name} #{@user.last_name}(click to view)", @user %></p>
    <p>
      <%= f.label :street_address %>
      <%= f.text_field :street_address %>
    </p>

    <%= f.fields_for :city do |ac| %>
      <%= ac.label "city" %>
      <%= ac.text_field :name %>
    <% end %>
    <%= f.fields_for :state do |sc| %>
      <%= sc.label "State" %>
      <%= sc.text_field :name %>
    <% end %>
    <p>
      <%= f.submit %>
    </p>
  <% end %>

 </div>
</div>