<div class="row">
  <div class="col col-xs-12">
    <% if @user != 0 %>
      <h1 class="page-header text-center">
        <%= "#{@user.first_name} #{@user.last_name}'s Addresses"%>
      </h1>
      <%= link_to "Create an Address for #{@user.first_name} #{@user.last_name}", new_address_path(user_id: "#{@user.id}"), class: "btn btn-block btn-primary"%>
    <% else %>
      <h1 class="page-header text-center">All Addresses</h1>
      <h3 class="text-center">Create new addresses from within <%= link_to "User", users_path %> profiles</h3>
    <% end %>
  </div>
</div>

<div class="row">
  <table class="table table-striped">
    <thead>
      <th>ID</th>
      <th>User</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Orders</th>
      <th>Created</th>
      <th>SHOW</th>
      <th>EDIT</th>
      <th>DELETE</th>
    </thead>
    <tbody>
      <% @addresses.each do |a| %>
      <tr>
        <td><%= a.id %></td>
        <td><%= link_to "#{a.user.first_name} #{a.user.last_name}", user_path(a.user_id) %></td>
        <td><%= a.street_address %></td>
        <td><%= a.city.name %></td>
        <td><%= a.state.name %></td>
        <td><%= a.billed_orders.count + a.shipped_orders.count %></td>
        <td><%= a.created_at.to_date %></td>
        <td><%= link_to "Show", address_path(a.id, user_id: "#{a.user_id}") %></td>
        <td><%= link_to "Edit", edit_address_path(a.id, user_id: "#{a.user_id}") %></td>
        <td><%= link_to "Delete", address_path(a.id), method: "delete", data: {confirm: "Are you sure?"}%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
