<h2 class="text-center">Addresses</h2>
<p class="text-center"><strong>NOTE: Addresses can only be created in a User profile.</strong></p>
<p class="text-center">Click <%= link_to "here", users_path %> to go to the user index page.<p>

<table>
  <tr>
    <th>Street address</th>
    <th>Secondary address</th>
    <th>Zip code</th>
    <th>City</th>
    <th>State</th>
    <th>User</th>
    <th>SHOW</th>
    <th>EDIT</th>
    <th>DELETE</th>
  </tr>
  <% @addresses.each do |address| %>
    <tr>
      <td><%= address.street_address %></td>
      <td><%= address.secondary_address if address.secondary_address %></td>
      <td><%= address.zip_code %></td>
      <th><%= address.city.name %></td>
      <th><%= address.state.name %></td>
      <td><%= link_to address.user.first_name + ' ' + address.user.last_name, user_path(address.user.id) %></td>
      <td><%= link_to "show", address_path(address.id) %></td>
      <td><%= link_to "edit", edit_address_path(address.id) %></td>
      <td><%= link_to "delete", address_path(address.id), method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>
