<div class=row>
  <div class = "col-md-12">
    <h2>Addresses</h2>
  </div>
</div>

<div class="row">
  <div class = "col-md-12">
    <p>Create new addresses from within <%= link_to "User", '#' %></p>
  </div>
</div>

<div class="row">
  <div class = "col-md-12">

    <table class = "table table-striped table-bordered">
      
      <%= render "address_thead" %>

      <%= render "address_tbody" %>

    </table>
  </div>
</div>

<div class = "row">
  <div clas = "col-md-12">
    <!-- Header required: "User Name's Addresses" -->
    <%= link_to "Create a #{@user.first_name} #{@user.last_name} Address", '#',
      class: "btn btn-primary btn-lg btn-block btn-create"%>
  </div>
</div>

<div class = "row">
  <div class = "col-md-12">
    <table class = "table table-striped table-bordered">
      <%= render "address_thead" %>
    </table>
  </div>
</div