<header class="page-header">
  <h1>Addresses</h1>
  <small>
    New addresses can only be created from a
    <%= link_to('user', users_path) %>
    profile
  </small>
</header>

<% if @addresses.empty? %>
  <p>No addresses found</p>
<% elsif pagination_page_outside_range_for?(@addresses) %>
  <%= pagination_page_outside_range_link_for(@addresses) %>
<% else %>

  <%= pagination = render :partial => 'shared/pagination', :locals => {
    :resources => @addresses,
    :limit => pagination_limit,
    :path => addresses_path
  } %>

  <%= render :partial => 'shared/table', :locals => {:table => {
    :headers => ['ID', 'User', 'Street Address', 'City', 'State', 'Show', 'Edit', 'Delete'],
    :rows => @addresses
              .offset(pagination_offset)
              .limit(pagination_limit)
              .map do |address|
      [
        address.id,
        address.user ? link_to(address.user.name, user_path(address.user)) : '-',
        address.street_address,
        address.city.name,
        address.state.name,
        link_to('Show', address_path(address)),
        link_to('Edit', edit_user_address_path(address.user, address)),
        link_to('Delete', address_path(address), :method => 'delete', :class => 'text-danger', :data => {:confirm => 'Delete?'})
      ]
    end
  }} %>

  <%= pagination %>
<% end %>
