<h1 class="text-center">Create New Address</h1>

<%= form_for [:user, @address] do |f| %>

  <h5><strong>Owner ID:</strong> <%= @address.user.id %></h5>
  <h5><strong>Owner Name:</strong>
    <%= link_to "#{@address.user.first_name} #{@address.user.last_name} (click to view)", user_path(@address.user)  %>
  </h5>

  <div class="form-group">
    <%= f.label :street_address %>
    <%= field_with_errors(@address, :street_address) %>
    <%= f.text_field :street_address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :secondary_address %>
    <%= field_with_errors(@address, :secondary_address) %>
    <%= f.text_field :secondary_address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.collection_select :city_id, City.all, :id, :name, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :state %>
    <%= f.collection_select :state_id, State.all, :id, :name, {}, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :zip_code %>
    <%= field_with_errors(@address, :zip_code) %>
    <%= f.text_field :zip_code, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @address.user.id %>

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-primary btn-lg btn-block" %>
  </div>


<% end %>