<div class = "col-md-12">
  <h2><%= "#{name(@user)}'s Address" %> </h2>
</div>

<div class = "wrapper panel">
  <table>
    <tr>
      <td>
        Owner ID:
      </td>
      <td>
        <%= @user.id %>
      </td>
    </tr>

    <tr>
      <td>
        Owner Name:
      </td>
      <td>
        <%= link_to "#{name(@user)}", user_path(@user) %>
      </td>
    </tr>

    <tr>
      <td>
        Street
      </td>
      <td>
        <%= "#{@address.street_address} #{secondary_address(@address)}" %>
      </td>
    </tr>

    <tr>
      <td>
        City
      </td>
      <td>
        <%= @address.city.name %>
      </td>
    </tr>

    <tr>
      <td>
        State
      </td>
      <td>
        <%= @address.state.name %>
      </td>
    </tr>
  </table>
</div>

<%= link_to "Edit Address", edit_user_address_path(@user, @address) %>
<%= link_to "Delete Address", user_address_path(@user, @address),
                  data: { confirm: "Are you sure?" }, method: :delete %>