<h1><%= "#{User.find(params[:user_id]).full_name}'s "%>Address</h1>

<div class="col-xs-8 panel panel-default">

  <h5><strong>Owner ID:  </strong><span class="badge"><%= params[:user_id] %></span><br /></h5>
  <h5><strong>Owner Name:</strong> <%= link_to "#{User.find(params[:user_id]).full_name} (click to view)", user_path(params[:user_id]) %></h5>


  <h5><strong>Street: </strong><%= @address.street_address %></h5>
  <h5><strong>City: </strong><%= @address.city.name %></h5>
  <h5><strong>State: </strong><%= @address.state.name %></h5>
  <h5><strong>Zip: </strong><%= @address.zip_code %></h5>



  <%= link_to "Edit Address", edit_address_path(@address, :user_id => params[:user_id]), class: "btn btn-primary btn-lg btn-block"%>
  <br />
  <%= link_to "Delete Address", address_path(@address), method: :delete, class: "btn btn-danger btn-lg btn-block", data: { confirm: "Are you sure you want to delete?"} %>

</div>
