<div class="row">
  <div class="col-xs-12">
    <h3><%=@address_info['fname']%> <%=@address_info['fname']%>'s Information</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped">
      <tr>
        <td class="col-md-2">Owner Name</td>
        <td><%=link_to "#{@address_info['fname']} #{@address_info['fname']} (click to view profile)",
                       user_path(@address_info['user_id'])%></td>
      </tr>
      <tr>
        <td class="col-md-2">Street Address</td>
        <td><%=@address_info['address']%></td>
      </tr>
      <tr>
        <td class="col-md-2">City</td>
        <td><%=@address_info['city']%></td>
      </tr>
      <tr>
        <td class="col-md-2">State</td>
        <td><%=@address_info['state']%></td>
      </tr>
      <tr>
        <td class="col-md-2">Zip</td>
        <td><%=@address_info['zip_code']%></td>
      </tr>        
    </table>
 </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <%= link_to "Edit Address", edit_user_address_path(@address_info['user_id'], @address_info['id']) %>
  </div>
  <div class="col-xs-4">
    <%= link_to "Delete Address", user_address_path(@address_info['user_id'], @address_info['id']), method: "delete" %>
  </div>
</div>