<div class="container">
  <div class="row text-center">
    <h1><%= @user.first_name %>'s Address</h1>
  </div>
  <div class="row">
    <p>
      Owner ID: <%= @user.id %>
    </p>
    <p>
      Owner Name: <%= @user.first_name %> <%= @user.last_name %>
    </p>
    <p>
      Street: <%= @address.street_address %>
    </p>
    <p>
      City: <%= @address.city.name %>
    </p>
    <p>
      Name: <%= @address.state.name %>
    </p>
    <p>
      Zip: <%= @address.zip_code %>
    </p>
    <p><%= link_to "Edit Address", edit_user_address_path(@user, @address) %></p>
    <p><%= link_to "Delete Address", user_address_path(@user, @address), method: :delete, data: {confirm: "Are you sure?"} %></p>
    <p><%= link_to "Go back to User", @user %></p>
  </div>

  
</div>