<table class="table">
  <thead>
  <tr>
  <th>Item</th>
  <th>User</th>
  <th>Quantity</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Highest Single Order Value</td>
      <td><%= data[0][0].first_name %> <%= data[0][0].last_name %></td>
      <td><%= number_to_currency(data[0][0].value) %></td>
    </tr>
    <tr>
      <td>Highest Lifetime Value</td>
      <td><%= data[1][0].first_name %> <%= data[1][0].last_name %></td>
      <td><%= number_to_currency(data[1][0].value) %></td>
    </tr>
    <tr>
      <td>Highest Average Order Value</td>
      <td><%= data[2][0].first_name %> <%= data[2][0].last_name %></td>
      <td><%= number_to_currency(data[2][0].value) %></td>
    </tr>
    <tr>
      <td>Most Orders Placed</td>
      <td><%= data[3][0].first_name %> <%= data[3][0].last_name %></td>
      <td><%= data[3][0].value %></td>
    </tr>
  </tbody>
</table>
