<table class="table">
  <thead>
  <tr>
  <th>Item</th>
  <th>User</th>
  <th>Quantity</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Highest Single Order Value</td>
      <td><%= data[0].first_name %> <%= data[0].last_name %></td>
      <td><%= data[0].value %></td>
    </tr>
    <tr>
      <td>Highest Lifetime Value</td>
      <td><%= data[1].first_name %> <%= data[1].last_name %></td>
      <td><%= data[1].value %></td>
    </tr>
    <tr>
      <td>Highest Average Order Value</td>
      <td><%= data[2].first_name %> <%= data[2].last_name %></td>
      <td><%= data[2].value %></td>
    </tr>
    <tr>
      <td>Most Orders Placed</td>
      <td><%= data[3].first_name %> <%= data[3].last_name %></td>
      <td><%= data[3].value %></td>
    </tr>
  </tbody>
</table>
