<h1>Viking Store Analytics Dashboard</h1>

<div class='row'>
  <div class='col-xs-6'>
    <h2>1. Overall Platform</h2>
    <%= render partial: 'panel_one_table', locals: { caption: "Seven Day Totals",
                                  totals: @seven_day_totals } %>
    <%= render partial: 'panel_one_table', locals: { caption: "Thirty Day Totals",
                                  totals: @thirty_day_totals } %>
    <%= render partial: 'panel_one_table', locals: { caption: "All Time Totals",
                                  totals: @totals } %>

  </div>

  <div class='col-xs-6'>
    <h2>2. User Demographics & Behavior</h2>
    <table>
      <% @top_states.each do |state| %>
      <tr>
          <td>
            <%= state.name %>
          </td>
          <td>
            <%= state.users_in_state %>
          </td>
      </tr>
      <% end %>
    </table>

     <table>

    </table>

     <table>

    </table>
  </div>
</div>

<div class='row'>
  <div class='col-xs-6'>
    <h2>3. Order Statistics</h2>
    <table>

    </table>

    <table>

    </table>

    <table>

    </table>
  </div>

  <div class='col-xs-6'>
    <h2>4. Time Series Data</h2>
    <table>

    </table>

    <table>

    </table>
  </div>
</div>
