<div class="row">
  <div class="col-md-12" id="header-bar">
    <h1>Viking Store Analytics Dashboard</h1>
  </div>
</div>
<div class="row">

  <%= render "overall_platform" %>

  <%= render "user_demographics" %>

</div>
<div class="row">
  <div class="col-md-6" id="order-statistics">
    <h3>
      3. Order Statistics
    </h3>
    <h4>
      Last 7 Days
    </h4>
    <table class="table table-striped">
      <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
      <tr>
        <td>Number of Orders</td>
        <td><%= @orders_last_seven %></td>
      </tr>
      <tr>
        <td>Total Revenue</td>
        <td><%= number_to_currency(@revenue_last_seven) %></td>
      </tr>
      <tr>
        <td>Average Order Value</td>
        <td><%= number_to_currency(@average_order_value_seven) %></td>
      </tr>
      <tr>
        <td>Largest Order Value</td>
        <td><%= number_to_currency(@largest_order_value_seven) %></td>
      </tr>
    </table>
    <h4>
      Last 30 Days
    </h4>
    <table class="table table-striped">
      <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
      <tr>
        <td>Number of Orders</td>
        <td><%= @orders_last_thirty %></td>
      </tr>
      <tr>
        <td>Total Revenue</td>
        <td><%= number_to_currency(@revenue_last_thirty) %></td>
      </tr>
      <tr>
        <td>Average Order Value</td>
        <td><%= number_to_currency(@average_order_value_thirty) %></td>
      </tr>
      <tr>
        <td>Largest Order Value</td>
        <td><%= number_to_currency(@largest_order_value_thirty) %></td>
      </tr>
    </table>
    <h4>
      Total
    </h4>
    <table class="table table-striped">
      <tr>
        <th>Item</th>
        <th>Data</th>
      </tr>
      <tr>
        <td>Number of Orders</td>
        <td><%= @total_orders %></td>
      </tr>
      <tr>
        <td>Total Revenue</td>
        <td><%= number_to_currency(@total_revenue) %></td>
      </tr>
      <tr>
        <td>Average Order Value</td>
        <td><%= number_to_currency(@average_order_value_all) %></td>
      </tr>
      <tr>
        <td>Largest Order Value</td>
        <td><%= number_to_currency(@largest_order_value_all) %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6" id="time-series-data">
    <h3>
      4. Time Series Data
    </h3>
    <h4>
      Orders by Day
    </h4>
    <table class="table table-striped">
      <tr>
        <th>Date</th>
        <th>Qty</th>
        <th>Value</th>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </table>
    <h4>
      Orders by Week
    </h4>
    <table class="table table-striped">
      <tr>
        <th>Date</th>
        <th>Qty</th>
        <th>Value</th>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </table>
  </div>
</div>