<h1>Viking Store Analytics Dashboard</h1>

<div class='row'>
  <div class='col-xs-6 panel-default panel' >
    <h2>1. Overall Platform</h2>
    <div class= 'panel-body'>
    <%= render partial: 'two_column_table', locals: { caption: "Seven Day Totals",
                                  totals: @seven_day_totals } %>
    <%= render partial: 'two_column_table', locals: { caption: "Thirty Day Totals",
                                  totals: @thirty_day_totals } %>
    <%= render partial: 'two_column_table', locals: { caption: "All Time Totals",
                                  totals: @totals } %>
    </div>
  </div>

  <div class='col-xs-6 panel-default panel'>
    <h2>2. User Demographics & Behavior</h2>
    <div class= 'panel-body'>
    <%= render partial: 'two_column_table', locals: { caption: "Top States",
                                  totals: @top_states } %>
    <%= render partial: 'two_column_table', locals: { caption: "Top Cities",
                                  totals: @top_cities } %>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-xs-6'>
    <h2>3. Order Statistics</h2>
    <table>

    </table>

    <table>

    </table>

    <table>

    </table>
  </div>

  <div class='col-xs-6'>
    <h2>4. Time Series Data</h2>
    <table>

    </table>

    <table>

    </table>
  </div>
</div>
