<h1>Viking Store Analytics Dashboard</h1>

<div class="row">
  <div class='col-md-6'>
    <h2>1. Overall Platform</h2>

    <div class="row">
      <div class='col-md-12'>
        <h3>Total</h3>
        <table class='table'>
          <tr>
            <td>Item</td>
            <td>Data</td>
          </tr>
          <tr>
            <td>Total Users</td>
            <td><%= @num_total_users %></td>
          </tr>
          <tr>
            <td>Orders</td>
            <td><%= @num_total_orders %></td>
          </tr>
          <tr>
            <td>Products</td>
            <td><%= @num_total_products %></td>
          </tr>
          <tr>
            <td>Revenue</td>
            <td>$<%= @total_revenue %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class= "row">
      <div class='col-md-12'>
        <h3>Last 30 Days</h3>
        <table class='table'>
          <tr>
            <td>Item</td>
            <td>Data</td>
          </tr>
          <tr>
            <td>New Users</td>
            <td><%= @users_30 %></td>
          </tr>
          <tr>
            <td>Orders</td>
            <td><%= @orders_30 %></td>
          </tr>
          <tr>
            <td>Products</td>
            <td><%= @products_30 %></td>
          </tr>
          <tr>
            <td>Revenue</td>
            <td>$<%= @revenue_30 %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class= "row">
      <div class='col-md-12'>
        <h3>Last 7 Days</h3>
        <table class='table'>
          <tr>
            <td>Item</td>
            <td>Data</td>
          </tr>
          <tr>
            <td>New Users</td>
            <td><%= @users_7 %></td>
          </tr>
          <tr>
            <td>Orders</td>
            <td><%= @orders_7 %></td>
          </tr>
          <tr>
            <td>Products</td>
            <td><%= @products_7 %></td>
          </tr>
          <tr>
            <td>Revenue</td>
            <td>$<%= @revenue_7 %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class='col-md-6'>
    <h2>2. User Demographics and Behavior</h2>

    <div class="row">
      <div class='col-md-12'>
        <h3>Top 3 States Users Live In (billing)</h3>
        <table class='table'>
          <tr>
            <td>Item</td>
            <td>Data</td>
          </tr>
          <tr>
            <td><%= @top_states[0].name %></td>
            <td><%= @top_states[0].state_count %></td>
          </tr>
          <tr>
            <td><%= @top_states[1].name %></td>
            <td><%= @top_states[1].state_count %></td>
          </tr>
          <tr>
            <td><%= @top_states[2].name %></td>
            <td><%= @top_states[2].state_count %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class= "row">
      <div class='col-md-12'>
        <h3>Top 3 Cities Users Live In (billing)</h3>
        <table class='table'>
          <tr>
            <td>Item</td>
            <td>Data</td>
          </tr>
          <tr>
            <td><%= @top_cities[0].name %></td>
            <td><%= @top_cities[0].city_count %></td>
          </tr>
          <tr>
            <td><%= @top_cities[1].name %></td>
            <td><%= @top_cities[1].city_count %></td>
          </tr>
          <tr>
            <td><%= @top_cities[2].name %></td>
            <td><%= @top_cities[2].city_count %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class= "row">
      <div class='col-md-12'>
        <h3>Top User With...</h3>
        <table class='table'>
          <tr>
            <td></td>
            <td></td>
            <td>@user_highest_single_order</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-md-6'>
    <h2>3. Order Statistics</h2>

    <div class="row">
      <div class='col-md-12'>
        <h3>Last 7 Days</h3>
        <table class='table'>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
    <div class= "row">
      <div class='col-md-12'>
        <h3>Last 30 Days</h3>
        <table class='table'>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
    <div class= "row">
      <div class='col-md-12'>
        <h3>Total</h3>
        <table class='table'>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class='col-md-6'>
    <h2>4. Time Series Data</h2>

    <div class="row">
      <div class='col-md-12'>
        <h3>Orders by day</h3>
        <table class='table'>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
    <div class= "row">
      <div class='col-md-12'>
        <h3>Orders by week</h3>
        <table class='table'>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
