<div class="container">
  <div class="row">

    <div class="col-xs-6">
      <h1>Last 7 Days</h1>
      <%= render partial: 'totals', locals: {data: @weekly} %>

      <h1>Last 30 Days</h1>
      <%= render partial: 'totals', locals: {data: @monthly} %>

      <h1>Total</h1>
      <%= render partial: 'totals', locals: {data: @total} %>
    </div>

    <div class="col-xs-6">
      <h1>Top 3 States Users Live In</h1>
      <%= render partial: 'states', locals: {data: @states_list} %>

      <h1>Top 3 Cities Users Live In</h1>
      <%= render partial: 'states', locals: {data: @cities_list} %>

      <h1>Top Users With...</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">

    </div>
    <div class="col-xs-6">

    </div>
  </div>
</div>
