

<div class='col-md-6 col-sm-12'>

  <h3>1. Overall Platform</h3>
  <%= render partial: "sampletable", :locals => {:table_data => @last7, :title => "Last 7 days", :headers => ["Item","Data"]} %>

  <%= render partial: 'sampletable', :locals => {:table_data => @last30, :title => "Last 30 Days", :headers => ["Item","Data"]} %>

  
  <%=render partial: 'sampletable', :locals => {:table_data => @total, :title => "Total", :headers => ["Item","Data"]} %> 

</div>

<div class='col-md-6 col-sm-12'>

  <h3>2. User Demographics and Behaviour</h3>
  <%= render partial: "sampletable", :locals => {:table_data => @user_3_states, :title => "Top 3 states user live in (billing)", :headers => ["Item","Data"]} %>
  <%= render partial: "sampletable", :locals => {:table_data => @user_3_cities, :title => "Top 3 cities user live in (billing)", :headers => ["Item","Data"]} %>
  <%= render partial: "sampletable", :locals => {:table_data => @top_users, :title => "Top user with..", :headers => ["Item","User","Quantity"]} %>

  </div>

