<div class="row">
  <div class="col-md-12" id="header-bar">
    <h1>Viking Store Analytics Dashboard</h1>
  </div>
</div>
<div class="row">

  <%= render "overall_platform" %>

  <%= render "user_demographics" %>

</div>
<div class="row">

  <%= render "order_statistics" %>

  <div class="col-md-6" id="time-series-data">
    <h3>
      4. Time Series Data
    </h3>
    <h4>
      Orders by Day
    </h4>
    <table class="table table-striped">
      <tr>
        <th>Date</th>
        <th>Qty</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>Today</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Yesterday</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= 2.days.ago.strftime("%b %e") %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= 3.days.ago.strftime("%b %e") %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= 4.days.ago.strftime("%b %e") %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= 5.days.ago.strftime("%b %e") %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= 6.days.ago.strftime("%b %e") %></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <h4>
      Orders by Week
    </h4>
    <table class="table table-striped">
      <tr>
        <th>Date</th>
        <th>Qty</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>This week</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= 1.week.ago.strftime("%b %e") %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= 2.weeks.ago.strftime("%b %e") %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= 3.weeks.ago.strftime("%b %e") %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= 4.weeks.ago.strftime("%b %e") %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= 5.weeks.ago.strftime("%b %e") %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= 6.weeks.ago.strftime("%b %e") %></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>