

<div class='col-md-6 col-sm-12'>

  <h2>1. Overall Platform</h2>

  <%= partial: '_sampletable.html.erb', :locals => {:table_data => @table_data, :title => "Last 7 days"} %>
<!--
  <%= partial: '_sampletable.html.erb', :locals => {:table_data => @last30, :title => title} %>
  <%= partial: '_sampletab le.html.erb', :locals => {:table_data => @total, :title => title} %> -->

</div>

<!-- <div class='col-md-6 col-sm-12'>

  <h2>2. User Demographiics and Behavior</h2>

  <%= partial: '_sampletable.html.erb', :locals => {:table_data => @last7, :title => title} %>

  <%= partial: '_sampletable.html.erb', :locals => {:table_data => @last30, :title => title} %>
  <%= partial: '_sampletab le.html.erb', :locals => {:table_data => @total, :title => title} %>

</div> -->