<div class="container">
  <div class="row text-center">
    <h1>Viking Store Admin Portal</h1>
  </div>
  <div class="row">

    <div class="col-xs-2">
      <h4>Navigation Options</h4>
      <div><a href="#">Users</a></div>
      <div><a href="#">Addresses</a></div>
      <div><a href="#">Orders</a></div>
      <div><a href="#">Products</a></div>
      <div><a href="#">Categories</a></div>
    </div>

    <div class="col-xs-10">
      <div class="text-center"><h2>Viking Store Users</h2></div>
      <div class="col-xs-offset-3 col-xs-6">
        <button class="btn btn-primary btn-lg btn-block">Create User</button>
      </div>
      <div class="col-xs-12 text-center">
        <table class="table table-striped">
          <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Joined</td>
            <td>City</td>
            <td>State</td>
            <td>Orders</td>
            <td>Last Order Date</td>
            <td>Show</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
          
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.joined.strftime("%Y-%m-%d") %></td>
              <td><%= user.city %></td>
              <td><%= user.state %></td>
              <td><%= user.orders %></td>
              <td>
                <% unless @last_date[user.id][0].nil? %>
                  <%= @last_date[user.id][0].date.strftime("%Y-%m-%d") %>
                <% end %>
              </td>
            </tr>
          <% end %>
    
        </table>
      </div>
    </div>
  </div>
</div>