<div class='container'>
  <h1 style="text-align:center">Viking Store  Analytics Dashboard</h1>
  <div class='row'>
    <div class='col-md-5 box'>
      <h2>Overall Platform</h2>

      <h4>Total</h4>
      <table class='table table-striped'>
        <%= render "th" %>
        <%= render partial: "two_col_row", locals: {:label => "New Users", :value => @total_users} %>
        <%= render partial: "two_col_row", locals: {:label => "Orders", :value => @total_orders} %>
        <%= render partial: "two_col_row", locals: {:label => "Products", :value => @total_products} %>
        <%= render partial: "two_col_row", locals: {:label => "Revenue", :value => @total_revenue} %>
      </table>

      <h4>Last 7 Days</h4>
      <table class='table table-striped'>
        <%= render "th" %>
        <%= render partial: "two_col_row", locals: {:label => "New Users", :value => @new_week_users} %>
        <%= render partial: "two_col_row", locals: {:label => "Orders", :value => @new_week_orders} %>
        <%= render partial: "two_col_row", locals: {:label => "Products", :value => @new_week_products} %>
        <%= render partial: "two_col_row", locals: {:label => "Revenue", :value => @new_week_revenue} %>
      </table>

      <h4>Last 30 Days</h4>
      <table class='table table-striped'>
        <%= render "th" %>
        <%= render partial: "two_col_row", locals: {:label => "New Users", :value => @new_month_users} %>
        <%= render partial: "two_col_row", locals: {:label => "Orders", :value => @new_month_orders} %>
        <%= render partial: "two_col_row", locals: {:label => "Products", :value => @new_month_products} %>
        <%= render partial: "two_col_row", locals: {:label => "Revenue", :value => @new_month_revenue} %>
      </table>
    </div>
    <div class='col-md-5 box'>
      <h2>User Demographics and Behavior</h2>
      <h4>Top States</h4>
      <table class='table table-striped'>
        <%= render "th" %>
        <% @top_states.each do |state| %>
          <%= render partial: "two_col_row", locals: {:label => state[:name], :value => state[:total]} %>
        <% end %>
      </table>

      <h4>Top Cities</h4>
      <table class='table table-striped'>
        <%= render "th" %>
        <% @top_cities.each do |city| %>
          <%= render partial: "two_col_row", locals: {:label => city[:name], :value => city[:total]} %>
        <% end %>
      </table>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-5 box'>
      <h2>Order Statistics</h2>
    </div>
    <div class='col-md-5 box'>
      <h2>Time Series Data</h2>
    </div>
  </div>
</div>
