<tr>
  <td><%= category.id %></td>
  <td><%= category.name %></td>
  <td><%= link_to 'show', admin_category_path(category.id) %></td>
  <td><%= link_to 'edit', edit_admin_category_path(category.id) %></td>
  <td><%= link_to 'delete', admin_category_path(category.id),
            :method => :delete,
            :data => { :confirm => 'Delete category?' } %></td>
</tr>