<tr>
  <td><%= category.id %></td>
  <td><%= category.name %></td>
  <td><%= category.description %></td>
  <td><%= link_to "show", admin_category_path(category) %></td>
  <td><%= link_to "edit", edit_admin_category_path(category) %></td>
  <td><%= link_to "delete", admin_category_path(category), method: :delete,  data: {confirm: "Really really delete this category?"} %></td>
</tr>
