<h1 class="text-center">Product Categories</h1>

<br />
<%= link_to "Add a New Category", new_admin_category_path, class: "btn btn-primary btn-lg btn-block" %>
<br />

<div class="panel panel-default">

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>

    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.name %></td>
        <td><%= link_to "show", admin_category_path(category) %></td>
        <td><%= link_to "edit", edit_admin_category_path(category) %></td>
        <td><%= link_to "delete", admin_category_path(category), method: :delete, data: { confirm: "Are you sure you want to delete?" }  %></td>

      </tr>

    <% end %>

    </tbody>
  </table>

</div>
