<% content_for :resource_name, "Categories" %>

<%= flash_messages %>

<%= link_to "Add a New Category", new_admin_category_path, class: "btn btn-primary btn-lg btn-block"%>
<% content_for :table do %>
  <table class="table table-striped">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.name %></td>
          <td><%= link_to "Show", [:admin, category] %></td>
          <td><%= link_to "Edit", edit_admin_category_path(category) %></td>
          <td><%= link_to "Delete", [:admin, category], method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
