<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Product Categories</h3>
    <div class="pull-right"><%= link_to 'Add a New Category', '#', class: "btn btn-primary"  %></div>
  </ul>  
  </div>



  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>

      <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.name %></td>
          <td><%= link_to 'Show', '#' %></td>
          <td><%= link_to 'Edit', '#' %></td>
          <td><%= link_to 'Delete', '#' %></td>
        </tr>
      <% end %>

    </tbody>
  </table>

</div>