<div class = "col-md-12">
  <h2>Category <%= @category.id %>: <%=@category.name%></h2>
</div>

<div class = "row">
  <div class = "col-md-2">
    <strong>Category ID:</strong>
  </div>
  <div class = "col-md-10">
    <span><%= @category.id %></span>
  </div>
</div>

<div class = "row">
  <div class = "col-md-2">
    <strong>Name:</strong>
  </div>
  <div class = "col-md-10">
    <span><%= @category.name %></span>
  </div>
</div>

<h4>Products in <%= @category.name %></h4>
<table class = "table table-striped table-bordered">
  <thead>
    <th>ID</th>
    <th>Name</th>
  </thead>
  <tbody>
    <% @category.products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>