<div class="admin-main-content-header text-center">
  <h1>Category #<%= @category.id %> &mdash; <%= @category.name %></h1>
</div>
<hr class="admin-hr">
<p><strong>Description &mdash; </strong> <%= @category.description %></p>
<div class="text-right">
  <%= link_to 'Edit', edit_admin_category_path(@category.id), class: "btn btn-sm btn-primary" %>
  <%= link_to 'Delete', admin_category_path(@category.id), method: "delete", data: { confirm: "Are you sure you want to delete the category '#{@category.name}'?" }, class: "btn btn-sm btn-primary" %>
</div>
<hr class="admin-hr">
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>SKU</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to "#{product.id}", '#' %></td>
          <td><%= product.sku %></td>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
