<ul>
  <li>Category ID: <%= @category.id %></li>
  <li>Category Name: <%= @category.name %></li>
  <li>Category Description: <%= @category.description %></li>
  <li><%= link_to "edit", edit_admin_category_path(@category) %></li>
  <li><%= link_to "delete", admin_category_path(@category), method: :delete,  data: {confirm: "Really really delete this category?"} %></li>
</ul>
<table class="table table-bordered">
  <h3>Product List</h3>
  <tr>
    <th>Product ID</th>
    <th>Product Name</th>
  </tr>
  <% @category.products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= link_to product.name, admin_product_path(product) %> </td>
    </tr>
  <% end %>
</table>
