<h1>Category <%= @category.id %>: <%= @category.name %></h1>
<h3>Category ID: <%= @category.id %></h3>
<h3>Name: <%= @category.name %></h3>

<h4><%= link_to "Edit Category", edit_admin_category_path(@category) %></h4>
<h4><%= link_to "Delete Category", admin_category_path(@category), data: {confirm: "Are you sure you'd like to delete this category?"}, method: "delete" %></h4>

<h3>Products in <%= @category.name %>:</h3>
<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
  </thead>
  <tbody>
    <tr>
      <% @products.where( "category_id = #{@category.id}").each do |prod| %>
      <td><%= prod[:id] %></td>
      <td><%= link_to "#{prod[:name]}", admin_product_path(prod) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
