<%= form_for [:admin, product] do |f| %>

	<%= f.label :id %>
	<span><%= product.persisted? ? product.id : "N/A" %></span>

	<%= f.label :name %>
	<%= message_error(product, :name) %>
	<%= f.text_field :name %>

	<%= f.label :price %>
	<%= message_error(product, :price) %>
	<%= f.text_field :price %>

	<%= f.label :category %>
	<%= message_error(product, :category_id) %>
	<%= f.collection_select(:category_id, Category.all, :id, :name) %><br>

	<%= f.submit  product.persisted? ? "Update Product" : "Create Product", 
				  class: "btn btn-primary" %>
<% end %>

<% if product.persisted? %>
	<%= link_to "Delete Me", [:admin, product], method: :delete, 
									  data: {confirm: "Are you Sure?"} %>
<% end %>