<%= form_for [:admin, product] do |f| %>

  <!-- ID -->
  <div class='form-group'>
    <div class='row'>
      <div class='col-xs-3'>
       <%= f.label :id, 'Product ID:' %>
      </div>

      <div class='col-xs-9'>
        <% product.id = 'N/A' if product.id.nil? %>
        <%= f.text_field :id, disabled: true %>
      </div>
    </div>
  </div>

  <!-- Name -->
  <div class='form-group'>
    <div class='row'>
      <div class='col-xs-3'>
       <%= f.label :name, 'Name:', :placeholder => 'Enter a name' %>
      </div>

      <div class='col-xs-9'>
        <%= f.text_field :name %>
        <%= render_error(product, :name) %>
      </div>
    </div>
  </div>

  <!-- Price -->
  <div class='form-group'>
    <div class='row'>
      <div class='col-xs-3'>
       <%= f.label :price, 'Price:' %>
      </div>

      <div class='col-xs-9'>
        <%= f.number_field :price, :placeholder => '$$$' %>
        <%= render_error(product, :price) %>
      </div>
    </div>
  </div>

  <!-- SKU -->
  <% f.text_field :sku, :value => Faker::Code.ean %>

  <!-- Category -->
  <div class='form-group'>
    <div class='row'>
      <div class='col-xs-3'>
       <%= f.label :category_id, 'Category:' %>
      </div>

      <div class='col-xs-9'>
        <%= f.collection_select :category_id, @available_categories, :id, :name %>
        <%= render_error(product, :category_id) %>
      </div>
    </div>
  </div>

  <!-- Submit -->
  <div class='row'>
   <div class='col-xs-8 col-xs-offset-2'>
      <%= f.submit "#{button_label} Product", class: 'btn btn-success btn-lg btn-block' %>
    </div>
  </div>

<% end %>