<%= form_for [:admin, @product] do |f| %>
  <h4>Name</h4>
  <%= f.text_field :name %><br />
  <%= f.hidden_field :sku, value: rand(11 ** 11) + 0.0 %>
  <h4>Description</h4>
  <%= f.text_area :description %><br />
  <h4>Price</h4>
  $<%= f.number_field :price, class: "text_field", step: "0.01" %><br />
  <h4>Category ID</h4>
  <%= f.collection_select(:category_id, Category.all, :id, :name) %><br />
  <%= f.submit "Create product", class: "btn btn-primary" %>
<% end %>
