<h2 class="text-center">Products</h2>
<%= render partial: 'shared/admin_header', locals: {the_model: 'Product'} %>

<table class="table">
  <thead>
    <% headings.each do |h| %>
      <th><%= h.titleize %></th>
    <% end  %>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  <tbody>

    <% rows.each do |r| %>
      <tr>
       <td><%= r.id %></td>
       <td><%= r.name %></td>
       <td><%= r.price %></td>
       <td><%= link_to r.category.name, admin_category_path(r.category_id) if r.category_id %></td>
        <td><%= link_to 'Show', [:admin, r] %></td>
        <td><%= link_to 'Edit', [:edit, :admin, r] %></td>
        <td><%= link_to 'Delete', [:admin, r], method: :delete, data: {confirm: "Delete the #{r.model_name.name.downcase} '#{r.name}'?"}%></td>
      </tr>
    <% end %>
  </tbody>
</table>
