<h1>Products</h1>
<%= link_to "Add A New Product", new_admin_product_path, class: "btn-block btn-primary btn-lg new-cat-btn" %>
<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Category</th>
    <th>SHOW</th>
    <th>EDIT</th>
    <th>DELETE</th>
  </thead>
  <tbody>
    <%= @products.each do |prod| %>
    <tr>
      <td><%= prod[:id] %></td>
      <td><%= prod[:name] %></td>
      <td><%= prod[:price] %></td>
      <td><%= prod[:category_id] %></td>
      <td><%= link_to "SHOW", admin_product_path(prod) %></td>
      <td><%= link_to "EDIT", edit_admin_product_path(prod) %></td>
      <td><%= link_to "DELETE", admin_product_path(prod), method: "delete" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
