<H3>New Product</H3>

<div class="form-wrapper">

  <%= form_for( @product, url: '/admin/products', html: { :class => "form-horizontal" } ) do |f| %>
    <div class="form-group">
      <%= f.label :id, "Product ID:", class: "col-sm-4 control-label" %>
<!--         <%= f.text_field :id, class: "form-control", placeholder: "N.A.", disabled: 'disabled' %> -->
      <div class="col-sm-8">
        <h4><%= "N.A" %></h4>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :name, "Name:", class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :price, "Price:", class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :price, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :sku, "SKU:", class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :sku, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :category_id, "Category:", class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.collection_select :category_id, Category.all, :id, :name, :class => "form-control" %>
      </div>
    </div>
    <div class="button-wrapper">
      <%= f.submit "Create Product", class: "btn btn-primary btn-group btn-group-lg" %>
    </div>
  <% end %>

</div>