<div class="panel-heading">
  <h3>Product <%= @product.id %></h3>
</div>

<div class="panel-padding">
  <h4>Product Information</h4>
  <div class="row">
    <div class="col-md-2"><strong>Product ID</strong></div>
    <div class="col-md-10"><%= @product.id %></div>
  </div>

  <div class="row">
    <div class="col-md-2"><strong>Name</strong></div>
    <div class="col-md-10"><%= @product.name %></div>
  </div>

  <div class="row">
    <div class="col-md-2"><strong>SKU</strong></div>
    <div class="col-md-10"><%= @product.sku %></div>
  </div>

  <div class="row">
    <div class="col-md-2"><strong>Description</strong></div>
    <div class="col-md-10"><%= @product.description %></div>
  </div>

  <div class="row">
    <div class="col-md-2"><strong>Category</strong></div>
    <div class="col-md-10"><%= @product.category.name ? @product.category.name : "None" %></div>
  </div>

  <h4>Product Statistics</h4>

  <div class="row">
    <div class="col-md-2"><strong>Times Ordered</strong></div>
    <div class="col-md-10"><%= @stats[:orders] %></div>
  </div>

  <div class="row">
    <div class="col-md-2"><strong>Carts In</strong></div>
    <div class="col-md-10"><%= @stats[:carts] %></div>
  </div>  

  <hr>

  <%= link_to 'Edit Product', edit_admin_product_path(@product.id) %><br>
  <%= link_to 'Delete Product', admin_product_path(@product.id), method: :delete, data: { confirm: "Are you sure?" } %>

</div>