<% content_for :resource_name, "Products" %>
<h1 class="text-center">Product <%= @product.id %>: <%= @product.name %></h1>

<h2>Product Information</h2>

<table class="table table-striped special-table">
  <tbody>
    <tr>
      <td><strong>ID</strong></td>
      <td><%= @product.id %></td>
    </tr>
    <tr>
      <td><strong>Name</strong></td>
      <td><%= @product.name %></td>
    </tr>
    <tr>
      <td><strong>Price</strong></td>
      <td><%= number_to_currency(@product.price) %></td>
    </tr>
    <tr>
      <td><strong>Category</strong></td>
      <td><%= @product.category.try(:name) %></td>
    </tr>
  </tbody>
</table>

<h2>Product Statistics</h2>

<table class="table table-striped special-table">
  <tbody>
    <tr>
      <td><strong>Times Ordererd</strong></td>
      <td><%= @product.times_ordered %></td>
    </tr>
    <tr>
      <td><strong>Carts In</strong></td>
      <td><%= @product.carts_in %></td>
    </tr>
  </tbody>
</table>

<%= link_to "Edit", edit_admin_product_path(@product), class: 'btn btn-default' %>
<%= link_to "Delete", admin_product_path(@product), method: :delete, class: 'btn btn-default btn-danger' %>
