<h1>Product <%= @product.id %></h1>
<section>
  <article>
    <h2>Product Information</h2>
    <h3>Product ID: <%= @product.id %></h3>
    <h3>Name: <%= @product.name %></h3>
    <h3>Price: <%= @product.price %></h3>
    <h3>Category: <%= @product.category_id %></h3>
  </article>
  <article>
    <h2>Product Statistics</h2>
    <h3>Times Ordered:<%= %></h3>
    <h3>Cart IN: <%= %></h3>
  </article>

  <article>
    <h4><%= link_to "Edit Product", edit_admin_product_path %></h4>
    <h4><%= link_to "Delete Product", admin_product_path, method: "delete"%></h4>
  </article>
</section>
