<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="text-center">Product <%= @product.id %></h3>
  </div>
  <div class="panel-body">
    <%= render :partial => "shared/table_vertical_objs",
               :locals => {:keys => ["id", "name", "price", "category"],
                           :objs => [@product]}
    %>

    <h4>Product Statistics</h4>

    <table class="table">
      <tr>
        <th>Times Ordered</th>
        <td><%= @times_ordered %></td>
      </tr>
      <tr>
        <th>Carts In</th>
        <td><%= @carts_in %></td>
      </tr>
    </table>

    <p>
      <%= link_to "[Edit]", edit_admin_product_path(@product.id) %>
    </p>
    <p>
      <%= link_to "[Delete]", admin_product_path(@product.id),
                  :method => :delete
       %>
    </p>


  </div>
</div>
