<h2 class="text-center">Product <%= @product.id %></h2>
<br>

<h3>Product Information</h3>

<dl class="dl-horizontal">
  <dt>Product ID:</dt>
  <dd><%= @product.id %></dd>

  <dt>Name:</dt>
  <dd><%= @product.name %></dd>

  <dt>Price:</dt>
  <dd><%= @product.price %></dd>

  <dt>Category:</dt>
  <dd><%= @category.name %></dd>
</dl>

<h3>Product Statistics</h3>
<dl class="dl-horizontal">
  <dt>Times Ordered:</dt>
  <dd><%= @product.times_ordered %></dd>

  <dt>Carts In:</dt>
  <dd><%= @product.carts_in %></dd>
</dl>

<p>
  <%= link_to 'Edit Product', edit_admin_product_path(@product) %>
</p>
<p>
  <%= link_to 'Delete Product', admin_product_path(@product), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
