<tr class='text-center'>
  <td><%= category.id %></td>
  <td><%= category.name %></td>
  <td><%= link_to 'Show', category_path(category.id) %></td>
  <td><%= link_to 'Edit', edit_category_path(category.id) %></td>
  <td><%= link_to 'Delete', category_path(category.id), :method => :delete, :data => { :confirm => 'Delete Category?' } %></td>
</tr>