<tr>
  <td><%= category.id %></td>
  <td><%= category.name %></td>
  <td><%= link_to 'show', category_path(category.id) %></td>
  <td><%= link_to 'edit', '#' %></td>
  <td><%= link_to 'delete', '#' %></td>
</tr>