
<div>
<table class="table table-striped">
  <h4><%=title%></h4>
  <%= link_to "Create a New user", new_user_path %>
  <tr>
    <%@headers.each do |head| %>
    <td> <%= head %> </td>
    <% end %>
  <tr>
    <% @table_data.each do |category|%>
      <tr>

        <td> <%= category.id %></td>
        <td> <%= category.name %></td>
        <td> <%= category.description %></td>
      
      <tr>
      <%end%>
</table>
</div>