<table class="table table-bordered table-striped table-user">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Description</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	<% @categories.each do |category| %>
		<tr>
			<td><%= link_to "#{category.id}", category_path(category.id) %></td>
			<td><%= category.name %></td>
			<td><%= category.description %></td>
			<td><%= link_to "Edit", edit_category_path(category.id) %></td>
			<td><%= link_to "Delete", category_path(category.id), method: "delete", data: {confirm: "Do you really want to delete?"} %></td>
		</tr>
	<% end %>
</table>