<h2>
  Edit this category
</h2>

<% flash.each do |name, message| %>
  <%= content_tag :div, message, class: "alert alert-info" %>
<% end %>

<%= form_for @category do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit "Edit" %>
<% end %>

<%= link_to "Delete this category", category_path(@category.id), data: {confirm: "Are you sure?"}, method: :delete %>