<h1>Edit Category</h1>

<% unless flash[:error].nil? %>
  <div class="alert alert-danger"><%= flash[:error] %></div>
<% end %>

<%= form_for @category do |f| %>
  <%= f.label :id %>
  <%= f.text_field :id, disabled: true %><br/>

  <%= f.label :name %>
  <%= f.text_field :name %><br/>

  <%= f.label :description %>
  <%= f.text_area :description, size: '30x3' %><br/>

  <%= f.submit %>
<% end %>

<p><%= link_to "Delete", category_path(@category.id), method: "delete", data: { confirm: "Are you sure?"} %></p>