<div class="row">
  <div class="col">
    <h2 class="text-center">Edit Category <%= @category.id %>: <%= @category.name %></h2>
  </div>
</div>

<%= form_for @category do |f| %>
  <div class="form-group form-row"%>
    <div class="col-2">
      <%= f.label :id, "Category ID:", class: "col-form-label font-weight-bold" %>
    </div>
    <div class="col">
      <%= f.text_field :id, readonly: true, class: "form-control-plaintext" %>
    </div>
  </div>

  <div class="form-group form-row">
    <div class="col-2">
      <%= f.label :name, "Name:", class: "col-form-label font-weight-bold" %>
    </div>
    <div class="col">
      <div class="form-row">
        <div class="col">
          <%= field_with_errors(@category, :name) %>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group form-row">
    <div class="col-2">
      <%= f.label :description, "Description:", class: "col-form-label font-weight-bold" %>
    </div>
    <div class="col">
      <div class="form-row">
        <div class="col">
          <%= field_with_errors(@category, :description) %>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <%= f.text_field :description, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group form-row">
    <div class="col">
      <%= f.submit "Update Category", class: "btn btn-primary btn-lg btn-block border rounded mt-4" %>
    </div>
  </div>

  <div class="form-group form-row">
    <div class="col text-center">
      <%= link_to "Delete Category", category_path(@category.id), method: :delete, data: { confirm: "Are you sure you want to delete this Category?" } %>
    </div>
  </div>
<% end %>
