<h2>Product Categories</h2>

<%= link_to "Add a New Category", new_category_path, class: "btn btn-primary" %>

<table class="table">
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>SHOW</th>
		<th>EDIT</th>
		<th>DELETE</th>
	</tr>
	<% @categories.each do |category| %>
		<tr>
			<td><%= category.id %></td>
			<td><%= category.name %></td>
			<td><%= link_to "Show", category_path(category.id) %></td>
			<td><%= link_to "Edit", edit_category_path(category.id) %></td>
			<td><%= link_to "Delete", "#" %></td>
		</tr>
	<% end %>

</table>
