<div class='container'>
  <div class='row'>
    <h2 class='text-center'>Product Categories</h2>
    <br/>
    <%= link_to "Add a New Category", new_category_path, class: 'btn btn-primary col-md-4 col-md-offset-4' %>
    <table class='table table-bordered'>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>SHOW</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
      <% @categories.each do |i| %>
        <tr>
          <td><%= i.id %></td>
          <td><%= i.name %></td>
          <td><%= link_to "Show", category_path(i.id) %></td>
          <td><%= link_to "Edit", edit_category_path(i.id) %></td>
          <td><%= link_to "Delete", category_path(i.id), method: 'delete', data: {confirm: "Are you sure?"} %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>