<h2 class="centered">
  Categories
</h2>

<table class="table">
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= link_to "show", category_path(category.id) %></td>
      <td><%= link_to "edit", edit_category_path(category.id) %></td>
      <td><%= link_to "delete", "#" %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to "Add a category", new_category_path %>
</p>