<h1 class="page-header text-center"> Categories </h1>
<%= link_to 'New Category' , new_category_path, class: 'btn btn-success btn-lg center-block' %>
<div class="category col-md-12">

<table class="table table-bordered">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	<% @categories.each do |category| %>
		<tr>
			<td class="text-center"><%=category.id%></td>
		  <td class="text-center"><%= link_to category, class: 'btn btn-primary' do %>
		     	<%=category.name%>
          <span class="badge">
            <%= category.products.count %>
          </span>&nbsp;
		     <% end %></td>

			<td class="text-center"><%= link_to "Edit",edit_category_path(category) ,class: 'btn btn-xs btn-primary'%></td>

			<td class="text-center"><%= link_to "Delete", category_path(category), method: 'delete',:data => {confirm: 'Are you sure you want to delete?'}, class: 'btn btn-xs btn-danger' %></td>
			</li>
		</tr>
	<% end %>
</table>
</div>
