<h2 class="text-center">Categories</h2>

<a href="/categories/new" class="btn btn-info create-btn">
  Create a New Category
</a>

<table>
  <tr>
    <th>Name</th>
    <th>Desription</th>
    <th>SHOW</th>
    <th>EDIT</th>
    <th>DELETE</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.description %></td>
      <td><%= link_to "show", "#" %></td>
      <td><%= link_to "edit", edit_category_path(category.id) %></td>
      <td><%= link_to "delete", category_path(category.id), method: :delete, confirm: "Are you sure?" %></td>
    </tr>
  <% end %>
</table>
