<p class="right"><%= link_to 'New', new_category_path %></p>
<h1>Categories</h1>

<table class="<%= table_classes %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category %></td>
        <td><%= truncate(category.description, length: 20) %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
