<h4>New Category</h4>
<% @category.errors.full_messages.each do | msg| %>
	<%= msg %>
<% end %>
<div class="col-md-12 category-form">
<div class="input-group ">
	<%= form_for @category, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
	  <%= f.label "Name"%>
	  <%= f.text_field :name, class: "form-control input-lg" %>
	  <br/><br/><br><br>
	  <%= f.submit "Create", class: "btn btn-primary btn-block" %>
	<% end %>
	</div>
</div>
