<% @page_title = " | Create A New Category" %>

<% if flash[:alert] %>
	<div class="notice">
		<%= flash[:alert] %>
	</div>
<% end %>

<section>
  <%= render :partial => "./shared/new_form",
             :locals => {:form_header => "Create A New Category",
             						 } %>

	<%= form_for @category do |f| %>
		<%= f.label :id, "ID: " %>
		<%= f.text_field :id, :readonly => true %>
		<br>
		<br>
	  <%= f.label :name, "Name: " %>
	  <%= f.text_field :name %>
	  <br>
	  <br>
	  <%= f.label :description, "Descirption: " %>
	  <%= f.text_area :description, size: "60x12" %>
	  <br>
	  <br>
	  <%= f.submit "Create" %>
	<% end %>
</section>