<h2>Category <%= @category.id %>: <%= @category.name %></h2>

<h4>Category Id : <%= @category.id %></h4>
<h4>Name: <%= @category.name %></h4>

<%= link_to "Edit Category", edit_category_path(@category.id) %><br>
<%= link_to "Delete Category", category_path(@category.id), method: :delete, data: {confirm: "Are you Sure?"} %>

<br>
<br>

<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<h4>Products in <%= @category.name %> :</h4>

		<table class= "table">
			<tr>
				<th>Id</th>
				<th>Name</th>
			</tr>
			<% @products_of_category.each do |product| %>
				<tr>
					<td><%= product.id %></td>
					<td><%= link_to product.name, "#" %></td>
				</tr>
			<% end %>

		</table>
	</div>
</div>