<ul>
  <li><%= @category.id %></li>
  <li><%= @category.name %></li>
  <li><%= @category.description %></li>
  <li><%= link_to "edit", edit_category_path(@category) %></li>
  <li><%= link_to "delete", category_path(@category), method: :delete %></li>
</ul>
<table class="table table-bordered">
  <%= render partial: "products/product", locals: => {product_list: @products_list} %>
</table>