<div class="row">
  <div class="col">
    <h2 class="text-center">Category <%= @category.id %>: <%= @category.name %></h2>
  </div>
</div>

<div class="row">
  <div class="col-2">
    <p class="font-weight-bold">Category ID:</p>
  </div>

  <div class="col">
    <p><%= @category.id %></p>
  </div>
</div>

<div class="row">
  <div class="col-2">
    <p class="font-weight-bold">Name:</p>
  </div>

  <div class="col">
    <p><%= @category.name %></p>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <p><%= link_to "Edit Category", edit_category_path(@category.id) %></p>
    <p><%= link_to "Delete Category", category_path(@category.id), method: :delete, data: { confirm: "Are you sure you want to remove this Category?" } %></p>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h4>Products in <%= @category.name %>:</h4>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>

      <tbody>
        <% @products_in_category.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= link_to product.name, "#" %></td>
            <td><%= product.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
