<h1> <%= @category.name %> </h1>

<%= @category.description %>

<table class="table table-bordered">
<tr>
<th>ID</th>
<th>Name</th>
</tr>
<% @category.products.each do |product| %>
<tr>
    <td> <%= product.id %></td>
	<td> <%= link_to product.name, product %> </td>
</tr>
<% end %>
</table>
<br>

<%= link_to "Edit",edit_category_path(@category) ,class: 'btn btn-xs btn-primary'%>
<%= link_to "Delete", category_path(@category), method: 'delete',:data => {confirm: 'Are you sure you want to delete?'}, class: 'btn btn-xs btn-danger' %>
<%= render partial: "index_return" %>
