<h1 class="text-center">Category <%= @category.id%>: <%= @category.name %></h1>

<div class="well">

<h5><strong>Category ID:</strong> <%= @category.id %></h5>
<h5><strong>Name:</strong> <%= @category.name %></h5>
<h5><strong>Description:</strong> <%= @category.description %></h5>


<%= link_to "Edit Category", edit_category_path(@category), class: "btn btn-primary btn-lg btn-block" %>
<br />
<%= link_to "Delete Category", category_path(@category), method: :delete, class: "btn btn-danger btn-lg btn-block" %>


</div> <!-- well -->

<!-- Products table -->

<h3>Products in <%= @category.name %></h3>
<div class="panel panel-default">

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>

    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= link_to product.name, product_path(product) %></td> 

      </tr>

    <% end %>

    </tbody>
  </table>

</div> <!-- products -->
