<h4>ID: <%= @category.id %></h4>
<h2><%= @category.name %></h2>
<p>
  Description: <%= @category.description %>
</p>
<%= link_to "Edit", edit_category_path(@category) %>

<%= render 'products/products_list', products: @products %>
