<p class="right"><%= link_to 'Edit', edit_category_path(@category) %></p>
<h1>Category Details</h1>

<h3><%= @category.name %> (#<%= @category.id %>)</h3>
<p><%= @category.description %></p>

<table>
  <thead>
    <tr>
      <th>Products</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product %></td>
      </tr>
    <% end %>
  </tbody>
</table>
