<div class = 'container'>
    <div class = 'col-md-9'>
      <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>name</td>
                    <td><%= @cate.name%></td>
                </tr>

                <tr>
                    <td>description</td>
                    <td><%= @cate.description%></td>
                </tr>

               <tr>
                    <td>created_at</td>
                    <td><%= @cate.created_at%></td>
                </tr>

                <tr>
                    <td>updated_at</td>
                    <td><%= @cate.updated_at%></td>
                </tr>


             </tbody>

      </table>
      <%= link_to "OK and return",categories_path(@cate) , :class => "btn btn-info" %>
      </div>
</div>