<h2>
  Category <%= @category.id %>: <%= @category.name %>
</h2>

<p>
  <%= @category.description %>
</p>

<ul>
  <li><%= link_to "edit this category", edit_category_path(@category.id) %></li>
  <li><%= link_to "delete this category", category_path(@category.id), data: {confirm: "Are you sure?"}, method: :delete %></li>
</ul>

<h3>Products in this category</h3>
<table class="table">
  <tr>
    <th>ID</th>
    <th>SKU</th>
    <th>Name</th>
  </tr>
  <% @category.products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.sku %></td>
      <td><%= link_to product.name, '#' %></td>
    </tr>
  <% end %>
</table>