<h2>Category details</h2>
<%= link_to "Edit category", edit_category_path(@category.id) %> |
<%= link_to "Delete category", category_path(@category.id), method: :delete, confirm: "Are you sure?" %>

<h4>Category name</h4>
<%= @category.name %>

<h4>Category ID</h4>
<%= @category.id %>

<h4>Category description</h4>
<%= @category.description %>

<h4>Products in this category</h4>
<table>
  <tr>
    <th>Name</th>
    <th>SKU</th>
    <th>Description</th>
    <th>Price</th>
    <th>Category</th>
    <th>SHOW</th>
    <th>EDIT</th>
    <th>DELETE</th>
  </tr>
  <% @category.products.each do |product| %>
    <tr>
      <td>
        <%= link_to "#{product.name}", "/products/#{product.id}" %>
      </td>
      <td><%= product.sku.to_i %></td>
      <td><%= product.description %></td>
      <td><%= number_to_currency(product.price) %></td>
      <td>
        <% if product.category %>
          <%= link_to "#{product.category.name}", "/categories/#{product.category_id}" %>
        <% end %>
      </td>
      <td><%= link_to "show", "#" %></td>
      <td><%= link_to "edit", edit_product_path(product.id) %></td>
      <td><%= link_to "delete", product_path(product.id), method: :delete, confirm: "Are you sure?" %></td>
    </tr>
  <% end %>
</table>
