<table class="table">
  <thead>
  <tr>
  <th>Date</th>
  <th>Quantity</th>
  <th>Value</th>
  </tr>
  </thead>
  <tbody>
    <% data.each_with_index do |days, index| %>

      <% if index == 0 %>
        <tr>
          <td>Today</td>
          <td><%= days[0].total %></td>
          <td><%= number_to_currency(days[0].value) %></td>
        </tr>
      <% elsif index == 1 %>
        <tr>
          <td>Tomorrow</td>
          <td><%= days[0].total %></td>
          <td><%= number_to_currency(days[0].value) %></td>
        </tr>
      <% else %>
        <tr>
          <td><%= (Date.today - index).strftime("%m/%d") %></td>
          <td><%= days[0].total %></td>
          <td><%= number_to_currency(days[0].value) %></td>
        </tr>
      <% end %>
    <% end %>
    
  </tbody>
</table>