<table class="table">
  <thead>
  <tr>
  <th>Item</th>
  <th>Data</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= data[0].name %></td>
      <td><%= data[0].user_count %></td>
    </tr>
    <tr>
      <td><%= data[1].name %></td>
      <td><%= data[1].user_count %></td>
    </tr>
    <tr>
      <td><%= data[2].name %></td>
      <td><%= data[2].user_count %></td>
    </tr>
  </tbody>
</table>
