<%= form_for [:admin, user] do |f| %>
    <div class="form-group">
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</div>

	<div class="form-group">
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</div>

	<div class="form-group">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>

  <% if user.persisted? %>
  	<div class="form-group">
	    <%= f.label :billing_id %>
	    <%= f.collection_select(:billing_id, user.addresses, :id, :full_address ) %>
	</div>

	<div class="form-group">
		<%= f.label :shipping_id %>
		<%= f.collection_select(:shipping_id, user.addresses, :id, :full_address) %>
    </div>
  <% end %>

	<div class="form-group">
		<%= f.submit %>
	</div>
<% end %>
