<!-- Orders table -->

<div class="panel panel-default">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Order Date</th>
        <th>Order Value</th>
        <th>Status</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>

    <% @user.orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.checkout_date.strftime("%Y-%m-%d") if order.checkout_date %></td> 
        <td><%= number_to_currency(order.products.single_order_value) %></td>
        <td><%= order.checkout_date ? "PLACED" : "UNPLACED" %></td>
        <!-- TODO: finish links to orders -->
        <td><%= link_to "show", user_order_path(order.user, order) %></td>
        <td><%= link_to "edit", edit_user_order_path(order.user, order) %></td>
        <td><%= link_to "delete", user_order_path(order.user, order), method: :delete, data: { confirm: "Are you sure you want to delete?" } %></td>
      </tr>

    <% end %>

    </tbody>
  </table>

</div>