<H3><%= type == "Edit" ? type : "Add" %> User</H3>

<div class="borders">

  
  <h4>Demographic Information</h4>
  <div class="form-wrapper">
    <%= form_for( [:admin, user], html: { :class => "form-horizontal" } ) do |f| %>
      <div class="form-group">
        <%= f.label :id, "User ID:", class: "col-sm-4 control-label" %>
        <div class="col-sm-8">
          <h5><%= "N.A" %></h5>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :first_name, "First Name:", class: "col-sm-4 control-label" %>
        <div class="col-sm-8">
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :last_name, "Last Name:", class: "col-sm-4 control-label" %>
        <div class="col-sm-8">
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :email, "Email:", class: "col-sm-4 control-label" %>
        <div class="col-sm-8">
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :telephone, "Telephone:", class: "col-sm-4 control-label" %>
        <div class="col-sm-8">
          123.123.123
        </div>
      </div>
      <div class="form-group">
        <%= f.label :billing, "Default Billing Address:", class: "col-sm-4 control-label" %>
        <div class="col-sm-8">
          <%= f.collection_select :billing_id, Address.where(:user_id => @user.id), :id, :street_address, {}, :class => "form-control"%>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :shipping, "Default Shipping Address:", class: "col-sm-4 control-label" %>
        <div class="col-sm-8">
          <%= f.collection_select :shipping_id, Address.where(:user_id => @user.id), :id, :street_address, {}, :class => "form-control" %>
        </div><br>
      </div>
      <div class="form-group">
      <div class="link-wrapper-left">
        <%= link_to("View Saved Addresses", "#") %>
      </div>
        <div class="button-wrapper col-sm-12">
          <%= f.submit "Save User", class: "btn btn-primary btn-group btn-group-lg" %>
        </div>
        <div class="link-wrapper-centre">
          <%= link_to("Delete #{user.first_name}", "/admin/users/#{:id}", :method => "DELETE", data: {confirm: "Are you sure?"}) if type == "Edit" %>
        </div>
      </div>
    <% end %>
  </div>

</div>