<div class="row">
  <div class="col col-xs-12">
  <h3>Order History</h3>  
  <br>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Order-Date</th>
        <th>Order-Value</th>
        <th>Status</th>
        <th>SHOW</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
    </thead>
    <tbody>
      <%@user_info['orders'].each do |order|%>
      <tr>
        <td><%=order.id%></td>
        <td><%=order.date%></td>
        <td><%=order.totals%></td>
        <td><%if order.checkout_date%>
               PLACED
            <%else%>
               UNPLACED
            <%end%>
        </td> 
        <td><%=link_to 'Show', "#"%></td>
        <td><%=link_to 'Edit', "#"%></td>
      </tr>
      <%end%>
    <tbody>
  </table>
  </div>
</div>
