<h1>Edit <%= @user.name %> (#<%= @user.id %>)</h1>

<%= render 'form', user: @user %>

<%= link_to 'Delete', admin_user_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete #{@user.name}? There is no getting it back." } %> | <%= link_to 'Cancel', admin_user_path(@user) %>
