<h1>Viking Store Users</h1>
<%= link_to "Create a New User", new_admin_user_path, class: "btn btn-lg btn-block btn-primary" %>
<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Joined</th>
    <th>City</th>
    <th>State</th>
    <th>Orders</th>
    <th>Last Order</th>
    <th>SHOW</th>
    <th>EDIT</th>
    <th>DELETE</th>
  </thead>
  <% @users.each do |user| %>
  <tr>
    <td><%= user[:id] %></td>
    <td><%= user[:first_name] + " " + user[:last_name]%></td>
    <td><%= user[:created_at] %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%= link_to "SHOW", "#" %></td>
    <td><%= link_to "EDIT" "#" %></td>
    <td><%= link_to "DELETE" "#" %></td>
    <% end %>
  </tr>
</table>
