<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="text-center">New User</h2>
  </div>
  <div class="panel-body">
    <h4>Demographic Information</h4>
    <%= form_for [:admin, @user] do |f| %>
      <%= render :partial => "shared/form_errors",
                 :locals => {obj: @user}
      %>

      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, :class => "form-control" %>
      </div>
      <!-- no method telephone for user -->
      <div class="form-group">
        <%= f.label :billing_id, "Default Billing Address" %>
        <%= f.select :billing_id,
                     @address_options,
                     {},
                     {:class => "form-control"}
        %>
      </div>
      <div class="form-group">
        <%= f.label :shipping_id, "Default Shipping Address" %>
        <%= f.select :shipping_id,
                     @address_options,
                     {},
                     {:class => "form-control"}
        %>
      </div>
      <!-- TODO: wire up -->
      <%= link_to "View Saved Addresses", "#" %>
      
      <%= f.button "Create", :class => "btn btn-primary btn-block btn-lg" %>
    <% end %>
  </div>
</div>
