<p class="right"><%= link_to 'Edit', edit_admin_user_path(@user) %></p>
<h1>User Details</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>Billing Address</th>
    <td><%= address(@user.billing_id) %></br>
    <%= @user.billing_address %></td>
  </tr>
  <tr>
    <th>Shipping Address</th>
    <td><%= address(@user.shipping_id) %></br>
    <%= @user.shipping_address %></td>
  </tr>
<!-- TO DO: fix weird address glitch -->
  <tr>
    <th>Test Billing</th>
    <td><%= @user.billing_address.street_address if @user.billing_address %></br>
    <%= @user.billing_address %></td>
  </tr>
</table>
