<p class="right"><%= link_to 'Edit', edit_admin_user_path(@user) %></p>
<h1>User Details</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>
      Addresses<br>
      <%= link_to 'See All Addresses', '#' %><br>
      <%= link_to 'Create Address', '#' %>
    </th>
    <td>
      <p><strong>Billing:</strong><br> <%= address(@user.billing_id) %></p>
      <p><strong>Shipping:</strong><br> <%= address(@user.shipping_id) %></p>
    </td>
  </tr>
  <tr>
    <th>Payment Info</th>
    <td>
      <% @user.credit_cards.each do |card| %>
        <p><%= card.nickname %> | <%= card.brand %> | <%= card.exp_month %>/<%= card.exp_year %> | <%= link_to 'Delete', admin_credit_card_path(card, user_id: @user), method: :delete, data: { confirm: "Are you sure you want to delete #{card.nickname}? There is no getting it back." } %></p>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>
      Order History<br>
      <%= link_to 'View Cart', '#' if @user.cart? %><br>
      <%= link_to 'Create Order', '#' %>
    </th>
    <td>
      <% @user.purchased_orders.each do |order| %>
      <p>#<%= link_to order.id, admin_order_path(order) %>: <%= order.checkout_date.to_date %>, $<%= order.value %> | <%= link_to 'Edit', edit_admin_order_path(order) %> | <%= link_to 'Delete', admin_order_path(order), method: :delete, data: { confirm: "Are you sure?" } %></p>
      <% end %>
    </td>
  </tr>
</table>
