<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="text-center">
      <%= "User #{@user.id}: #{@user.first_name} #{@user.last_name}" %>
    </h3>
  </div>
  <div class="panel-body">
    <h4>Demographic Information</h4>
    <%= render :partial => "shared/table_vertical",
               :locals => {:keys => @demographic_info.keys,
                           :objs => [@demographic_info]}
    %>

    <p>
      <%= link_to "[Edit]", edit_admin_user_path(@user.id) %>
    </p>
    <p>
      <%= link_to "[Delete]", admin_user_path(@user.id),
                  :method => :delete
       %>
    </p>
    <p>
      <%= link_to "[View Saved Addresses]", admin_addresses_path(:user_id => @user.id) %>
    </p>
    <p>
      <!-- TODO (only clickable if the user has a cart) -->
      <!-- TODO if he doesnt have an open cart, then the link is not clickable -->
      <%= link_to "[View Unplaced Order (Cart)]", edit_admin_user_path(@user.id) %>
    </p>

    <h4>Credit Card Information</h4>
    <% @credit_cards.each do |cc| %>
    <table class="table">
      <tr>
        <th>nickname</th>
        <td><%= cc.nickname %></td>
      </tr>
      <tr>
        <th>Number</th>
        <td><%= cc.card_number %></td>
      </tr>
      <tr>
        <th>Expiration</th>
        <td><%= "#{cc.exp_year}-#{cc.exp_month}" %></td>
      </tr>
      <tr>
        <th>CCV</th>
        <td><%= cc.ccv %></td>
      </tr>
      <tr>
        <!-- TODO link to destroy card with confirmation msg -->
        <th><%= link_to "Remove Card", "#" %></th>
      </tr>
    </table>
    <% end %>

    <h4>Admin Actions for <%= @demographic_info["full_name"] %></h4>
    <!-- TODO Order: Wire up; link to the create pages for these resources but will
    make them scoped just to this user -->
    <!-- TODO create childs with the foreign key already filled in -->
    <%= link_to "Create Order", "#",
                :class => "btn btn-primary btn-block btn-lg"
    %>
    <%= link_to "Create Address",
                new_admin_address_path(:user_id => @user.id),
                :class => "btn btn-primary btn-block btn-lg"
    %>

    <h4>Order History</h4>
    <table class="table table-bordered">
      <tr>
        <th>id</th>
        <th>Order Date</th>
        <th>Order Value</th>
        <th>Status</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <% @order_history.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.created_at.strftime('%F') %></td>
        <td><%= order.value %></td>
        <% if order.checkout_date.nil? %>
        <td><span class="alert-danger">UNPLACED</span></td>
        <% else %>
        <td>PLACED</td>
        <% end %>
        <!-- TODO wire up -->
        <td><%= link_to "show", "#" %></td>
        <td><%= link_to "edit", "#" %></td>
        <td><%= link_to "delete", "#" %></td>
      </tr>
      <% end %>
    </table>

  </div>
</div>
