<section id="edit-or-new">

  <header class="text-center">
    <h3><%= form_header %></h3>
  </header>

  <%= form_for object do |f| %>

  	<p>
     <%= f.label :id, "ID: " %>
     <%= f.text_field :id, :placeholder => (object.id || 'n/a'), :readonly => true %>
    </p>
    <p>
      <%= f.label :name, "Name: " %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :sku, "SKU: " %>
      <%= f.text_field :sku %>
    </p>
    <p>
      <%= f.label :price, "Price: $" %>
      <%= f.text_field :price %>
    </p>
    <p>
      <%= f.label :category_id, "Category: " %>
      <%= f.collection_select(:category_id, Category.all, :id, :name, include_blank: true ) %>
    </p>
    
    <br>
    <%= button_to submit_label, object, :class => "btn btn-primary btn-lg center-block", :method => :post %>

    <% if form_type == 'edit' %>
      <%= link_to 'Delete', object, data: {:confirm => "Are you sure?"}, :method => :delete %>
    <% end %>

  <% end %>

</section>