<tbody>
  <% @products.each do |product|%>
    <tr>
      <td><%=product.id%></td>
      <td><%=product.name%></td>
      <td>$<%=number_with_precision(product.price, precision: 2,
                                    delimiter: ",") %></td>
      <td><%=product.category ? product.category.name : "(deleted)" %></td>

      <td><%=link_to "show", product_path(product)%></td>
      <td><%=link_to "edit", edit_product_path(product)%></td>
      <td><%=link_to "delete", product_path(product),
                      data: { confirm: "Are you sure?" },
                      method: :delete %></td>
    </tr>
  <% end %>
</tbody>