<div class="col-md-4">
  <div class="product-container">
    <%= form_for(order) do |order_form| %>
      <%= order_form.hidden_field :id %>
      
      <% order.order_contents.select(&:persisted?).each do |order_item| %>
        <%= order_form.fields_for :order_contents, order_item do |order_contents_form| %>
          <%= order_contents_form.hidden_field :product_id %>
          <%= order_contents_form.hidden_field :quantity %>
        <% end %>
      <% end %>

      <% new_item = order.order_contents.select(&:new_record?) %>
      <%= order_form.fields_for :order_contents, new_item do |order_contents_form| %>
        <%= order_contents_form.hidden_field :product_id, value: product.id %>
        <%= order_contents_form.hidden_field :quantity, value: "1" %>
      <% end %>
      
      <div class="banner-box">
        <h3><%= product.name %></h3>
      </div>
      <div class="img-container">
        <%= image_tag "placeholder.png", alt: product.name %>
        <div class="price">
          <%= number_to_currency(product.price) %>
        </div>
      </div>
      <div class="banner-box">
        <%= order_form.submit "Add to Cart" %>
      </div>
    <% end %>
  </div>
</div>