<% content_for :title do %>
  <title>Viking Store Admin Portal</title>
<% end %>
<div class="row">
  <%= render partial: "shared/admin_navbar" %>
   
  <div class="col-md-9 main-content">
    <h2 class="text-center">Edit Product <%=@product.id %></h2>

    <%= form_for(@product) do |t| %>
      <table>
        <tbody>
          <tr>
            <td><strong>Product ID:</strong></td>
            <td> N/A</td>
          </tr>
           <tr>
            <td><strong>SKU</strong></td>
            <td><%= t.text_field :sku %></td>
          </tr>
          <tr>
            <td><strong>Name</strong></td>
            <td><%= t.text_field :name %></td>
          </tr>
          <tr>
            <td><strong>Price</strong></td>
            <td><%= t.text_field :price %></td>
          </tr>
          <tr>
            <td><strong>Category</strong></td>
            <td>
              <%= t.select :category_id, 
                  @categories.map {|c| [c.name, c.id]}  %> 
            </td>
          </tr>
        </tbody>
      </table>
      <br />

      <p><%= t.submit "Update product", class: "btn btn-primary btn-lg btn-block" %></p>

    <% end %> 

    <%= link_to "Delete product", product_path(@product),
                      data: { confirm: "Are you sure?" },
                      method: :delete %>
  </div>
</div>