<%= render partial: 'shared/admin_header' %>
<div class="container">

  <div class="row">
    <%= render partial: 'shared/nav' %>

    <article class="col-sm-9">
      <h2 class="text-center">New Product</h2>

      <%= form_for @product do |c| %>
        <div class="form-group">
          <%= c.label 'Product ID:', class: "control-label" %>
          <span><%= @product.id %></span>
          <%= c.hidden_field :product_id, value: @product.id %>
        </div>

        <div class="form-group">
            <%= c.label 'Name:', class: "control-label" %>
            <%= c.text_field :name, placeholder: "enter a name", class: 'form-horizontal' %>  
        </div>

        <div class="form-group">
            <%= c.label 'Price:', class: "control-label" %>
            <%= c.number_field :price, placeholder: "price", class: 'form-horizontal' %>  
        </div>

        <div class="form-group">
            <%= c.label 'SKU:', class: "control-label" %>
            <%= c.number_field :sku, placeholder: "sku", class: 'form-horizontal' %>  
        </div>

        <div class="form-group">
            <%= c.label 'Category:', class: "control-label" %>
            <%= c.select(:category_id) do %>
              <% @categories.each do |cat| %>
                <%= content_tag(:option, cat.name, value: cat.id) %>
              <% end %>
            <% end %>
        </div>

        <div class="form-group">
          <%= c.submit 'Create Product', class: 'btn btn-primary center-block extend' %>
        </div>
      <% end %>

      <h5 class="text-center">
        <%= link_to 'Delete Product', @product, method: 'delete', data: { confirm: 'Are you sure?' } %>
      </h5>

    </article>

  </div>
</div>


