<div class="row">

<h2 style="text-align:center;">Products</h2>
<button class="btn btn-large btn-primary new_category"><%= link_to "Add a New Product", new_product_path %></button>



<div class="panel panel-default">
	<table class="table">
		<thead>
			<td>ID</td>
			<td>Name</td>
			<td>Price</td>
			<td>Category</td>
			<td>SHOW</td>
			<td>EDIT</td>
			<td>DELETE</td>
		</thead>
		<% @products.each do |product| %>
			<tr>
				<td><%= product.id %></td>
				<td><%= product.title %></td>
				<td><%= product.price %></td>
				<td><%= link_to product.category.name, product.category if product.category %></td>
				<td><%= link_to 'show', product %></td>
				<td><%= link_to 'edit', edit_product_path(product) %></td>
				<td><%= link_to "Delete", product, method: :delete, data: { confirm: "You sure?" } %></td>

			</tr>
		<% end %>



	</table>

</div>