<div class="row">
  <div class="col col-xs-12">
    <h1 class="page-header text-center">All Products</h1>
  </div>
</div>

<div class="row">
  <div class="col col-xs-12">
    <div class="text-center">

      <form method="get" action="/products">
        <select name="category_id">
          <%= @categories.each do |category| %>
            <option value="<%= category.id %>"><%= category.name %></option>
          <% end %>
        </select>
        <input type="submit" value="Apply Filter" name="submit">
      </form>

      <br>
    </div>
  </div>
</div>

<form method="get" action="/cart/edit">
<% index = 0 %>
<% len = @products.size %>

<% while index < len %>
  <div class="row">

    <% 6.times do %>
      
      <% product = @products[index] %>

      <div class="col-xs-2">
        <a href="some.jpg" class="thumbnail">
          <p><%= product.name %></p>
          <img src="some.jpg">
        </a>
        <button type="submit" name="product_id" 
              value="<%= product.id %>">
              Add to Cart
        </button>
      </div>

      <% index += 1 %>
      <% if index >= @products.size %>
        <% break %>
      <% end %>

    <% end %>

  </div>
<% end %> 
</form>   
<br>