<h2>Products</h2>

<%= link_to "Add a New Product", new_product_path , class: "btn btn-primary" %>


<table class="table">
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Price</th>
		<th>Category</th>
		<th>SHOW</th>
		<th>EDIT</th>
		<th>DELETE</th>
	</tr>

	<% @products.each do |product| %>
	<tr>
		<td><%= product.id %></td>
		<td><%= product.name %></td>
		<td><%= product.price %></td>
		<td><%= link_to product.category.name, category_path(product.category.id) %></td>
		<td><%= link_to "SHOW", product_path(product) %></td>
		<td><%= link_to "EDIT", edit_product_path(product) %></td>
		<td><%= link_to "DELETE", product_path(product), method: :delete, data: {confirm: "Are you Sure?"} %></td>
	</tr>
	<% end %>

</table>	