<div class="Cover text-center">
	<h1>The Viking Store</h1>

	<h2>The Best Viking Gear on the Whole Web</h2>

	<h3>Choose from among our lineup of fine items below</h3>
</div>

<div class="row">
	<div class="col-sm_12">
		<form action= <%= products_path %>>
			<%= select_tag(:filter_category, options_for_select(Category.all.map{|c| [c.name, c.id] }), {include_blank: true, :prompt => @filter_category }) %>
			<input type="submit", value="Order by Category", class= "btn btn-primary">
		</form>
	</div>
</div>

<div class="row">

	<% @products.each do |product| %>
		<div class="col-sm-4 item-card">
			<div><%= product.name %></div>
			<div><%= product.price %></div>
			<div><%= link_to "Add to Cart", shopping_cart_path(:product => product.id), method: :post %></div>
		</div>
	<% end %>

</div>