<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <div class="well">
      <h1 class="text-center">Products</h1>
      <%= link_to "Add New Product", new_product_path, :class => "btn btn-primary pull-right" %>
      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>SHOW</th>
          <th>EDIT</th>
          <th>DELETE</th>
        </tr>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= product.name %></td>
            <% if @products_categories[product.id].first != nil %>
              <td><%= link_to @products_categories[product.id].first[:name], category_path(@products_categories[product.id].first[:id])  %></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= number_to_currency product.price %></td>
            <td><%= link_to "show", product_path(product.id) %></td>
            <td><%= link_to "edit", edit_product_path(product.id) %></td>
            <td><%= link_to "delete", product_path(product.id),  method: :delete, data: { confirm: "Are you sure?" }%></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>