<div class="row">
  <div class="col col-xs-12">
    <h1 class="page-header text-center">All Products</h1>
  </div>
</div>
<div class="row">
  <div class="col col-xs-12">
    <a class="btn btn-success btn-block" href=<%=new_product_path%> role="button">
        Add New Product
    </a>
    <br>
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>SKU</th>
          <th>Price</th>
          <th>Category ID</th>
          <th>SHOW</th>
          <th>EDIT</th>
          <th>DELETE</th>
        </tr>
      </thead>
      <tbody>
        <%@products.each do |product|%>
        <tr>
          <td><%=product.id%></td>
          <td><%=product.name%></td>
          <td><%=product.description%></td>
          <td><%=product.sku%></td>
          <td><%=number_to_currency(product.price)%></td>
          <td><%=product.category_id%></td>
          <td><%=link_to 'Show', product_path(product.id)%></td>
          <td><%=link_to 'Edit', edit_product_path(product.id)%></td>
          <td><%=link_to 'Delete', product, method: "delete" %></td>
        </tr>
        <%end%>
      <tbody>
    </table>
  </div>
</div>
