<div class="page-header text-center">
  <h1>New Product</h1>
</div>
<div class='container'>
  <div class='row'>
    <% unless flash[:error].nil? %>
      <div class="alert alert-danger"><%= flash[:error] %></div>
    <% end %>
    <%= form_for @product do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: 'enter a name'%>
      <br/>
      <%= f.label :price %>
      <%= f.text_field :price, placeholder: '$price' %>
      <br/>
      <%= f.label :category %>
      <%= f.select :category, Category.all.map {|category| [category.name, category.id] }, include_blank: true %>
      <br/>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>