<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= @product.name %>
      <span class="pull-right">
        SKU: <%=  @product.sku %>
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <%= @product.description %>
    <span class="pull-right">
    Price: <%= number_to_currency @product.price %>
    </span>
    <br>
    Num Orders : <%= @num_orders %>
    <span class="pull-right">
    Num Carts : <%= @num_carts %>
    </span>
  </div>
</div>

<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-lg btn-primary"%>
<%= link_to 'Delete', product_path(@product),  method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-lg btn-danger"%>
