<h1 class="text-center">
  <%= @product.id %>
</h1>

<h3>Product id:  <span class="show-product"><%= @product.id %></span></h3> 

<h3>Name:  <span class="show-product"><%= @product.name %> </span> </h3>

<h3>Price:  <span class="show-product"><%= @product.price %> </span></h3>

<h3>Category:  <span class="show-product"><%= @product.category.name %></span></h3>


<h2>Product Statistics</h2>

<h3>Times product ordered:  <span class="show-product"><%= @product.times_ordered %></span></h3>

<h3>Carts product in:  <span class="show-product"><%= @product.carts_in %></span></h3>



edit product link
delete product link
