<% @page_title = " | Product" %>
<h3>Product Information</h3>
<table>
	<tr>
		<td><b>id:</b></td>
		<td><%= @product.id %></td>
	</tr>
	<tr>
		<td><b>name:</b></td>
		<td><%= @product.name %></td>
	</tr>
	<tr>
		<td><b>price:</b></td>
		<td><%= @product.price %></td>
	</tr>
	<tr>
		<td><b>category:</b></td>
		<td><%= @category_name %></td>
	</tr>
</table>

<h3>Product Statistics</h3>
<table>
	<tr>
		<td><b>Times Ordered:</b></td>
		<td><%= @times_ordered %></td>
	</tr>
	<tr>
		<td><b>Carts In:</b></td>
		<td><%= @number_of_carts_in %></td>
	</tr>
</table>

<br>

<%= link_to 'Edit Product', edit_product_path %>
<br>
<%= link_to 'Delete Product', 
						product_path, 
						data: {:confirm => 'Are you sure?'}, 
						:method => :delete %>
