
<h5 class="text-center">Navigation</h5>
<div><%= link_to "Users", admin_users_path%></div>
<div><%= link_to "Addresses", admin_addresses_path%></div>
<div><%= link_to "Orders", admin_orders_path%></div>
<div><%= link_to "Products", admin_products_path%></div>
<div><%= link_to "Categories", admin_categories_path%></div>
<hr>
<div><%= link_to "Analytics Dashboard", admin_root_path%> </div>
