<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Quantity</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Today</td>
    <td><%= Order.number_of_orders(7) %></td>
    <td>$500</td>
  </tr>
  <tr>
    <td>Yesterday</td>
    <td><%= Order.number_of_orders(7) %></td>
    <td>$500</td>
  </tr>
    <tr>
    <td>2/20</td>
    <td><%= Order.number_of_orders(7) %></td>
    <td>$500</td>
  </tr>
    <tr>
    <td>2/19</td>
    <td><%= Order.number_of_orders(7) %></td>
    <td>$500</td>
  </tr>
    <tr>
    <td>2/18</td>
    <td><%= Order.number_of_orders(7) %></td>
    <td>$500</td>
  </tr>
</table>