<div id="store">
<!--   <div class="navbar">
    <div class="logo">Viking Store</div>
    <div class="navbar-elements">
        <div class="cart-image"><img src="http://s3.amazonaws.com/viking_education/demos/viking_store_app/icon_empty_cart.png" width="30px" height="30px"></div>
        <ul class="nav navbar-nav navbar-right">
          <li class="cart">Login </li>
          <li class="cart"> Your Cart</li>
        </ul>
        
    </div> 

  </div> -->
<!--  ======================Products============================ -->
<!-- <a class="btn btn-primary" data-toggle="modal" href="#myModal" >Login</a> -->

<div class="jumbotron">
  <h1>The Viking Store</h1>
</div>
<div class="heading1">
  <h2>The Best Viking Gear on the Whole Web</h2>
</div>
<div class="sub-heading">
  <h3>Choose from among our lineup of products below</h3>
</div>
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <ul class="nav navbar-nav pull-right">
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <% @categories.each do |cat| %>
                  <li> <%= link_to cat.name, home_path(:cat_id => cat.id) %> </li>

                  <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="store-frame">
      <div class="product-wrapper row">
        <div class="text-center">
         <%= will_paginate @products %>
        </div>
        <% @products.each do |product| %>
          

          <div class="col-md-4 text-center">
            <div class="title">
              <h4><%= product.name %></h4>
            </div>
            <div class="pimg">
              <div class="price"><%= product.price %></div>
              <%= image_tag "https://s3.amazonaws.com/viking_education/demos/viking_store_app/axe_silent_night_small.jpg", class: "img-responsive img-thumbnail", style: "height:150px;width:150px" %>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <%= link_to "Add to Cart", add_to_cart_path( {product_id: product.id } ), class: 'btn btn-lg btn-success' %>
              </div>
            </div>

          </div>
          <% end %>
          <div class="text-center">
           <%= will_paginate @products %>
          </div>

      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  jQuery(document).ready(function($){
  $('#myModal').modal('options')
  var body = $( 'show' );
});

</script>