<div class="admin-leftbar">
<h2 class="admin-leftbar">Navigation Options</h2>
<ul class="admin-leftbar">
	<li><%= link_to "Users", '#'%></li>
	<li><%= link_to "Addresses", '#'%></li>
	<li><%= link_to "Orders", '#'%></li>
	<li><%= link_to "Products", '#'%></li>
	<li><%= link_to "Categories", '#'%></li>
</ul>
<p><%= link_to "Analytics Dashboard", dashboard_index_path %></p>
</div>