<!DOCTYPE html>
<html>
	<head>
	  <title>The Viking Store <%= @page_title %></title>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>

	  <!-- Meta Stuff -->
	  <meta charset="utf-8">

	  <!-- Bootstrap CSS -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	  <!-- jQuery -->
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	  <!-- Bootstrap Javascripts -->
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</head>
	<body>

		<nav id="topnav" class="navbar navbar-default">
		  <div class="logo-container">
		    <img class="pull-left" src="http://seeklogo.com/images/V/v-tele-logo-053AACAF21-seeklogo.com.gif">
		    <a class="navbar-brand" href="#">
		      The Viking Store
		    </a>
		  </div>
		</nav>

		<main class="container">

			<div class="row">
	      <div class="col-md-8 col-md-offset-2 ">
	        <header>
	          <h1>Viking Store Admin Portal</h1>
	        </header>
	      </div>
	    </div>

	    <div class="row">
	    	<div class="col-md-2 side-nav">
	    		<h6>Navigation Options</h6>
	    		<ul>
	    			<a href="#"><li>Users</li></a>
	    			<a href="#"><li>Addresses</li></a>
	    			<a href="#"><li>Orders</li></a>
	    			<a href="#"><li>Products</li></a>
	    			<a href="#"><li>Categories</li></a>
	    		</ul>
	    		<hr>
	    		<ul>
	    			<a href="#"><li>Analytics Dashboard</li></a>
	    		</ul>
	    	</div>
	    	<div class="col-md-10 main-content">
	    		<%= yield %>
	    	</div>
	    </div>

		</main>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>

	</body>
</html>
