<!DOCTYPE html>
<html>
  <head>
    <title>Project Viking Store</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
    <%= render 'shared/flash' %>
      <h1 class="text-center">Viking Store Admin Portal</h1>
      <div class="row">
        <div class="col-sm-3">
          <%= render 'shared/admin_nav' %>
        </div>
        <div class="col-sm-9">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>