<!DOCTYPE html>
<html>
<head>
  <title>Viking Store Admin Portal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>

<h1 class='text-center page-header'>Viking Store Admin Portal</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-3 navbar navbar-left navbar-default text-center">
    <h3>Navigation Options</h3>
    <div><%= link_to "Users" %></div>
    <div><%= link_to "Addresses" %></div>
    <div><%= link_to "Orders" %></div>
    <div><%= link_to "Products" %></div>
    <div><%= link_to "Categories", categories_path %></div>
    <hr>
    <div><%= link_to "Analytics Dashboard", dashboard_index_path %></div>
    <hr>
    </div>
  </div>
</div>




<%= yield %>

</body>
</html>