<!DOCTYPE html>
<html>
<head>
  <title>SolutionVikingStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <!-- header -->
    <div class="row">
      <header>
      <div class="col-xs-12">
        <strong><h1>Viking Store Admin Portal</h1></strong>
      </div>
      </header>
    </div>
    <div class="row">
      <!-- navigation -->
      <div class="col-xs-3">
       <p><%= link_to "Users", users_path %></p>
       <p><%= link_to "Addresses", addresses_path %></p>
       <p><%= link_to "Orders", orders_path %></p>
       <p><%= link_to "Products", products_path %></p>
       <p><%= link_to "Categories", categories_path %></p>
       <p><%= link_to "Analytics Dashboard", root_path %></p>
      </div>
      <!-- holds the changer -->
      <div class="col-xs-9">
        <% flash.each do |name, message| %>
          <%= content_tag :div, message, class: "alert alert-info" %>
        <% end %>
        <%= yield %>
      </div>
    </div>   
  </div>
</body>
</html>
