<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
    <title><%= site_name %></title>

    <%= render :partial => 'shared/meta' %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <main id="main" class="container">
      <header class="page-header">
        <h1><%= site_name %></h1>
      </header>
      <%= render :partial => 'shared/flash' %>
      <div class="row">
        <div class="col-md-2">
          <%= render :partial => 'admin/nav' %>
        </div>
        <div class="col-md-10">
          <%= yield %>
        </div>
      </div>
    </main>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </body>
</html>