<!DOCTYPE html>
<html>
<head>
  <title>SolutionVikingStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col col-xs-12" id="rcorners">    
        <div class="navbar">
          <a class="navbar-brand" href="<%= root_path %>">
            <h3>Viking Store</h3>
          </a>
          <h3>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Your Cart</a></li>
            <li><%=link_to "Sign In", new_session_path%></li>
          </ul>
        </h3>
        </div>
      </div>   
    </div>

    <div class="row">
      <div class="col col-xs-12">
        <% flash.each do |type, message| %>
          <h2 class='<%= type %> alert alert-info'><%= "#{message}" %>
        <% end %>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <%= yield %>
        <br>
        <br>
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="text-center">
              Contact
              <%= link_to "Admin Portal", admin_dashboard_path%>
            </p>
          </div>  
          <div class="panel-body">
            <p class="text-center">1-800-900-9010<br>vikingstore@gmail.com</p>
          </div>
        </div>
      </div>
    </div> 
  </div>


</body>
</html>
