<!DOCTYPE html>
<html>
<head>
  <title>SolutionVikingStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
        <h1 class="page-header text-center">Viking Store Admin Portal</h1>
      </div>
    </div>


    <div class="row">
      <div class="col col-xs-12">
        <% flash.each do |type, message| %>
          <h2 class='<%= type %> alert alert-info'><%= "#{message}" %>
        <% end %>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-3">
        <%= render partial: 'shared/navbar'%>
      </div>
      <div class="col-xs-9">
        <%= yield %>
      </div>
    </div>

  </div>


</body>
</html>
