<!DOCTYPE html>
<html>
<head>
  <title>VikingStore</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <header class = "row">
    <div class = "col-md-12 centered">
      <h1>Viking Store Admin Portal</h1>
    </div>
  </header>

  <div class = "row">
    <%=render "shared/navbar" %>

    <main class = "col-md-8 col-md-offset-1 admin-main">
      <%= render "shared/flash" %>
      

      <!--main content here -->
      <%= yield %>
    </main>
  </div>


</div>

</body>
</html>
