<!DOCTYPE html>
<html>
<head>
  <title>Viking Store</title>

  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'shared/navbar' %>
<hr><br>
<div class="container">
  <%= render partial: "shared/flash_messages", flash: flash %>
  <h1 class="text-center">Viking Store Admin Panel</h1>

<div class="row">
  <div class="col-md-2 side-nav">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Navigation</h3>
      </div>
      <div class="panel-body">

        <ul class="nav nav-pills">
          <li><a href="#">Home</a></li>
          <li><a href="#">Orders</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">address</a></li>
        </ul>
        <hr>

        <ul class="nav nav-pills">
          <li><a href="#">Analytics Dashboard</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-10 main-content">
      <%= yield %>
  </div>
</div>

  

</div>
</body>
</html>
