<!DOCTYPE html>
<html>
  <head>
    <title>Viking Store Admin Portal</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>


  <body>

    <div class='container'>


      <div class='row'>
        <div class='col-xs-12'>
          <header id='portal-header'>
            <h1 class='text-center'>Viking Store Admin Portal</h1>
          </header>
        </div>
      </div>


      <div class='row'>
        <div class='col-xs-3'>

          <nav id='navbar'>
            <h5 class='text-center'><strong>Navigation Options</strong></h5>

            <div class='row'>
              <div class='col-xs-8 col-xs-offset-2'>

                <ul class='nav nav-stacked nav-condensed'>

                  <li class='text-center'><%= link_to 'Users', '#' %></li>
                  <li class='text-center'><%= link_to 'Addresses', '#' %></li>
                  <li class='text-center'><%= link_to 'Orders', '#' %></li>
                  <li class='text-center'><%= link_to 'Products', '#' %></li>
                  <li class='text-center'><%= link_to 'Categories', '#' %></li>

                  <div class='dashboard-link'>
                    <li class='text-center'><%= link_to 'Analytics Dashboard', '#' %></li>
                  </div>

                </ul>

              </div>
            </div>



          </nav>

        </div> <!-- column -->


        <div class='col-xs-9'>

          <%= bootstrap_flash %>
          <%= yield %>

        </div> <!-- column -->


      </div> <!-- row -->
    </div> <!-- container -->

  </body>


</html>