<!DOCTYPE html>
<html>
  <head>
    <title>Viking Store Admin Portal</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>


  <body>

    <div class='container'>


      <header>
        <div class='row'>
          <div class='col-xs-12'>
              <h1>Viking Store Admin Portal</h1>
          </div>
        </div>
      </header>

      <%= bootstrap_flash %>

      <div class='row'>
        <div class='col-xs-3'>

          <nav id='navbar'>
            <h4>Navigation Options</h4>

            <%= link_to 'Users', '#' %>
            <%= link_to 'Addresses', '#' %>
            <%= link_to 'Orders', '#' %>
            <%= link_to 'Products', '#' %>
            <%= link_to 'Categories', '#' %>

            <div class='dashboard_link'>
              <%= link_to 'Analytics Dashboard', '#' %>
            </div>

          </nav>

        </div> <!-- column -->


        <div class='col-xs-9'>

          <%= yield %> <!-- sections -->

        </div> <!-- column -->


      </div> <!-- row -->
    </div> <!-- container -->

  </body>


</html>